<?php
$meta = $this->question->meta ? Zend_Json::decode($this->question->meta) : array('condition'=>'');
?>
<div class="clearfix"><br></div>
<form class="form-inline" action="<?= $this->url(array(
    'module' => 'statflow',
    'controller' => 'question',
    'action' => 'edit-interval')); ?>" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" name="question_id" value="<?= $this->question->id; ?>">
        <label><?= $this->translate('image@backoffice'); ?> : </label>
        <input type="file" class="form-control" name="image" />
    </div>
        <div class="form-group">
            <label><?= $this->translate('condition_display@backoffice'); ?> :
                <input type="text" class="form-control" name="condition"
                       placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )"
                       value="<?= isset($meta['condition']) ? $meta['condition'] : ''?>">
        </label>
    </div>
    <button class="btn green-haze pull-right">
        <?= $this->translate('submit@backoffice'); ?><i class="icon-check"></i>
    </button>
    <br>
</form>
<hr>