<div class="clearfix">
    <form class="form-inline" action="<?= $this->url(array(
        'module' => 'statflow',
        'controller' => 'question',
        'action' => 'edit-interval'))?>" method="post">
            <?php $meta = $this->question->meta ? Zend_Json::decode($this->question->meta) : array(
                'cols'=>'80',
                'rows'=>'4',
                'condition' => '',
                'colourCode'=>''
            ); ?>
        <div class="form-group">
            <input type="hidden" name="question_id" value="<?= $this->question->id; ?>">
            <label><?= $this->translate('condition_display@backoffice'); ?> :</label>
            <input type="text" id="condition_QO_<?= $this->question->id; ?>" class="form-control"
                   name="condition" placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )"
                   style="margin-left: 10px; width: 350px;"
                   value="<?= isset($meta['condition']) ? $meta['condition'] : ''?>">
            <BR/><BR/>

            <?= $this->translate('Columns@backoffice'); ?> :
            <input type="text" style="margin-left: 10px; width: 100px;" class="form-control" placeholder="ex: 999" id="cols_QO_<?= $this->question->id; ?>"  name="cols" value="<?= isset($meta['cols']) ? $meta['cols'] : ''?>">
            <?= $this->translate('Rows@backoffice'); ?> :
            <input type="text" style="margin-left: 10px; width: 100px;" class="form-control" placeholder="ex: 999" id="rows_QO_<?= $this->question->id; ?>"  name="rows" value="<?= isset($meta['rows']) ? $meta['rows'] : ''?>">
            <BR/><BR/>

            <?= $this->translate('data_format@backoffice'); ?> :
            <input type="text" id="dataFormat_QO_<?= $this->question->id; ?>" class="form-control"
                   name="dataFormat" placeholder="ex: ^[0-9]{2}$"
                   style="margin-left: 10px; width: 350px;"
                   value="<?= isset($meta['dataFormat']) ? $meta['dataFormat'] : ''?>">
            <BR/><BR/>
            <div class="col-md-3">
                <?= $this->translate('colour_code@backoffice'); ?> :
            </div>
            <div class="col-md-4">
                <input type="text" id="colourCode_QO_<?= $this->question->id; ?>" class="form-control demo"
                       name="colourCode" data-position="top right"
                       value="<?= isset($meta['colourCode']) ? $meta['colourCode'] : ''?>">
            </div>


        </div>
        <BR/>
        <button class="btn green-haze pull-right" id="save_QO_<?= $this->question->id; ?>">
            <?= $this->translate('submit@backoffice'); ?><i class="icon-check"></i>
        </button>
    </form>
</div>
