<div class="clearfix"><br>
    <form class="form-inline" action="<?= $this->url(array(
        'module' => 'statflow',
        'controller' => 'question',
        'action' => 'edit-interval')); ?>" method="post">
        <?php
        $meta = $this->question->meta ? Zend_Json::decode($this->question->meta) : array('min' => '', 'max' => '','dontKnow' => 0, 'random' => 0, 'condition'=>'');
        ?>
        <div class="form-group">
            <input type="hidden" name="question_id" value="<?= $this->question->id; ?>">
            <input type="hidden" name="random" value="0">
            <label><?= $this->translate('condition_display@backoffice'); ?> :</label>
            <input type="text" id="condition_TAB_<?= $this->question->id; ?>" class="form-control"
                   name="condition" placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )"
                   style="margin-left: 10px; width: 370px;"
                   value="<?= isset($meta['condition']) ? $meta['condition'] : ''?>">
        </div>
        <div class="form-group" style="vertical-align: sub;">
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" id="random_TAB_<?= $this->question->id; ?>" name="random" value="1" <?= isset($meta['random']) && $meta['random'] ? 'checked':'' ?>>
                <span></span><?= $this->translate('random_questions_order@backoffice'); ?> ?</label>
        </div>
        <BR/><BR/>
        <button class="btn btn-xs green-haze pull-right" id="save_TAB_<?= $this->question->id; ?>">
            <?= $this->translate('submit@backoffice'); ?><i class="icon-check"></i>
        </button>
    </form>
</div>
<div class="clearfix"><hr>
    <form action="<?= $this->url(array(
        'module' => 'statflow',
        'controller' => 'question-entry',
        'action' => 'add'), null, true); ?>" method="post" class="pull-left">
        <input type="hidden" name="question_id" value="<?= $this->question->id; ?>">
        <input type="hidden" name="entry_type_id" value="2"?>
        <button class="btn btn-outline green-haze" id="ajouter-choix_<?= $this->question->id; ?>" type="submit">
            <?= $this->translate('add_choice@backoffice')?><i class="icon-plus"></i>
        </button>
    </form>
</div>

