<?php if ($this->question->question_entrys->count() == 0): ?>
<div class="clearfix"><br></div>
<form
    <?php $meta = $this->question->meta ? Zend_Json::decode($this->question->meta) : array('condition'=>''); ?>
    action="<?= $this->url(array(
        'module' => 'statflow',
        'controller' => 'question-entry',
        'action' => 'add'), null, true); ?>" method="post" class="form-inline">
    <div class="form-group">
        <input type="hidden" required name="question_id" value="<?= $this->question->id; ?>">
        <input type="hidden" required name="entry_type_id" value="5">
        <label><?= $this->translate('condition_display@backoffice'); ?> :</label>
        <input type="text" id="condition_INT_<?= $this->question->id; ?>" class="form-control"
               name="condition" placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )"
               style="margin-left: 10px; width: 370px;"
               value="<?= isset($meta['condition']) ? $meta['condition'] : ''?>">
    </div>
    <button class="btn pull-right green-haze" type="submit">
        <?= $this->translate('add@backoffice'); ?><i class="icon-plus"></i>
    </button>
</form>
<hr>
<?php endif; ?>