<div class="clearfix"><br>
    <form class="form-inline" action="<?= $this->url(array(
        'module' => 'statflow',
        'controller' => 'question',
        'action' => 'edit-interval')); ?>" method="post">
        <?php $meta = $this->question->meta ? Zend_Json::decode($this->question->meta) : array(
            'min'=>'',
            'max'=>'',
            'dontKnow'=> 0,
            'condition' =>''); ?>
        <div class="form-group">
            <input type="hidden" name="question_id" value="<?= $this->question->id; ?>">
            <input type="hidden" class="input-small" name="min" value="1">
            <input type="hidden" name="dontKnow" value="0">
            <input type="hidden" name="random" value="0">
            <label><?= $this->translate('condition_display@backoffice'); ?> :</label>
            <input type="text" id="condition_CLA_<?= $this->question->id; ?>" class="form-control"
                   name="condition" placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )"
                   style="margin-left: 10px; width: 370px;"
                   value="<?= isset($meta['condition']) ? $meta['condition'] : ''?>">
            <?= $this->translate('Max_choices@backoffice'); ?> :
            <input type="text" style="margin-left: 10px; width: 50px;" class="form-control" placeholder="999" id="max_CLA_<?= $this->question->id?>"
                   name="max" value="<?= isset($meta['max']) ? $meta['max'] : ''?>">
        </div>
        <BR/><BR/>
        <div class="form-group">
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" id="random_CLA_<?= $this->question->id; ?>" name="random" value="1" <?= isset($meta['random']) && $meta['random'] ? 'checked':'' ?>>
                <span></span><?= $this->translate('random_questions_order@backoffice'); ?> ?
            </label>
        </div>
        <button class="btn green-haze pull-right" id="save_CLA_<?= $this->question->id?>">
            <?= $this->translate('submit@backoffice'); ?><i class="icon-check"></i>
        </button>
        <BR/>
    </form>
</div>
<hr>
<div class="clearfix">
    <form method="post" action="<?= $this->url(array('module' => 'statflow',
            'controller' => 'question-entry',
            'action' => 'add'), null, true); ?>" class="form-inline pull-left margin-bottom-40">
        <div class="input-append">
            <input type="hidden" required name="question_id" value="<?= $this->question->id; ?>" />
            <select id="select-CLA_<?= $this->question->id; ?>" name="entry_type_id" class="form-control input-large">
                <?php foreach($this->modalities['QUESTION_TYPE_ORDERED'] as $value => $label): ?>
                    <option value="<?= $value; ?>"><?= $this->translate($label . '@backoffice'); ?></option>
                <?php endforeach; ?>
            </select>
            <button class="btn btn-outline green-haze" id="ajouter-CLA_<?= $this->question->id; ?>" type="submit">
                <i class="icon-plus"></i> <?= $this->translate('add@backoffice'); ?>
            </button>
        </div>
    </form>
</div>