<?php $meta = $this->question->meta ? Zend_Json::decode($this->question->meta) : array('inline'=>false, 'condition'=>'');?>
<div class="clearfix"><br>
    <form class="form-inline" action="<?= $this->url(array(
        'module' => 'statflow',
        'controller' => 'question',
        'action' => 'edit-interval')); ?>" method="post">
        <div class="form-group">
            <input type="hidden" name="question_id" value="<?= $this->question->id; ?>">
            <input type="hidden" name="random" value="0">
            <input type="hidden" name="inline" value="0">
            <label><?= $this->translate('condition_display@backoffice'); ?> :</label>
            <input type="text" id="condition_CU_<?= $this->question->id; ?>" class="form-control"
                   name="condition" placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )"
                   style="margin-left: 10px; width: 370px;"
                   value="<?= isset($meta['condition']) ? $meta['condition'] : ''?>">
        </div>
        <BR/><BR/>
        <div class="form-group">
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" id="random_CU_<?= $this->question->id; ?>" name="random" value="1" <?= isset($meta['random']) && $meta['random'] ? 'checked':'' ?>>
                <span></span><?= $this->translate('random_questions_order@backoffice'); ?> ?</label>
            <label class="mt-checkbox mt-checkbox-outline">
                <input type="checkbox" id="inline_CU_<?= $this->question->id; ?>" name="inline" value="1" <?= isset($meta['inline']) && $meta['inline'] ? 'checked':'' ?>>
                <span></span><?= $this->translate('Inline_display@backoffice'); ?> ?</label>
        </div>
        <button class="btn green-haze pull-right" id="save_CU_<?php echo $this->question->id; ?>">
            <?= $this->translate('submit@backoffice'); ?><i class="icon-check"></i>
        </button>
    </form>
</div>
<div class="clearfix">
<hr>
<form  method="post" class="pull-left form-inline margin-bottom-40" action="<?= $this->url(array('module' => 'statflow',
        'controller' => 'question-entry',
        'action' => 'add'), null, true); ?>">
    <div class="input-append">
        <input type="hidden" name="question_id" value="<?= $this->question->id; ?>">
        <select id="select-mcq_<?= $this->question->id; ?>" name="entry_type_id" class="form-control input-large">
            <?php foreach($this->modalities['QUESTION_TYPE_MCQ'] as $value => $label): ?>
                <option value="<?= $value; ?>"><?php echo $this->translate($label . '@backoffice'); ?></option>
            <?php endforeach; ?>
        </select>
        <button class="btn green-haze btn-outline" id="ajouter-mcq_<?= $this->question->id; ?>" type="submit">
            <?= $this->translate('add@backoffice'); ?> <i class="icon-plus"></i>
        </button>
    </div>
</form>
</div>