<div class="tab-pane" id="page<?= $this->page->id; ?>">
    <div class="portlet light">
        <div class="portlet-title">
            <div>
                <h4 class="caption-subject"><?= $this->translate('question_index_field_page@backoffice') . ' &laquo;' .  $this->translate('page_name-'.$this->page->id.'@form_'.$this->page->feedback_form_id) . '&raquo;'; ?></h4>
                <small><?= $this->translate('question_field_last_update@backoffice')?>
                    <?= $this->displayDateInLocale((!is_null($this->page->updated_at)) ? $this->page->updated_at : $this->page->created_at, Zend_Registry::get('Zend_Locale'))?>
                </small>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">
                    <a
                        id = "delete-<?= $this->page->id?>"
                        href="#delete-confirmation" role="button" data-toggle="modal"
                        class="btn red-sunglo btn-outline btn-delete"
                        data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'delete', 'id' => $this->page->id), null, true); ?>">
                        <i class="icon-trash"></i>
                        <?= $this->translate('delete_feedbackPage@backoffice'); ?>
                    </a>
                    <a
                        class="btn green-haze btn-outline"
                        id = "edit-<?= $this->page->id; ?>"
                        href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'edit', 'id' => $this->page->id), null, true); ?>">
                        <i class="icon-pencil"></i>
                        <?= $this->translate('edit_feedbackPage@backoffice'); ?>
                    </a>

                    <a  id="duplicate-<?= $this->page->id; ?>"
                        href="#duplicate-confirmation" role="button" data-toggle="modal"
                        class="btn blue-ebonyclay btn-outline btn-duplicate"
                        data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'duplicate', 'id' => $this->page->id), null, true); ?>">
                        <i class="icon-docs"></i>
                        <?= $this->translate('duplicate_feedbackPage@backoffice'); ?>
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-10"> </div>
                <div class="col-md-2">
                    <div class="btn-group btn-group-devided">
                        <a id="nouvelle-question" class="btn sbold green-haze" href="<?= $this->url(array(
                            'module' => 'statflow',
                            'controller' => 'question',
                            'action' => 'add',
                            'feedback_form_page_id' => $this->page->id
                        ), null, true); ?>">
                            <?= $this->translate('question_add@backoffice')?> <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="portlet box">
                        <div class="tabbable-custom nav-justified">
                            <ul class="nav nav-tabs">
                            <?php foreach($this->page->questions as $question):
                             if($question->parent_id) continue;?>
                                <li id="drag-<?= $question->id?>" data-value="<?= $question->id?>">
                                        <a id="btn-question<?= $question->id?>" class="alpha" data-toggle="tab" href="#question<?= $question->id?>">
                                            <i class="icon-move"></i>
                                            <i class="<?= $this->question_type_icons[$question->question_type_id]?>"></i>
                                            <?= $question->code; ?>
                                        </a>
                                </li>
                            <?php endforeach; ?>
                            </ul>
                            <div class="tab-content">
                                <?php foreach($this->page->questions as $question):
                                if($question->parent_id) continue;?>
                                    <div id="question<?= $question->id; ?>" class="tab-pane">
                                        <div class="col-md-10 margin-bottom-20">
                                            <h4><?= $this->translate('form__'.$question->feedback_form_id.'__question_title-'.$question->code.'@Form_'.$question->feedback_form_id)?></h4>
                                            <small><?= $this->translate('question_field_last_update@backoffice')?>
                                                <?= $this->displayDateInLocale((!is_null($question->updated_at)) ? $question->updated_at : $question->created_at, Zend_Registry::get('Zend_Locale'))?>
                                            </small>
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <a  id="supprimer-<?= $question->id; ?>" href="#delete-confirmation" role="button" data-toggle="modal"
                                                class="font-red-sunglo btn-delete" title="<?= $this->translate('delete_question@backoffice'); ?>"
                                                data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'delete', 'id' => $question->id), null, true); ?>">
                                                <i class="icon-trash"></i>
                                            </a>
                                            <a class="font-green-haze" title="<?= $this->translate('edit_question@backoffice')?>"
                                               href="<?= $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'edit', 'id' => $question->id), null, true); ?>">
                                                <i class="icon-pencil"></i>
                                            </a>
                                            <a
                                                href="#duplicate-confirmation" role="button" data-toggle="modal"
                                                class="font-blue-ebonyclay btn-duplicate" title="<?= $this->translate('duplicate_question@backoffice')?>"
                                                data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'duplicate', 'id' => $question->id), null, true); ?>">
                                                <i class="icon-docs"></i>
                                            </a>
                                        </div>

                                        <?php
                                        $partialForm = '';
                                        switch($question->question_type_id)
                                        {
                                            case 1: $partialForm = '_question_type_mcq'; break; //QUESTION_TYPE_MCQ
                                            case 2: $partialForm = '_question_type_interval'; break; //QUESTION_TYPE_INTERVAL
                                            case 3: $partialForm = '_question_type_ordered'; break; //QUESTION_TYPE_ORDERED
                                            case 4: $partialForm = '_question_type_open'; break; //QUESTION_TYPE_OPEN
                                            case 5: $partialForm = '_question_type_array'; break; //QUESTION_TYPE_ARRAY
                                            case 6: $partialForm = '_question_type_multiple_choices'; break; //QUESTION_TYPE_ARRAY
                                            case 7: $partialForm = '_question_type_image'; break; //QUESTION_TYPE_IMAGE
                                            case 8: $partialForm = '_question_type_multiple_images'; break; //QUESTION_TYPE_IMAGE
                                        }
                                        echo $this->partial('feedback-form-page/' . $partialForm . '.phtml', array(
                                            'questions' => $this->questions,
                                            'question' => $question,
                                            'question_types' => $this->question_types,
                                            'modalities' => $this->modalities
                                        ));
                                        ?>
                                    </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
