<div class="container-fluid gradient-background">
    <?= $this->partial('feedback-form-page/_builder_question_type_multiple_choices.phtml', array(
        'question' => $this->question,
        'modalities' => $this->modalities
    )); ?>
    <table class="table table-striped">
        <thead class="font-blue-ebonyclay">
            <tr>
                <th><?= $this->translate('questionEntry_type@backoffice'); ?><em class="font-red">*</em></th>
                <th>ID</th>
                <th><?= $this->translate('questionEntry_label@backoffice'); ?><em class="font-red">*</em></th>
                <th><?= $this->translate('questionEntry_condition@backoffice'); ?></th>
                <th><?= $this->translate('questionEntry_colour-code@backoffice'); ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <?php
            foreach($this->question->question_entrys as $entry):
                $complement_data = $entry->complement_data ? json_decode($entry->complement_data) : array (); ?>
            <tr>
                <form action="<?= $this->url(array(
                        'module' => 'statflow',
                        'controller' => 'question-entry',
                        'action' => 'edit',
                        'id' => $entry->id), null, true); ?>" method="post" id="form_entry<?= $entry->id; ?>">
                <td><?php
                    switch($entry->entry_type_id){
                        case 1 : $label = "MCQ_MODALITY_SIMPLE"; break;
                        case 2 : $label = "MCQ_MODALITY_EXCLUSIVE"; break;
                        case 3 : $label = "MCQ_MODALITY_COMPLEMENT"; break;
                    }
                    echo $this->translate( $label . '@backoffice'); ?>
                </td><td><?= $entry->id ?></td><td>
                    <input type="hidden" name="id" value="<?= $entry->id; ?>">
                    <input type="text"  class="form-control" name="content" disabled value="<?= $this->translate('form__question_'.$this->question->code.'_modality-'.$entry->id.'@form_'.$this->question->feedback_form_id); ?>">
                </td>
                <td>
                    <input type="text" class="form-control"  name="conditionMod"  placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )" value="<?php echo (isset($complement_data->conditionMod)) ? $complement_data->conditionMod : ''; ?>">
                </td>
                <td>
                    <input type="text" name="colourCode" class="form-control demo" data-position="bottom right" value="<?= isset($complement_data->colourCode) ? $complement_data->colourCode : '#0088cc'?>">
                </td>                
                <td class="align-right">
                    <a  id ='delete-cm-<?= $entry->id; ?>'
                        href="#delete-confirmation" role="button" data-toggle="modal"
                        class="pull-right font-red-sunglo btn-delete"
                        data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'question-entry', 'action' => 'delete', 'id' => $entry->id), null, true); ?>">
                        <i class="icon-trash"></i>
                    </a>
                   <a class="pull-right btn btn-xs btn-outline green-haze"
                        href="javascript:$('#form_entry<?php echo $entry->id; ?>').submit();">
                        <i class="icon-check"></i>
                    </a>
                </td>
                </form>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
