<div class="container-fluid gradient-background">
    <?= $this->partial('feedback-form-page/_builder_question_type_image.phtml', array(
        'question' => $this->question,
        'modalities' => $this->modalities
    )); ?>

    <div class="text-center">
        <?php
        $meta = $this->question->meta ? Zend_Json::decode($this->question->meta) : array('image'=>false);
        if(isset($meta['image']) && $meta['image']):
        ?>
            <img width="200" src="/uploads/questions/<?= $meta['image'] ?>">
        <?php endif;?>
    </div>
</div>