<div class="container-fluid gradient-background">
    <?= $this->partial('feedback-form-page/_builder_question_type_interval.phtml', array(
        'question' => $this->question,
        'modalities' => $this->modalities)); ?>
    <table class="table table-striped">
        <thead class="font-blue-ebonyclay">
        <tr>
            <th><?= $this->translate('questionEntry_interval@backoffice'); ?><em class="font-red">*</em></th>
            <th><?= $this->translate('questionEntry_additional_text@backoffice'); ?></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php
        foreach($this->question->question_entrys as $entry):
            $complement_data = (!is_null($entry->complement_data)) ? json_decode($entry->complement_data) : NULL;
            ?>
            <tr>
                <form id="form_entry<?= $entry->id?>" action="<?= $this->url(array(
                        'module' => 'statflow',
                        'controller' => 'question-entry',
                        'action' => 'edit', 'id' => $entry->id), null, true); ?>" method="post">
                    <td>
                        <div class="col-md-4">
                            <input required type="text" class="form-control" name="interval_min" placeholder="<?= $this->translate('questionEntry_interval_min@backoffice'); ?>" value="<?= !is_null($complement_data) ? $complement_data->interval_min : ''; ?>">
                        </div>
                        <div class="col-md-4">
                            <input required type="text" class="form-control" name="interval_max" placeholder="<?= $this->translate('questionEntry_interval_max@backoffice'); ?>" value="<?= !is_null($complement_data) ? $complement_data->interval_max : ''; ?>">
                        </div>
                    </td>
                    <td>
                        <input type="hidden" name="id" value="<?= $entry->id; ?>">
                        <input type="text"  class="form-control" name="content" disabled value="<?= $this->translate('form__question_'.$this->question->code.'_modality-'.$entry->id.'@form_'.$this->question->feedback_form_id); ?>"/>
                    </td>
                    <td>
                        <a href="#delete-confirmation" role="button" data-toggle="modal" class="pull-right font-red-sunglo btn-delete"
                            data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'question-entry', 'action' => 'delete', 'id' => $entry->id), null, true); ?>">
                            <i class="icon-trash"></i>
                        </a>
                        <a class="btn btn-xs btn-outline green-haze pull-right" href="javascript:$('#form_entry<?= $entry->id; ?>').submit();">
                        <i class="icon-check"></i>
                        </a>
                    </td>
                </form>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>