<div class="container-fluid gradient-background">
    <?php echo $this->partial('feedback-form-page/_builder_question_type_ordered.phtml', array('question' => $this->question, 'modalities' => $this->modalities)); ?>
    <table class="table table-striped">
        <thead class="font-blue-ebonyclay">
        <tr >
            <th><?= $this->translate('questionEntry_type@backoffice'); ?><em class="font-red">*</em></th>
            <th>ID</th>
            <th><?= $this->translate('questionEntry_label@backoffice'); ?><em class="font-red">*</em></th>
            <th><?= $this->translate('questionEntry_condition@backoffice'); ?></th>
            <th><?= $this->translate('questionEntry_colour-code@backoffice'); ?></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($this->question->question_entrys as $entry):
            $complement_data = !is_null($entry->complement_data) ? json_decode($entry->complement_data) : NULL; ?>
            <tr>
                <form method="post" action="<?php echo $this->url(array(
                        'module' => 'statflow',
                        'controller' => 'question-entry',
                        'action' => 'edit',
                        'id' => $entry->id), null, true); ?>" id="form_entry<?= $entry->id?>">
                    <td>
                        <?php switch($entry->entry_type_id){
                            case 1 : $label = "MCQ_MODALITY_SIMPLE"; break;
                            case 2 : $label = "MCQ_MODALITY_EXCLUSIVE"; break;
                            case 3 : $label = "MCQ_MODALITY_COMPLEMENT"; break;
                        }
                        echo $this->translate( $label . '@backoffice'); ?>
                    </td>
                    <td><?= $entry->id ?></td>
                    <td>
                        <input type="hidden" name="id" value="<?= $entry->id; ?>">
                        <textarea required class="form-control" name="content" disabled><?= $this->translate('form__question_'.$this->question->code.'_modality-'.$entry->id.'@form_'.$this->question->feedback_form_id); ?>
                        </textarea>
                    </td>
                   <td>
                         <input type="text" class="form-control" name="conditionMod"  placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )" value="<?= (isset($complement_data->conditionMod)) ? $complement_data->conditionMod : ''; ?>">
                   </td>
                   <td>
                       <input type="text" name="colourCode" class="form-control demo" data-position="bottom right" value="<?= isset($complement_data->colourCode) ? $complement_data->colourCode : '#0088cc'?>">
                   </td>                     
                    <td class="span3 align-right">
                        <a href="#delete-confirmation" role="button" data-toggle="modal" class="pull-right font-red-sunglo btn-delete"
                            data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'question-entry', 'action' => 'delete', 'id' => $entry->id), null, true); ?>">
                            <i class="icon-trash"></i>
                        </a>
                        <a  id ='delete-CLA-<?= $entry->id; ?>' class="btn green-haze btn-outline pull-right btn-xs"
                            href="javascript:$('#form_entry<?= $entry->id; ?>').submit();">
                            <i class="icon-check"></i>
                        </a>
                    </td>
                </form>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>