<div class="container-fluid gradient-background">
    <?= $this->partial('feedback-form-page/_builder_question_type_array.phtml', array(
        'question' => $this->question,
        'modalities' => $this->modalities
    ))?>
    <table class="table table-striped text-center">
        <thead class="font-blue-ebonyclay">
            <tr>
                <th>ID</th>
                <th><?= $this->translate('questionEntry_field_label@backoffice'); ?><em class="font-red">*</em></th>
                <th><?= $this->translate('questionEntry_field_colour-code@backoffice'); ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php
        foreach($this->question->question_entrys as $entry):
            $complement_data = $entry->complement_data ? json_decode($entry->complement_data) : array ();?>
            <tr>
                <form action="<?= $this->url(array(
                        'module' => 'statflow',
                        'controller' => 'question-entry',
                        'action' => 'edit',
                        'id' => $entry->id), null, true);?>" method="post" id="form_entry<?= $entry->id; ?>">
                    <td><?= $entry->id ?></td>
                    <td>
                        <div class="col-md-10">
                            <input type="hidden" name="id" value="<?= $entry->id; ?>">
                            <input type="text" class="form-control" name="content" disabled value="<?= $this->translate('form__question_'.$this->question->code.'_modality-'.$entry->id.'@Form_'.$this->question->feedback_form_id); ?>">
                        </div>
                    </td>
                    <td>
                        <div class="col-md-8">
                            <input type="text" name="colourCode" class="form-control demo" data-position="bottom right" value="<?= isset($complement_data->colourCode) ? $complement_data->colourCode : '#0088cc'?>">
                        </div>
                    </td>
                    <td>
                        <a href="#delete-confirmation" role="button" data-toggle="modal"
                            class="pull-right font-red-sunglo btn-delete" title="<?= $this->translate('entry_delete@backoffice')?>"
                            data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'question-entry', 'action' => 'delete', 'id' => $entry->id), null, true); ?>">
                            <i class="icon-trash"></i>
                        </a>
                        <a
                            class="pull-right btn btn-outline btn-xs green-haze"
                            href="javascript:$('#form_entry<?= $entry->id; ?>').submit();">
                            <i class="icon-check"></i>
                        </a>                                                
                  </td>
                </form>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <hr>
    <?php if($this->question->meta):?>
        <form action="<?= $this->url(array(
            'module' => 'statflow',
            'controller' => 'question',
            'action' => 'add'), null, true); ?>" method="post" class="form-inline">
                <input type="hidden" name="question_type_id" value="<?= Statflow_Model_DbTable_Row_Question::QUESTION_TYPE_INTERVAL?>">
                <input type="hidden" name="feedback_form_page_id" value="<?= $this->question->feedback_form_page_id?>">
                <input type="hidden" name="feedback_form_id" value="<?= $this->question->feedback_form_id?>">
                <input type="hidden" name="parent_id" value="<?= $this->question->id; ?>">
                <button class="btn btn-outline green-haze" type="submit"><i class="icon-plus"></i> <?= $this->translate('add_question@backoffice'); ?></button>

        </form>
    <?php endif;?>
    <table class="table table-striped text-center">
        <thead class="font-blue-ebonyclay">
        <tr>
            <th><?= $this->translate('code@backoffice'); ?><em class="font-red">*</em></th>
            <th><?= $this->translate('content@backoffice'); ?><em class="font-red">*</em></th>
            <th><?= $this->translate('fixedBottom@backoffice'); ?><em class="font-red">*</em></th>
            <th><?= $this->translate('conditionSousQuestion@backoffice'); ?></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php
        foreach($this->question->children as $entry):
            $meta = $entry->meta ? Zend_Json::decode($entry->meta) : array('fixed'=>false,'condition'=>"");?>
            <form action="<?= $this->url(array(
                'module' => 'statflow',
                'controller' => 'question',
                'action' => 'edit',
                'id' => $entry->id), null, true); ?>" method="post" id="form_entry<?= $entry->id; ?>">

                <tr>
                    <td>
                        <div class="col-md-8">
                            <input type="hidden" name="parent_id" value="<?= $this->question->id ?>">
                            <input type="hidden" name="fixed" value="0"/>
                            <input type="text" class="form-control" name="code" value="<?= $entry->code?>"/>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="content" disabled value="<?= $entry->code ? $this->translate('form__'.$this->question->feedback_form_id.'__question_title-'.$entry->code.'@Form_'.$this->question->feedback_form_id) : $this->translate('question_title-missing-code@Backoffice')?>" />
                    </td>
                    <td>
                        <label class="mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="fixed" value="1" <?= $meta['fixed'] ? 'checked' : ''?> />
                            <span></span></label>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="conditionsq" placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )" value="<?= isset($meta['conditionsq']) ? $meta['conditionsq'] : ''?>">
                    </td>
                    <td class="align-right">
                        <a href="#delete-confirmation" role="button" data-toggle="modal" class="pull-right font-red-sunglo btn-delete"
                            data-value="<?= $this->url(array(
                                'module' => 'statflow',
                                'controller' => 'question',
                                'action' => 'delete',
                                'id' => $entry->id), null, true); ?>">
                            <i class="icon-trash"></i>
                        </a>
                        <a class="pull-right btn btn-xs btn-outline green-haze" href="javascript:$('#form_entry<?= $entry->id; ?>').submit();">
                            <i class="icon-check"></i>
                        </a>
                    </td>
                </tr>
            </form>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

