<div class="container-fluid gradient-background">
    <?php echo $this->partial('feedback-form-page/_builder_question_type_multiple_images.phtml', array('question' => $this->question, 'modalities' => $this->modalities)); ?>
    
    <table class="table table-striped">
        <thead class="font-blue-ebonyclay">
            <tr>
                <th><?= $this->translate('questionEntry_type@backoffice'); ?><em class="font-red">*</em></th>
                <th>ID</th>
                <th><?= $this->translate('questionEntry_conditionSousQuestion-bottom@backoffice'); ?></th>
                <th><?= $this->translate('questionEntry_image@backoffice'); ?><em class="font-red">*</em></th>
                <th><?= $this->translate('add_new_image@backoffice'); ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr></tr>
            <?php
            foreach($this->question->question_entrys as $entry):
                //if (!is_null($entry->complement_data)) $complement_data = json_decode($entry->complement_data);
                $complement_data = $entry->complement_data ? json_decode($entry->complement_data) : array ();
            ?>
            <form action="<?= $this->url(array(
                'module' => 'statflow',
                'controller' => 'question-entry',
                'action' => 'edit',
                'id' => $entry->id), null, true); ?>" method="post" id="form-<?= $entry->id?>"
                enctype="multipart/form-data" >
            <tr>
                <td><?php
                    switch($entry->entry_type_id){
                        case 7 : $label = "MCQ_MODALITY_SIMPLE_IMAGE"; break;
                        case 8 : $label = "MCQ_MODALITY_EXCLUSIVE_IMAGE"; break;
                    }
                    echo $this->translate( $label . '@backoffice'); ?>
                </td>
                    <td><?= $entry->id ?></td>
                    <td>
                       <input class="form-control" type="text" name="conditionMod"  placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )" value="<?php echo (isset($complement_data->conditionMod)) ? $complement_data->conditionMod : ''; ?>">
                    </td>
                    <td>
                        <img style="max-width: 100px" src="/uploads/modalities/<?= isset($complement_data->imagefile) ? $complement_data->imagefile : ''; ?>">
                    </td>
                <td>
                    <input type="file" name="image">
                    <input type="hidden" name="id" value="<?= $entry->id; ?>">
                    <input type="hidden" name="imageFileName" value="<?= isset($complement_data->imagefile) ? $complement_data->imagefile : ''; ?>">
                </td>
                <td>
                    <a  id ='delete-image-<?= $entry->id; ?>'
                        href="#delete-confirmation" role="button" data-toggle="modal" class="pull-right font-red-sunglo btn-delete"
                        data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'question-entry', 'action' => 'delete', 'id' => $entry->id), null, true); ?>">
                        <i class="icon-trash"></i>
                    </a>
                    <a onclick="$('#form-<?php echo $entry->id ;?>').submit()" href="javascript:void(0)"
                        class="btn btn-xs btn-outline green-haze pull-right">
                        <i class="icon-check"></i>
                    </a>
                </td>
            </tr>
             </form>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>