<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_feedbackform_title@backoffice'); ?>
            <small><?= $this->translate('add_feedbackformPage_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-puzzle"></i>
                    <span><?= $this->translate('feedback-form@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-plus font-green"></i>
                    <span class="font-green"><?= $this->translate('add_feedback-form-page@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-energy font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('add_feedbackform-page@backoffice'); ?></span>
                </div>
            </div>
            <div class="form-actions row margin-top-30">
                <form class="form-horizontal" method="post" role="form" id="addfeedbackform"
                      action="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'add'), null, true); ?>">
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackformpage_field_name@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <input class="form-control" required type="text" id="name" name="name" disabled value="<?=  $this->translate('form__page_name-pending@backoffice') ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-6">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox"  name="title_is_visible" value="1">
                                <?= $this->translate('feedbackformpage_field_title_is_visible@backoffice'); ?>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('field_conditional_display@backoffice'); ?></label>
                        <div class="col-md-6">
                            <input class="form-control"  type="text" type="text" id="condition" name="condition" value="">
                        </div>
                    </div>
                    <div class="col-md-offset-6 col-md-9">
                        <input type="hidden" name="feedback_form_id" id="feedback_form_id" value="<?= $this->form->id; ?>">
                        <button id="Enregistrer" type="submit" class="btn btn-large green-haze" >
                            <i class="icon-plus"></i>
                            <?= $this->translate('submit@backoffice'); ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var errors = <?= json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>