<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_feedbackPage_title@backoffice'); ?>
            <small><?= $this->translate('list_feedbackPage_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">Statflow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-users"></i>
                    <span><?= $this->translate('study_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-file"></i>
                    <span><?= $this->translate('feedback_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-home font-green"></i>
                    <span class="font-green"><?= $this->translate('feedback_manage@backoffice'); ?></span>
                </li>
            </ul>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-settings font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('Manage_feedbackPage_title@backoffice'); ?></span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <a class="btn sbold green-haze" href="<?= $this->url(array(
                            'module' => 'statflow',
                            'controller' => 'feedback-form-page',
                            'action' => 'add',
                            'feedback_form_id' => $this->formId
                        ), null, true)?>">
                            <?= $this->translate('feedbackformpage_add@backoffice'); ?>
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet box">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs">
                            <?php foreach($this->feedbackformpages as $page): ?>
                                <li id="drag-<?= $page->id; ?>" data-value="<?= $page->id?>">
                                    <a class="alpha" id="btn-page<?= $page->id?>" href="#page<?= $page->id?>" data-toggle="tab">
                                        <i class="icon-move"></i>
                                        <?= $this->translate('page_name-'.$page->id.'@form_'.$this->form->id)?>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                        <div class="tab-content">
                            <?php foreach($this->feedbackformpages as $page) {
                                echo $this->partial('feedback-form-page/_page.phtml', array(
                                        'page' => $page,
                                        'questions' => $this->questions,
                                        'question_types' => $this->question_types,
                                        'question_type_icons' => $this->question_type_icons,
                                        'modalities' => $this->modalities
                                    )
                                );
                            } ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function external() {
        applyColorPicker();
    }
</script>
