<ul><li class="question-bullet"><strong class="question-title">{{{dataCallback content}}}</strong>{{#if meta.required}}<em class="required">*</em>{{/if}}</li></ul>
{{#each helps}}
<p class="help">{{{dataCallback content}}}</p>
{{/each}}
<div class="alert alert-block alert-error">
    {{invalidOpenQuestionText}}
</div>

<textarea rows="{{meta.rows}}" cols="{{meta.cols}}" name="{{id}}"></textarea>
        <div class="modalities" style="display:none"></div>