<div class="wizardRoot" id="questionnaire">
    <div class="banner">
        {{#if form.image}}
        <img src="/uploads/forms/{{form.image}}" style="max-width: 100%">
        {{/if}}
    </div>
    <ul style="display: none;">
    </ul>
    <div class="tab-content pages">

    </div>

    <div id="bar" class="progress progress-striped active" style="margin:auto; width:200px">
        <div class="bar"></div>
    </div>
</div>