<li style="list-style-type: none; padding: 15px; border-bottom: 1px solid #efefff">
    <div class="tree-action-block pull-right">
        <a
            id='delete_<?=$this->structure->id; ?>'
            href="#delete-confirmation" role="button" data-toggle="modal"
            class="font-red-soft btn-delete" title="<?= $this->translate('structure_delete@backoffice'); ?>"
            data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'structure', 'action' => 'delete', 'id' => $this->structure->id), null, true); ?>">
            <i class="icon-trash"></i>
        </a>
        <a class="font-green" title="<?= $this->translate('structure_edit@backoffice'); ?>"
           href="<?= $this->url(array('controller' => 'structure', 'action' => 'edit', 'id' => $this->structure->id)); ?>">
            <i class="icon-pencil"></i>
        </a>
    </div>
    <i class="icon-puzzle"></i>
    <?php if ($this->is_branch === TRUE): ?>
    <a class="font-blue-ebonyclay" href="<?= $this->url(array('module' => 'statflow', 'controller' => 'structure', 'action' => 'children', 'id' => $this->structure->id)); ?>" role="branch" class="tree-toggle closed"
       data-toggle="branch" data-value="<?= $this->structure->id; ?>">
       <?= $this->structure->name; ?></a>
    <?php else: ?>
     <a id="child_structure_<?= $this->structure->id; ?>" href="javascript:void(0);" role="leaf" class="font-blue-ebonyclay">
         <?= $this->structure->name; ?></a>
    <?php endif; ?>
</li>