<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_structure_title@backoffice'); ?>
            <small><?= $this->translate('edit_structure_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-puzzle"></i>
                    <span><?= $this->translate('structures@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-pencil font-green"></i>
                    <span class="font-green"><?= $this->translate('edit_structure@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>

    <form class="form-horizontal" method="post" role="form"
          action="<?= $this->url(array('module' => 'statflow', 'controller' => 'structure', 'action' => 'edit'), null, true); ?>">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-energy font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('edit_structure_title_form@backoffice'); ?></span>
                    </div>
                </div>
                <div class="form-actions margin-top-30">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-4"><?= $this->translate('structure_field_name@backoffice'); ?><em class="font-red">*</em></label>
                            <div class="col-md-6">
                                <input class="form-control" required type="text" id="name" name="name" value="<?= $this->structure->name; ?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"><?= $this->translate('structure_field_parent@backoffice'); ?></label>
                            <div class="col-md-6">
                                <select class="form-control" id="parent_id" name="parent_id">
                                    <option <?= is_null($this->structure->parent_id) ? 'selected' : ''; ?> value=""><?= $this->translate('layout_none@backoffice'); ?></option>
                                    <?php foreach($this->structures as $structure): ?>
                                        <option <?= $this->structure->parent_id == $structure->id ? 'selected' : ''; ?> value="<?= $structure->id; ?>"><?= $structure->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"><?= $this->translate('structure_field_external_id@backoffice'); ?><em class="font-red">*</em></label>
                            <div class="col-md-6">
                                <input class="form-control" required type="text" id="external_id" name="external_id" value="<?= $this->structure->external_id; ?>">
                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-9">
                            <input type="hidden" name="id" value="<?= $this->structure->id; ?>"/>
                            <button type="submit" id="btn_enregistrer_structure" class="btn green-haze"><?= $this->translate('submit@backoffice')?></button>
                            <button type="button" class="btn default"><?= $this->translate('retour@backoffice')?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var errors = <?= json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>