<h3 class="page-title"> <?= $this->translate('manage_structure_title@backoffice'); ?>
    <small><?= $this->translate('list_structure_title@backoffice'); ?></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="javascript:;">StatFlow</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class=" icon-puzzle font-green-haze"></i>
            <span class="font-green-haze"><?= $this->translate('structures_list@backoffice'); ?></span>
        </li>
    </ul>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-puzzle font-blue-ebonyclay"></i>
            <span class="caption-subject font-blue-ebonyclay bold uppercase">
                <?= $this->translate('navigation_tree_structures@backoffice'); ?>
            </span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided">
                <a class="btn sbold green-haze"  href="<?= $this->url(array('module' => 'statflow', 'controller' => 'structure', 'action' => 'add')); ?>">
                    <i class="icon-plus icon-white"></i><?= $this->translate('structure_add@backoffice'); ?>
                </a>
                <a href="#import-confirmation" role="button" data-toggle="modal">
                    <label class="btn btn-transparent blue-ebonyclay btn-outline btn-sm">
                        <i class="icon-arrow-down"></i><?= $this->translate('structure_import@backoffice'); ?>
                    </label>
                </a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <ul>
            <?php foreach($this->structures as $structure): ?>
                <li style="list-style-type: none; padding: 15px">
                    <div class="tree-action-block pull-right">
                        <a class="font-dark"
                           id="exportHandle_<?=$structure->id; ?>"  title="<?= $this->translate('structure_export@backoffice'); ?>"
                           href="javascript:;" onClick="exportHandle(<?=$structure->id; ?>);">
                            <i class="icon-cloud-download"></i>
                        </a>
                        <a
                            id='delete_<?=$structure->id; ?>'
                            href="#delete-confirmation" role="button" data-toggle="modal"
                            class="font-red-soft btn-delete" title="<?= $this->translate('structure_delete@backoffice'); ?>"
                            data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'structure', 'action' => 'delete', 'id' => $structure->id), null, true); ?>">
                            <i class="icon-trash"></i>
                        </a>
                        <a class="font-green" title="<?php echo $this->translate('structure_edit@backoffice'); ?>"
                           href="<?= $this->url(array('module' => 'statflow', 'controller' => 'structure', 'action' => 'edit', 'id' => $structure->id), null, true); ?>">
                            <i class="icon-pencil"></i>
                        </a>
                    </div>
                    <i class="icon-puzzle"></i>
                        <a id='parent_structure_<?=$structure->id; ?>' name='branch'
                           href="<?= $this->url(array('controller' => 'structure', 'action' => 'children', 'id' => $structure->id)); ?>"
                           role="branch" data-toggle="branch" class="font-blue-ebonyclay"
                           data-value="<?= $structure->id; ?>">
                            <?= $structure->name; ?>
                        </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<script>
    function exportHandle(id) {
        var urlExport = '<?= $this->url(array('module' => 'statflow', 'controller' => 'structure', 'action' => 'index'), null, true); ?>?';

        urlExport += 'export=1&';
        urlExport += 'root_id=' + id + '&';
        window.location = urlExport;
    }
</script>