@FontAwesomePath: '../font';
@import "bootstrap/bootstrap";

#questionnaire {
  font-family:  Arial, Helvetica, Sans-Serif;
}

#questionnaire .header-desc{
  font-size: 26px;
  font-weight: bold;
}


/* Page */
#questionnaire .page-name{
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding: 10px;
}

#questionnaire .content {
  line-height: 19px;
}
/* Section*/
#questionnaire .section-desc{
  font-weight: bold;
  font-size: 18px;
}

#questionnaire .input-slider{
  border: 0;
  color: #f6931f;
  font-weight: bold;
  font-size: 14px;
  width: 15px;
}



.btn-0 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#d50032;
  background: -moz-linear-gradient(0% 75% 0deg,#d50032, #d4647e);
  background: -webkit-linear-gradient(left, #d50032 10%, #d4647e 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-1 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#d4647e;
  background: -moz-linear-gradient(0% 75% 0deg,#d4647e, #fc4c02);
  background: -webkit-linear-gradient(left, #d4647e 10%, #fc4c02 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-2 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#fc4c02;
  background: -moz-linear-gradient(0% 75% 0deg,#fc4c02, #fc9002);
  background: -webkit-linear-gradient(left, #fc4c02 10%, #fc9002 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-3 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#fc9002;
  background: -moz-linear-gradient(0% 75% 0deg,#fc9002, #fcc202);
  background: -webkit-linear-gradient(left, #fc9002 10%, #fcc202 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-4 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#fcc202;
  background: -moz-linear-gradient(0% 75% 0deg,#fcc202, #ffff00);
  background: -webkit-linear-gradient(left, #fcc202 10%, #ffff00 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-5 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#ffff00;
  background: -moz-linear-gradient(0% 75% 0deg,#ffff00, #87e3e8);
  background: -webkit-linear-gradient(left, #ffff00 10%, #87e3e8 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-6 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#87e3e8;
  background: -moz-linear-gradient(0% 75% 0deg,#87e3e8, #00b0b9);
  background: -webkit-linear-gradient(left, #87e3e8 10%, #00b0b9 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-7 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#00b0b9;
  background: -moz-linear-gradient(0% 75% 0deg,#00b0b9, #ccb400);
  background: -webkit-linear-gradient(left, #00b0b9 10%, #ccb400 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-8 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#ccb400;
  background: -moz-linear-gradient(0% 75% 0deg,#ccb400, #e1e000);
  background: -webkit-linear-gradient(left, #ccb400 10%, #e1e000 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-9 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#e1e000;
  background: -moz-linear-gradient(0% 75% 0deg,#e1e000, #97d700);
  background: -webkit-linear-gradient(left, #e1e000 10%, #97d700 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-10 {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#0f0;
  background: -moz-linear-gradient(0% 75% 0deg,#97d700, #0f0);
  background: -webkit-linear-gradient(left, #97d700 10%, #0f0 100%);

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  margin-right:10px;
}
.btn-0:hover, .btn-0:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-1:hover, .btn-1:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-2:hover, .btn-2:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-3:hover, .btn-3:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-4:hover, .btn-4:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-5:hover, .btn-5:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-6:hover, .btn-6:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-7:hover, .btn-7:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-8:hover, .btn-8:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-9:hover, .btn-9:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}
.btn-10:hover, .btn-10:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}

.btn-selected {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}

.btn-nsp {
  height:30px;
  width:100px;
  margin-left:-4px;
  vertical-align:middle;
  border:none;
  color:#000;
  cursor:pointer;
  font-weight:bold;
  font-size:16px;

  background:#416a89;
  background: -moz-linear-gradient(0% 75% 0deg,#CCC, #DDD);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#305877), to(#214663));

  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
}

.btn-nsp:hover, .btn-nsp:focus {
  color:#fff;
  font-weight:bold;
  font-size:16px;
  background:#000;
}

form ul {
  margin-left: 5px;
}

form .text-fin {
  font-weight: bold;
  color: #00b0b9;
}

form .tooltip-inner {
  background-color: red;
}

form .tooltip.top .tooltip-arrow{
  border-top-color:red;
}

form  .ui-slider-range{
  background: #00b0b9 50% 50%;
}

#bar .bar {
  background-color: #d50032;
}

#bar .bar {
  filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd50032',endColorstr='#ffd50032',GradientType=0); BACKGROUND-COLOR: #d50032;
}

.satisfaction-scale{
  margin-top: -15px;
  margin-left: 5px;
}

.previous a {
  background: transparent url("/study/img/arrow-left.png") no-repeat scroll left 1px;
}

.next a {
  background: transparent url("/study/img/arrow-right.png") no-repeat scroll right 1px;
}

.modalities.inline .modality {
  display: inline;
}

.modalities .image {
  [type=checkbox] {
    display:none
  }
  img {
    max-width: 150px;
    max-height: 150px;
    border: 3px solid transparent;
    &.selected {
      border: 3px solid green;
    }
  }
}

.question .alert-error {
  display:none;
}
.question.invalid .alert-error {
  display:block;
}