/*
* STRUCTURE CSS
* Centurion UI - CSS-JS Framework
* Copyright (c) 2009
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/


/* ---------------------------------------------------------------------------------------------------------------------
IMPORTS */

@import url(../../cui/theme/css/reset.css);
@import url(../../cui/theme/css/components.css);


/* ---------------------------------------------------------------------------------------------------------------------
BASICS */

html {                      }
body {                      padding:0; color:#5b5b5b; font:normal 14px/20px Arial, sans-serif; }

h1 {                        margin:0 0 25px 0; color:#444; font:normal 30px/30px Arial, sans-serif; position:relative;}
h2 {                        margin:0; padding:0 0 10px 0; font:bold 15px/20px Arial, sans-serif; color:#ff2f05;   }

a img {                     border:none; margin:0; padding:0;}
a {                         text-deocration:underline; color:#5b5b5b; }
a:hover {                   text-decoration:none; color:#5b5b5b; }
a.no-transform {            text-deocration:underline; color:#5b5b5b; }
a.no-transform :hover {     text-decoration:none; color:#5b5b5b; }

p {                         margin-bottom:20px; }

.icon {                     display:block; width:16px; height:16px; text-indent:-9999px;
                            background:url('images/sprite.png') no-repeat; }
img.picture {               display:block; background:#eee; }
                            
.float-left {               float:left; }
.float-right {              float:right; }
.align-left {               align:left; }
.align-right {              align:right; }
                            
header, nav, section,
aside, footer {             display:block } 


.actions {                }
.actions li {               display:inline; }
.actions a {                text-decoration:none; display:inline-block; }
.actions a .ui-icon {       background-image:url("../../cui/theme/images/ui-icons_e6e6e6_256x240.png"); }
.hover .actions 
.ui-icon,
.hl-item-hover .actions 
.ui-icon {                  background-image:url("../../cui/theme/images/ui-icons_5794d6_256x240.png"); }
.actions a:hover {          text-decoration:none;  }                            
.help {                     position:relative; }
.help .bullet {             padding:2px 5px; display:none; background:#5794d6; position:absolute; bottom:22px; right:0; 
                            color:#fff; font-size:11px; line-height:14px; text-align:center;
                            -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
.help .queue {              display:none; position:absolute; bottom:12px; right:0px; }
.help:hover .bullet,
.help:hover .queue {        display:block; text-decoration:none; }


/* ---------------------------------------------------------------------------------------------------------------------
HEADER */

header.h {                  height:60px; position:relative; border-bottom: 2px solid; z-index:2; }
header.h h1 {               margin:0; padding:0;}
header.h h1 a {             margin:0; padding:0; position:absolute; left:30px; top:23px; height:16px; width:134px;
                            text-indent:-9999px;  background:url('images/sprite.png') no-repeat; line-height:1px; }
header.h ul.main {          padding:0 0 0 201px; height:60px; list-style:none; }
header.h ul.main li {       padding:0; margin:33px 3px 0 0; display:block; float:left; position:relative; }
header.h ul.main a {        padding:0 10px; height:27px; display:block; float:left; color:#000; text-decoration:none;
                            font-size:12px; line-height:27px;
                            background:#f3f3f3;
                             }
header.h ul.main a:hover,
header.h ul.main a.hover {  color:#fff; text-decoration:none;  filter:none; -ms-filter:none; background-image: -moz-linear-gradient(top, #393939, #464646); 
                            background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #393939),color-stop(1, #464646)); 
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#464646'); /* IE6-7 */
                           -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#464646')"; /* IE8 */}

header.h ul.main .active a {color:#fff; text-decoration:none; background:#b6b6b6; filter:none; -ms-filter:none; }
header.h ul.main .selecter 
a {                         padding-right:30px; position:relative; }
header.h ul.main .selecter 
a a {                       padding-right:10px; }
header.h ul.main a .icon {  margin:6px -3px 0 8px; background-position:-16px -16px; 
                            position:absolute; right:10px; top:0px; }
header.h ul.main a:hover 
.icon,
header.h ul.main a.hover 
.icon {                     background-position:-32px -16px; }
header.h ul.main ul {       position:absolute; top:27px; left:-1px; width:150px;
                            border-left:1px solid #e3e3e3; border-top:none; display:none;
                            border-bottom:1px solid #c5c5c5; border-right:1px solid #c5c5c4; }
header.h ul.main ul li {    float:none; display:block; margin:0; }
header.h ul.main ul li a {  float:none; display:block; margin:0; padding:6px 10px; color:#5b5b5b; 
                            font-size:11px; line-height:16px; height:auto; zoom:1;
                            background:none #fff; filter: none; -ms-filter: none;  }
header.h ul.main ul li 
a:hover {                   color:#5b5b5b; background:#e5ecf9; }


header.h .user {            display:block; position:absolute; top:11px; right:15px; 
                            font:bold 11px/14px Arial, sans-serif; color:#b6b6b6; }
header.h .user .icon {      margin-right:5px; float:left; background-position:0 -16px; }
header.h .user a {          color:#b6b6b6; text-decoration:none;  }
header.h .user a:hover {    color:#fff; text-decoration:none;}

section nav {               margin:0 1px 0 0; padding-top:95px; width:200px; display:block; position:relative; float:left; 
                            background-image: -moz-linear-gradient(top, #f2f2f2, #fff); 
                            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f2f2),color-stop(1, #fff)); 
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff'); /* IE6-7 */
                            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff')"; /* IE8 */  }

nav ul.contents {           zoom:1; }
nav ul.contents li.first {  border-top:solid 1px #e6e6e6; }
nav ul.contents li {        margin:0 25px; padding:6px 0; border-bottom:solid 1px #e6e6e6; display:block;
                            font:normal 12px/16px Arial, sans-serif; }
nav ul.contents li a {      padding:2px 5px; color:#000; text-decoration:none; 
                            -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
nav ul.contents 
li.active a {               background-color:#666; color:#fff; text-decoration:none; }
nav ul.contents li a:hover{ background-color:#06c; color:#fff; text-decoration:none; }
nav ul.contents ul {        margin:5px 0 0 0; }
nav ul.contents ul li{      margin:0 0 0 15px; padding:6px 0 0 0; border:none; font-size:11px; color:#555;}
nav ul.contents ul li a {   }
nav ul.contents 
li.active ul li a {         background-color:transparent; color:#555; }
header.h form.search {      position:absolute; top:7px; right:15px; }
header.h form.search .q {   width:105px; border:none; padding:3px 20px 3px 5px; #padding:1px 20px 1px 5px; 
                            -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; font-size:11px; }
header.h form.search 
.icon {                     background-position:-48px -16px; text-indent:-9999px; border:none;
                            position:absolute; top:3px; right:2px; }                           

/* ---------------------------------------------------------------------------------------------------------------------
SECTIONS */

section {                   padding:0 0 30px 0; position:relative; z-index:1; zoom:1; 
                            background:url('images/px-gray.png') 200px 0 repeat-y #fff;   }


section header.sh {         margin:0 0 0 201px; padding:40px 15px 0 30px; position:relative; 
                            background-image: -moz-linear-gradient(top, #f2f2f2, #fff); 
                            background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f2f2f2),color-stop(1, #fff));  
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff'); /* IE6-7 */
                            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff')"; /* IE8 */  }
section header.sh .tab01 {  margin-top:-10px;  border:none; background:none; }
section header.sh 
.ui-button-big {            position:absolute; right:7px; top:40px; z-index:2; }
section header.sh 
.ui-button-big .ui-button { min-width:228px; _width:228px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  }
section.tpl-form 
.ui-button-big {            position:absolute; top:3px; left:690px;  }
section.tpl-form 
.ui-button-big .ui-button { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; 
                            width:228px; height:38px;  }
header.sh .icon-prev {      background-position:-64px -16px; vertical-align:middle; display:inline-block;
                            position:relative; /top:4px; _top:10px; }
header.sh .icon-next {      background-position:-80px -16px; vertical-align:middle; display:inline-block;
                            position:relative; left:-8px; /top:4px; _top:10px;  }
header.sh .icon-prev:hover{ background-position:-96px -16px; }
header.sh .icon-next:hover{ background-position:-112px -16px; }

section section {           background:none; margin:0 255px 0 201px; padding:20px 20px 0 30px; }
section.tpl-form section {  margin-right:0; width:918px; }

section aside {             margin:0; padding:20px 15px 0 15px; float:right; width:230px;  }

/* highlight */

.hl-template {              width:800px; position:relative; font-size:12px; }
.hl-template .hl-item {     margin-bottom:9px; padding:10px; border:solid 1px #e6e6e6; background:#f2f5fb; 
                            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.hl-template .hl-item em {  opacity:0.3; }
.hl-template 
.hl-item-hover{             padding:10px; background:#e4edff; }
.hl-template .hl-item 
.actions {                  position:absolute; right:8px; bottom:4px; }
.hl-template .hl-item 
.actions li {               display:inline; }
.hl-template .hl-item 
.actions li a {             text-decoration:none; }
.hl-template .hl-item 
.actions li a {             display:inline-block; opacity:0.3; }
.hl-template .hl-item 
.actions li a:hover {       display:inline-block; opacity:1; }

form.form-highlight 
fieldset  {                 margin:0 0 20px 0; padding:8px 20px 20px 20px; border:solid 1px #d6d6d6; position:relative;
                            -moz-border-radius:5px; -khtml-border-radius: 5px; -webkit-border-radius:5px; width:760px; display: none}
form.form-highlight 
legend {                    margin:0; padding:10px; font:bold 15px/20px Arial, sans-serif; color:#ff2f05; }
form.form-highlight
#autocomplete {             width:250px; margin:5px 0;}




/* ---------------------------------------------------------------------------------------------------------------------
FOOTER */
footer {                    margin:0; padding:5px 15px 0 0; font:11px/18px Arial, sans-serif; color:#b8babf; 
                            border-top:solid 1px #d6d6d6; text-align:right; }


.centurion-hidden {
    display:none;
}
