@charset "utf-8";

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img {
  max-width: none;
}

hr {
	margin:0;
	}

body {
    background: none repeat scroll 0 0 #ececec;
    color: #333;
    font: 100%/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

/* ~~ Sélecteurs d'éléments/balises ~~ */
ul, ol, dl { /* En raison des variations entre les navigateurs, il est conseillé d'attribuer une valeur de zéro aux marges intérieures et aux marges des listes. A des fins de cohérence, vous pouvez définir les valeurs désirées dans cette zone ou dans les éléments de liste (LI, DT, DD) qu'elle contient. N'oubliez pas que les paramètres que vous définissez ici se répercuteront sur la liste .nav, sauf si vous rédigez un sélecteur plus spécifique. */
	padding: 0;
	margin: 0;
}

a img { 
	border: none;
}

a:link {
	color:#000;
	text-decoration: none; 
}

a:hover, a:active, a:focus {
	color: #000;
	text-decoration: none;
}




.logo {
	padding:0 20px 0px 10px;
	margin:10px 0 0;
}


	
/* FIN HEADER */


/* CONTAINER */

hr {
	margin:0;
	}

hr.dotted {
	margin:0;
	width:100%;
	border-top:none;
	border-left:none;
	border-right:none;
	border-bottom:1px dashed ;
	color:#C10C11; 
	}
.header { 
		clear:both;
		width: 100%;
		max-width: 990px;
		min-width: 990px;
		margin: 0 auto 0; 
		padding:0 10px;
		*zoom: 1;
		background-color:#fff;
		background-image:url(img/ombre_entete_154.png);
		background-repeat:repeat-x;
		background-position:bottom;
		height:150px;
	}
.baseline {
		float:right;
		text-align:right;
		font-weight:bold;
		font-size:18px;
		padding:32px 38px;
		}
.container {
	clear:both;
	width: 100%;
	max-width: 990px;
	position:relative;
	min-width: 990px;
	margin: 0 auto 20px; 
	padding:10px 10px;
  	*zoom: 1;
	background-color:#f5f5f5;
	top:-37px;
	border-bottom:1px #ECECEC dotted;
}



.datePicker, .purchase {
		width:65px;
		height:21px;	
		margin-right:10px;
        font-size: 10px;
	}
		
.filterSelect {
		width:210px;
		height:25px;	
		font-size:11px;
		padding-top:5px;
	}

.coolfieldset {
		
		background-color:#fbfbfb;
		font-size:12px;
	}
.divCompare {
		display:table;
		border-left:1px #E0E0E0 solid;
		border-right:1px #E0E0E0 solid;
		border-top:1px #E0E0E0 solid;
		background-color:#f2f2f2;
		width:976px;
		height:39px;
		font-size:12px;
		margin-left:2px;
		padding-left:8px;
		display:none;
		
	}
.divAccordeon {
		display:table;
		width:99%;
		padding:1px;
		height:39px;
		font-size:12px;
		margin-bottom:10px;
		margin-left:2px;
	}

.btnReset {
		float:right;
		margin-top:7px;
		margin-right:13px;
		padding:4px 20px;
		border:1px #E0E0E0 solid;
		background-color:#f4f4f4;
	}
.btnDisplay {
		float:right;	
		margin-top:7px;	
		margin-right:48px;
		padding:4px 20px;
		border:1px #E0E0E0 solid;
		background-color:#f4f4f4;
		color:#3097FE;
	}
.btnCompare {
		float:right;
		margin-top:7px;
		padding:4px 10px;
		border:0px ;
		background-color:transparent;
		color:#C20D11;
	}
	
.imgFlecheBas {
		float:right;
		margin-top:17px;
		margin-right:31px;
	}



.divFilterSelected{
		display:table;
		width:auto;
		height:39px;
		font-size:11px;
		margin:20px 0 20px 10px;
	}

.btnKpiOff {
		height:35px;
		padding:4px 20px;
		border:1px #E0E0E0 solid;
		background-color:#f4f4f4;
		color:#333;
		font-weight:bold;
	}
.btnKpiOn {
		height:35px;
		padding:4px 20px;
		border:1px #E0E0E0 solid;
		color:#fff;
		background: #444; 
		background: -webkit-linear-gradient( #bbb, #333); 
		background: -moz-linear-gradient( #bbb, #333); 
		background: -ms-linear-gradient( #bbb, #333); 
		background: -o-linear-gradient( #bbb, #333); 
		background: linear-gradient( #bbb, #333);
		border-radius: 5px;
		font-weight:bold;
	}

.btnKpi {
		width:175px;
		/*height:24px;*/
		margin-top:4px;	
		padding:4px 20px;
		border:1px #E0E0E0 solid;
		background-color:#333333;
		border-radius: 5px;
		color:#fff;
		font-weight:bold;
        cursor: pointer;
	}

.divCompareLine  {
	color:#C10C11;
	font-size:11px;
	margin:20px 0;
	}

.kpiBtnHandle {
    cursor: pointer;
}

/* mise en page. */


/*BOUTON CHAMPS TEXTE ET FORMULAIRE*/

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  float:left
}




/*******   List *******/


thead.header-fix {
    text-align: center;
    position: absolute;
    top: 300px;
    width: 974px;
    overflow: hidden;
    background-color: #F5F5F5;
    border-bottom-color: rgb(128, 128, 128);
}

thead.header-fix th {
    height: 50px;
    width: 500px;
    text-align: center;
    font-size: 10px;
    /*padding-left: 20px;*/
}

.tbody {
    margin-top: 165px;
    display: block;
    font-size: 10px;

}

.table {
    width: 100%;
    margin-bottom: 20px;

    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.table th {
    font-weight: bold;
}

.table thead th {
    vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}

.table tbody + tbody {
    border-top: 2px solid #dddddd;
}

.table .table {
    background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}

.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
    border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}

.table tbody tr.error > td {
    background-color: #f2dede;
}

.global-row-containt {
	width: 100%;
	max-width: 990px;
	position:relative;
	min-width: 990px;
  	*zoom: 1;
	background-color:#f5f5f5;
	border-bottom:1px #ECECEC dotted;
}
.global-row-containt:before,
.global-row-containt:after {
  display: table;
  line-height: 0;
  content: "";
}

.global-row-containt:after {
  clear: both;
}
.global-span-selection {
	 position: relative; 
     float:left;
	 width:20%;
	 min-height: 300px;
	 height:100%;	
}
.global-span-graph {
	 position: relative; 
	float:left;
	 width:80%;
}
.global-divFilterSelected {
	border:1px solid #E0E0E0;
	display: table;
    font-size: 12px;
    height: 39px;
    margin-bottom: 20px;
    margin-left: 2px;
    padding: 10px;
    width: 97%;
}

.global-btnDisplay {
    background-color: #f4f4f4;
    border: 1px solid #e0e0e0;
    color: #3097fe;
    float: right;
    margin-top: 7px;
    padding: 5px 18px;
}
.global-btnReset {
    background-color: #f4f4f4;
    border: 1px solid #e0e0e0;
    float: right;
    margin-right: 5px;
    margin-top: 7px;
    padding: 5px 6px;
}

.alert-success {
	background-color: #44b6ae ;
	border-color: #26C281;
	color: #ffffff;
}