<div class="row-fluid">
     <!-- <ul class="inline">
    <?php if(file_exists(APPLICATION_PATH."/modules/costumer")): ?>
       <li>
            <a target="_blank" href="<?php echo $this->url(array(), 'home', true);?>" class="btn btn-primary btn-large">
                KPIs
            </a>
        </li>
        <li>
            <a target="_blank" href="<?php echo $this->url(array(), 'costumer__list', true);?>" class="btn btn-primary btn-large">
                Respondent base
            </a>
        </li>
        <?php endif;?>
</ul> -->
</div>