<!-- Modal -->
<div class="modal fade" id="duplicate-confirmation" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><?php echo $this->translate('duplicate_confirmation@backoffice'); ?></h4>
            </div>
            <div class="modal-body"><?= $this->translate('subtitle_duplicate_confirmation@backoffice'); ?></div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal"><?= $this->translate('modal_close@backoffice'); ?></button>
                <a id="btn-duplicate-confirm" type="button" class="btn green-meadow"><?= $this->translate('modal_confirm@backoffice'); ?></a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>