<?php $actionPage = $this->pageLayout; ?>
<!-- Modal -->
<div class="modal fade" id="import-confirmation" tabindex="-1" role="basic" aria-hidden="true">
    <form id="import_form" enctype="multipart/form-data" action="<?= $this->url(array('module' => 'statflow', 'controller' => $actionPage, 'action' => 'import'), null, true); ?>" method="post">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><?php echo $this->translate('import_confirmation@backoffice')?></h4>
                </div>
                <div class="modal-body">
                    <?= $this->translate('subtitle_import_csv_confirmation@backoffice')?>
                    <input class="input-block-level" type="file" id="fileInput" name="fileInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal"><?= $this->translate('modal_close@backoffice'); ?></button>
                    <button onClick="validateFileFormat();" id="btn-import-confirm"  form="import_form" type="button" class="btn green-meadow"><?= $this->translate('modal_confirm@backoffice'); ?></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </form>
</div>

<script type="text/javascript">
    function validateFileFormat() {
        var ext = $('#fileInput').val().split('.').pop().toLowerCase();
        var error_file_type = "<?= $this->translate('import_csv_confirmation_error@backoffice'); ?>";
        if($.inArray(ext, ['csv']) == -1) {
            $("#import-confirmation span").text(error_file_type);
        } else {
            document.getElementById("import_form").submit()
        }
    }
</script>