<!-- Modal -->
<div class="modal fade" id="multi-select-activate-confirmation" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><?php echo $this->translate('activate_multiselect_confirmation@backoffice'); ?></h4>
            </div>
            <div class="modal-body"><?= $this->translate('subtitle_activate_multiselect_confirmation@backoffice'); ?></div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal"><?= $this->translate('modal_close@backoffice'); ?></button>
                <button id="btn-multi-select-confirm" form="multiSelect_form" type="submit" class="btn green-meadow"><?= $this->translate('modal_confirm@backoffice'); ?></button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Modal -->
<div class="modal fade" id="multi-select-delete-confirmation" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><?php echo $this->translate('delete_multiselect_confirmation@backoffice'); ?></h4>
            </div>
            <div class="modal-body"><?= $this->translate('subtitle_delete_multiselect_confirmation@backoffice'); ?></div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal"><?= $this->translate('modal_close@backoffice'); ?></button>
                <button id="btn-multi-select-confirm" form="multiSelect_form" type="submit" class="btn green-meadow"><?= $this->translate('modal_confirm@backoffice'); ?></button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>