<?php if ($this->pageCount): ?>
    <div class="row row-centered">
        <div class="pagination col-xs-9 col-centered">
            <ul>
                <li><a class="btn btn-xs btn-outline blue-chambray" href="javascript:gotoPage(<?= $this->first ?>)">First</a></li>
                <!-- Previous page link -->
                <?php if (isset($this->previous)): ?>
                    <li><a class="btn btn-xs btn-outline blue-chambray" href="javascript:gotoPage(<?= $this->previous ?>)"> &laquo; Previous</a></li>
                <?php else: ?>
                    <li class="disabled"><a class="btn btn-xs btn-outline blue-chambray" href="#">&laquo; Previous</a></li>
                <?php endif; ?>
                <!-- Numbered page links -->
                <?php foreach ($this->pagesInRange as $page): ?>
                    <?php if ($page != $this->current): ?>
                        <li><a class="btn btn-xs btn-outline blue-chambray" href="javascript:gotoPage(<?= $page ?>)"><?= $page; ?></a></li>
                    <?php else: ?>
                        <li><a class="btn btn-xs blue-chambray" href="#"><?= $page; ?></a></li>
                    <?php endif; ?>
                <?php endforeach; ?>
                <!-- Next page link -->
                <?php if (isset($this->next)): ?>
                    <li><a class="btn btn-xs btn-outline blue-chambray" href="javascript:gotoPage(<?= $this->next ?>)"> Next &raquo;</a></li>
                <?php else: ?>
                    <li class="btn btn-xs btn-outline blue-chambray disabled"><a href="#">Next &raquo;</a></li>
                <?php endif; ?>
                <li><a class="btn btn-xs btn-outline blue-chambray" href="javascript:gotoPage(<?= $this->last ?>)">Last</a></li>
            </ul>
        </div>
    </div>

    <style>
        .pagination {
            float: right;
        }
        .pagination ul {
            padding:0;
            margin-right:5px;
            list-style-type:none;
        }
        .pagination li {
            margin-left:2px;
            float:left; /*pour IE*/
        }
    </style>
<?php endif; ?>
