/* here you can put your own css to customize and override the theme */

.loading {
    z-index: 9999;
    position: fixed;
    text-align: center;
    overflow: visible;
    margin: auto;
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
}
.spinner-gif {
    height: 80px;
    width: 80px;
    margin: auto;
    position: relative;
    background: url('/../../../../img/Loader.gif');
    background-size: 80px 80px;
}
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,0.5);
}