<div class="tab-pane tab-form" id="form<?php echo $this->form->id; ?>">
    <a class="close btn-close" data-value="form<?php echo $this->form->id; ?>" href="javascript:void(0);">&times;</a>
    <h5 class="media-heading">
            <?php echo $this->form->name; ?>
            
            <div class="offset1 btn-group btn-table-action">
                <a
                    <?php if ($this->form->is_published == 0): ?>
                        data-toggle="tooltip" title="<?php echo $this->translate('navigation__statflow__feedbackform__index__publish@backoffice'); ?>"
                    <?php endif; ?>
                    class="btn btn-small <?php echo ($this->form->is_published == 1) ? 'btn-success disabled' : '';?>"
                    href="<?php echo ($this->form->is_published == 0) ? $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'publish', 'id' => $this->form->id), null, true) : 'javascript:void(0);'; ?>">
                    <i class="icon-ok <?php echo ($this->form->is_published == 1) ? 'icon-white' : '';?>"></i>
                </a>
                <a
                    <?php if ($this->form->is_published == 1): ?>
                        data-placement="top" data-toggle="tooltip" title="<?php echo $this->translate('navigation__statflow__feedbackform__index__unpublish@backoffice'); ?>"
                    <?php endif; ?>
                    class="btn btn-small <?php echo ($this->form->is_published == 0) ? 'btn-danger disabled' : '';?>"
                    href="<?php echo ($this->form->is_published == 1) ? $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'unpublish', 'id' => $this->form->id), null, true) : 'javascript:void(0);'; ?>">
                    <i class="icon-ban-circle <?php echo ($this->form->is_published == 0) ? 'icon-white' : '';?>"></i>
                </a>
            </div>
            <a
                class="btn btn-small btn-table-action"
                href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'edit', 'id' => $this->form->id), null, true); ?>">
                <i class="icon-pencil"></i>
                <?php echo $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
            </a>
            <a  id="btn_preview<?php echo $this->form->id; ?>"
                class="btn btn-small btn-table-action"
                href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'preview', 'action' => 'index', 'form' => $this->form->id), null, true); ?>">
                <i class="icon-eye-open"></i>
                <?php echo $this->translate('navigation__statflow__layout_preview@backoffice'); ?>
            </a>
            <?php /*
            <a
                class="btn btn-small btn-table-action"
                href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'alert', 'form' => $this->form->id), null, true); ?>">
                <i class="icon-warning-sign"></i>
                <?php echo $this->translate('navigation__statflow__layout_alert@backoffice'); ?>
            </a> 
            */?>
            <a
                class="btn btn-small btn-table-action"
                href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'list-alert', 'form' => $this->form->id), null, true)?>">
                <i class="icon-warning-sign"></i>
                <?php echo $this->translate('navigation__statflow__layout_alert@backoffice'); ?>
            </a>             
            <a
                class="btn btn-small btn-table-action"
                href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'respondent', 'action' => 'index', 'feedback_form_id' => $this->form->id), null, true); ?>">
                <i class="icon-list"></i>
                <?php echo $this->translate('navigation__statflow__layout_respondent-table@backoffice'); ?>
            </a>
            <?php /*
            <a
                class="btn btn-small btn-table-action"
                href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'relance', 'form' => $this->form->id), null, true); ?>">
                <i class="icon-time"></i>
                <?php echo $this->translate('navigation__statflow__layout_relance@backoffice'); ?>
            </a>
            */?>
            <a  id="btn_delete<?php echo $this->form->id;?>"
                href="#delete-confirmation" role="button" data-toggle="modal"
                class="btn btn-small btn-table-action btn-delete"
                data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'delete', 'id' => $this->form->id), null, true); ?>">
                <i class="icon-trash"></i>
                <?php echo $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
            </a>
            <a
                class="btn btn-small btn-table-action"
                href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'validity', 'form' => $this->form->id), null, true); ?>">
                <i class="icon-check"></i>
                <?php echo $this->translate('navigation__statflow__layout_validity@backoffice'); ?>
            </a>
    </h5>
    <small class="muted">
        <?php echo $this->displayDateInLocale($this->form->publication_start, Zend_Registry::get('Zend_Locale')); ?> - <?php echo $this->displayDateInLocale($this->form->publication_end, Zend_Registry::get('Zend_Locale')); ?>
    </small>
    <h5 class="media-heading">        
        <?php echo $this->translate('navigation__statflow__layout_solr_activate@backoffice'); ?>
        <div class=" btn-group btn-table-action btn-display">
            <a
                <?php if ($this->form->is_visible == 0): ?>
                    data-toggle="tooltip" title="<?php echo $this->translate('navigation__statflow__feedbackform__index__enable_interface_client@backoffice'); ?>"
                <?php endif; ?>
                class="btn btn-small <?php echo ($this->form->is_visible == 1) ? 'btn-success disabled' : '';?>"
                href="<?php echo ($this->form->is_visible == 0) ? $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'enable', 'id' => $this->form->id), null, true) : 'javascript:void(0);'; ?>">
                <i class="icon-ok <?php echo ($this->form->is_visible == 1) ? 'icon-white' : '';?>"></i>
            </a>
            <a
                <?php if ($this->form->is_visible == 1): ?>
                    data-placement="top" data-toggle="tooltip" title="<?php echo $this->translate('navigation__statflow__feedbackform__index__disable_interface_client@backoffice'); ?>"
                <?php endif; ?>
                class="btn btn-small <?php echo ($this->form->is_visible == 0) ? 'btn-danger disabled' : '';?>"
                href="<?php echo ($this->form->is_visible == 1) ? $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'disable', 'id' => $this->form->id), null, true) : 'javascript:void(0);'; ?>">
                <i class="icon-ban-circle <?php echo ($this->form->is_visible == 0) ? 'icon-white' : '';?>"></i>
            </a>
        </div>
        <a
            class="btn btn-small btn-table-action btn-display"
            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'index', 'form' => $this->form->id), null, true); ?>">
            <i class="icon-align-right"></i>
            <?php echo $this->translate('navigation__statflow__layout_kpi-management@backoffice'); ?>
        </a>
        <a
            class="btn btn-small btn-table-action btn-display"
            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'filter', 'id' => $this->form->id), null, true); ?>">
            <?php echo $this->translate('navigation__statflow__feedbackform__filter__kpi@backoffice'); ?>
        </a>      
	    <a
            class="btn btn-small btn-table-action btn-display"
            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'manage-import', 'form' => $this->form->id), null, true); ?>">
            <?php echo $this->translate('navigation__statflow__feedbackform__manage_import@backoffice'); ?>
        </a>
        <a class="btn btn-small btn-table-action btn-display" id="exportHandle" href="#" onClick="javascript:void(0);exportHandle('<?php echo $this->form->id; ?>');">
            <i class="icon-file"></i> Export
        </a>

        <a
          href="#import-confirmation" role="button" data-toggle="modal"
          class="btn btn-small btn-table-action btn-import btn-display"
          data-value="<?php //echo $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'import'), null, true); ?>">
          <i class="icon-arrow-down"></i> <?php echo $this->translate('navigation__statflow__feedbackform__index__manage_feedbackform_import@backoffice'); ?>
        </a>
        
        <a href="#duplicate-confirmation" role="button" data-toggle="modal"
                class="btn btn-small btn-table-action btn-duplicate btn-display"
                data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'duplicate', 'form' => $this->form->id), null, true); ?>">
                <i class="icon-plus"></i>
                <?php echo $this->translate('navigation__statflow__layout_duplicate_feedbackform@backoffice'); ?>
        </a>
        
         <a
            class="btn btn-small btn-table-action btn-display"
            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'hide', 'id' => $this->form->id), null, true); ?>">
            <?php echo $this->translate('navigation__statflow__feedbackform__manage_display_respondent@backoffice'); ?>
        </a>
        
        <a
            class="btn btn-small btn-table-action btn-display"
            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'anonymous', 'id' => $this->form->id), null, true); ?>">
            <?php echo $this->translate('navigation__statflow__feedbackform__manage_anonymous_question@backoffice'); ?>
        </a>
        <a
            class="btn btn-small btn-table-action btn-display"
            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'nominative', 'id' => $this->form->id), null, true); ?>">
            <?php echo $this->translate('navigation__statflow__feedbackform__manage_nominative_question@backoffice'); ?>
        </a>
        <!-- Evolution #1011: Ordre des colonnes TDR FO (Bouton "Order" pour definir l'ordre des headers solr) -->
        <a
            class="btn btn-small btn-table-action btn-display"
            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'order', 'id' => $this->form->id), null, true); ?>">
            <?php echo $this->translate('navigation__statflow__feedbackform__manage_order_column@backoffice'); ?>
        </a>
        
        <!-- Evolution #1633: Stockage données externes sur questionnaire lien ouvert via paramètres dans l'url -->
        <?php if ($this->form->is_open){?>
        <a
            class="btn btn-small btn-table-action btn-display"
            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'list-external', 'id' => $this->form->id), null, true); ?>">
            <?php echo $this->translate('navigation__statflow__feedbackform__save_external_field@backoffice'); ?>
        </a>
        <?php }?>
    </h5>
    <div class="clearfix"><br></div>
    <div class="tabbable  container-fluid">
        <div class="clearfix"><br></div>
        <ul class="nav nav-tabs sortable-tabs">
            <li class="undraggable">
                <a
                    class="alpha btn-info"
                    href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'add', 'feedback_form_id' => $this->form->id), null, true); ?>">
                    <i class="icon-plus"></i>
                    <?php echo $this->translate('navigation__statflow__feedbackform__index__manage_feedbackformpage_add@backoffice'); ?>
                </a>

            </li>
            <?php foreach($this->form->feedback_form_pages as $page): ?>
            <li id="drag-<?php echo $page->id; ?>" data-value="<?php echo $page->id; ?>">
                <a class="alpha" id="btn-page<?php echo $page->id; ?>" href="#page<?php echo $page->id; ?>" data-toggle="tab">
                    <i class="icon-move"></i>
                    <?php echo $this->translate('form__page_name-'.$page->id.'@form_'.$this->form->id); ?>
                </a>
            </li>
            <?php endforeach; ?>
        </ul>
        <div class="tab-content">
            <?php foreach($this->form->feedback_form_pages as $page) {
                echo $this->partial('study/_page.phtml', array(
                    'page' => $page,
                    'questions' => $this->questions,
                    'question_types' => $this->question_types,
                    'question_type_icons' => $this->question_type_icons,
                    'modalities' => $this->modalities
                    )
                );
            } ?>
        </div>
    </div>
</div>
<script>
    function exportHandle(id) {
        var urlExport = '<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index'), null, true); ?>?';
     	urlExport += 'export=1&';
     	urlExport += 'form_id=' + id + '&';
     	window.location = urlExport;
     } 
</script>