<div class="tab-pane" id="page<?php echo $this->page->id; ?>">
    <a
        id = "delete-<?php echo $this->page->id; ?>"
        href="#delete-confirmation" role="button" data-toggle="modal"
        class="pull-right btn btn-small btn-table-action btn-delete"
        data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'delete', 'id' => $this->page->id), null, true); ?>">
        <i class="icon-trash"></i>
        <?php echo $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
    </a>
    <a
        class="pull-right btn btn-small btn-table-action"
        id = "edit-<?php echo $this->page->id; ?>"
        href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'edit', 'id' => $this->page->id), null, true); ?>">
        <i class="icon-pencil"></i>
        <?php echo $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
    </a>
    
    <a  id="duplicate-<?php echo $this->page->id; ?>"
        href="#duplicate-confirmation" role="button" data-toggle="modal"
        class="pull-right btn btn-small btn-table-action btn-duplicate"
        data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'duplicate', 'id' => $this->page->id), null, true); ?>">
        <i class="icon-plus"></i>
        <?php echo $this->translate('navigation__statflow__layout_duplicate_page@backoffice'); ?>
    </a>
    
    <?php /*
    <a
        class="pull-right btn btn-small btn-table-action"
        id = "duplicate-<?php echo $this->page->id; ?>"
        href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'duplicate', 'id' => $this->page->id), null, true); ?>">
        <i class="icon-plus"></i>
        <?php echo $this->translate('navigation__statflow__layout_duplicate_page@backoffice'); ?>
   </a>
   */
   ?>
   
    <a
        id="nouvelle-question"
        class="alpha pull-right btn btn-info btn-small"
        href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'add', 'feedback_form_page_id' => $this->page->id), null, true); ?>">
        <i class="icon-plus"></i>
        <?php echo $this->translate('navigation__statflow__question__index__manage_question_add@backoffice'); ?>
    </a>
    <h5><?php echo $this->translate('navigation__statflow__question__index__field_page@backoffice') . ' &laquo;' .  $this->translate('form__page_name-'.$this->page->id.'@form_'.$this->page->feedback_form_id) . '&raquo;'; ?></h5>
    <small class="muted"><?php echo $this->translate('navigation__statflow__question__index__field_last_update@backoffice'); ?> <?php echo $this->displayDateInLocale((!is_null($this->page->updated_at)) ? $this->page->updated_at : $this->page->created_at, Zend_Registry::get('Zend_Locale')); ?></small>

    <div class="clearfix"><br></div>

    <ul class="nav accordion sortable-tabs1 nav-tabs" id="accordionQuestions">
        <?php foreach($this->page->questions as $question):
            if($question->parent_id) continue;
            ?>
        
        <li id="drag-<?php echo $question->id; ?>" data-value="<?php echo $question->id; ?>" class="accordion-group">
            <div class="accordion-heading">
                
                <a id="btn-question<?php echo $question->id; ?>"
                    class="alpha accordion-toggle" data-toggle="collapse" data-parent="#accordionQuestions"
                    href="#collapseQuestion<?php echo $question->id; ?>">
                    <i class="icon-move"></i>
                    <i class="icon-resize-full pull-right"></i>
                    <i class="<?php echo $this->question_type_icons[$question->question_type_id]; ?>"></i>
                    <?php echo $question->code; ?>
                </a>
            </div>
            <div id="collapseQuestion<?php echo $question->id; ?>" class="accordion-body collapse">
                <div class="accordion-inner">
                    <a  id="supprimer-<?php echo $question->id; ?>"
                        href="#delete-confirmation" role="button" data-toggle="modal"
                        class="pull-right btn btn-small btn-table-action btn-delete"
                        data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'delete', 'id' => $question->id), null, true); ?>">
                        <i class="icon-trash"></i>
                        <?php echo $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
                    </a>
                    
                    <?php /*
                    <a
                        class="pull-right btn btn-small btn-table-action"
                        href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'duplicate', 'id' => $question->id), null, true); ?>">
                        <i class="icon-plus"></i>
                        <?php echo $this->translate('navigation__statflow__layout_duplicate_question@backoffice'); ?>
                    </a>
                    */
                    ?>
                    <a
                        class="pull-right btn btn-small btn-table-action"
                        href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'edit', 'id' => $question->id), null, true); ?>">
                        <i class="icon-pencil"></i>
                        <?php echo $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
                    </a>
                    <a  
                        href="#duplicate-confirmation" role="button" data-toggle="modal"
                        class="pull-right btn btn-small btn-table-action btn-duplicate"
                        data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'duplicate', 'id' => $question->id), null, true); ?>">
                        <i class="icon-plus"></i>
                        <?php echo $this->translate('navigation__statflow__layout_duplicate_question@backoffice'); ?>
                    </a>
                    <small class="muted"><?php echo $this->translate('navigation__statflow__question__index__field_last_update@backoffice'); ?> <?php echo $this->displayDateInLocale((!is_null($question->updated_at)) ? $question->updated_at : $question->created_at, Zend_Registry::get('Zend_Locale')); ?></small>
                    <div class="clearfix"><br></div>
                    <blockquote>
                        <p id="title_question_<?php echo $question->id; ?>" ><?php echo $this->translate('form__'.$question->feedback_form_id.'__question_title-'.$question->code.'@Form_'.$question->feedback_form_id); ?></p>
                    </blockquote>
                    <?php
                    $partialForm = '';
                    switch($question->question_type_id)
                    {
                        case 1: $partialForm = '_question_type_mcq'; break; //QUESTION_TYPE_MCQ
                        case 2: $partialForm = '_question_type_interval'; break; //QUESTION_TYPE_INTERVAL
                        case 3: $partialForm = '_question_type_ordered'; break; //QUESTION_TYPE_ORDERED
                        case 4: $partialForm = '_question_type_open'; break; //QUESTION_TYPE_OPEN
                        case 5: $partialForm = '_question_type_array'; break; //QUESTION_TYPE_ARRAY
                        case 6: $partialForm = '_question_type_multiple_choices'; break; //QUESTION_TYPE_ARRAY
                        case 7: $partialForm = '_question_type_image'; break; //QUESTION_TYPE_IMAGE
                        case 8: $partialForm = '_question_type_multiple_images'; break; //QUESTION_TYPE_IMAGE
                    }
                    echo $this->partial('study/' . $partialForm . '.phtml', array('questions' => $this->questions, 'question' => $question, 'question_types' => $this->question_types, 'modalities' => $this->modalities));
                    ?>
                </div>
            </div>
        </li>
        <?php endforeach; ?>
    </ul>

</div>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
jQuery(function() {
//Permet de rendre les onglets page des questionnaire triable
$('.sortable-tabs1').sortable({
    update: function(e, ui) {
        $.ajax({
            url: '<?php echo $this->url(array('module', 'statflow', 'controller' => 'question', 'action' => 'reorder')); ?>',
            data: 'sort=' + $(this).sortable('toArray', { key : 'sort', attribute : 'data-value'}),
            type: 'post',
            dataType: 'json',
            success: function(data){
                //console.log(data);
            }
        });
    }
});
});
//$('.sortable-tabs1').disableSelection();
</script>