<li class="media gradient-background container-fluid">
        <div class="media study-forms">
            <div class="accordion" id="accordionstudy<?php echo $this->study->id; ?>">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a title="Afficher les questionnaires" class="alpha accordion-toggle" id="btn-collapsestudy<?php echo $this->study->id; ?>" data-toggle="collapse" data-parent="#accordionstudy<?php echo $this->study->id; ?>" href="#collapsestudy<?php echo $this->study->id; ?>">
                            <?php echo $this->translate('navigation__statflow__study__index__see_feedback_forms@backoffice'); ?>
                            <i class="icon-resize-full pull-right"></i>
                        </a>
                    </div>
                    <div id="collapsestudy<?php echo $this->study->id; ?>" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="tabbable tabs-left tabs-study<?php echo $this->study->id; ?>">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a id="btn_nouveau_questionnaire<?php echo $this->study->id; ?>"
                                            class="alpha btn-info"
                                            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'add', 'study_id' => $this->study->id), null, true); ?>">
                                            <i class="icon-plus"></i>
                                            <?php echo $this->translate('navigation__statflow__feedbackform__index__manage_feedbackform_add@backoffice'); ?>
                                        </a>
                                    </li>
                                    <?php foreach($this->study->feedback_forms as $form): ?>
                                        <li>
                                            <a href="#form<?php echo $form->id; ?>" id="btn-form<?php echo $form->id; ?>" data-toggle="tab">
                                                <?php echo $form->name; ?>
                                            </a>
                                        </li>
                                    <?php endforeach; ?>

                                </ul>
                                <div class="tab-content">
                                    <?php foreach($this->study->feedback_forms as $form) echo $this->partial('study/_form.phtml', array('form' => $form, 'questions' => $this->questions, 'question_types' => $this->question_types, 'question_type_icons' => $this->question_type_icons, 'modalities' => $this->modalities)); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</li>
