<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_study_title@backoffice'); ?>
            <small><?= $this->translate('add_study_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-briefcase"></i>
                    <span><?= $this->translate('studies@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-plus font-green"></i>
                    <span class="font-green"><?= $this->translate('add_study@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>

    <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data"
          action="<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'add'), null, true); ?>">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-energy font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('add_study_title_form@backoffice'); ?></span>
                    </div>
                </div>
                <div class="form-actions margin-top-30">
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-4"><?= $this->translate('study_field_name@backoffice'); ?><em class="font-red">*</em></label>
                            <div class="col-md-6">
                                <input class="form-control" required type="text" id="name" name="name" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"><?= $this->translate('study_field_structure@backoffice'); ?></label>
                            <div class="col-md-6">
                                <select class="form-control" id="structure_id" name="structure_id">
                                    <option value=""><?= $this->translate('layout_none@backoffice'); ?></option>
                                    <?php foreach($this->structures as $structure): ?>
                                        <option value="<?= $structure->id; ?>"><?= $structure->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"><?= $this->translate('client_image@backoffice'); ?></label>
                            <div class="col-md-6">
                                <input class="form-control" type="file" id="image" name="image">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"></label>
                            <div class="col-md-6">
                                <label class="mt-checkbox mt-checkbox-outline">
                                    <input type="checkbox"  name="is_published" value="1">
                                    <?= $this->translate('study_field_is_published@backoffice'); ?>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4"><?= $this->translate('study_field_style@backoffice'); ?></label>
                            <div class="col-md-6">
                                <textarea rows="8" class="form-control" type="text" id="style" name="style"></textarea>
                            </div>
                        </div>
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" id="btn_enregistrer_study" class="btn green-haze"><?= $this->translate('submit@backoffice')?></button>
                            <button type="button" class="btn default"><?= $this->translate('retour@backoffice')?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var errors = <?= json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>