<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_study_title@backoffice'); ?>
            <small><?= $this->translate('add_study_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-users font-green-haze"></i>
                    <span class="font-green-haze"><?= $this->translate('studies@backoffice'); ?></span>
                </li>
            </ul>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-settings font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('Manage_study_title@backoffice'); ?></span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <a id='btn_nouvelle_study' class="btn sbold green-haze"
                           href="<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'add'), null, true); ?>">
                            <?= $this->translate('study_add@backoffice'); ?><i class="icon-plus icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table">
                    <thead class="font-blue-ebonyclay">
                    <tr>
                        <th><?= $this->translate('nom_study@backoffice')?></th>
                        <th><?= $this->translate('structure_attached_study@backoffice')?></th>
                        <th><?= $this->translate('createAt_study@backoffice')?></th>
                        <th><?= $this->translate('status_study@backoffice')?></th>
                        <th><?= $this->translate('Actions')?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($this->studies as $study): ?>
                        <tr calss="odd gradeX">
                            <td><?= $study->name; ?></td>
                            <td>#<?= $study->structure->id?> | <?= $study->structure->name?></td>
                            <td class="center"><?= $this->displayMysqlDate($study->created_at); ?></td>
                            <td class="center">
                                <input type="checkbox" <?= ($study->is_published == 1) ? 'checked' : '';?> class="make-switch"
                                       onChange="isPublish(<?=$study->id?>, 'study')" id="isPublish" data-size="small" data-on-color="success" data-off-color="danger">
                            </td>
                            <td>
                                <a class="font-grey-mint" title="<?= $this->translate('study_manage_emails@backoffice'); ?>"
                                    href="<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'manage-email', 'id' => $study->id), null, true)?>">
                                    <i class="icon-envelope"></i>
                                </a>
                                <a  id='delete_<?=$study->id; ?>'  href="#delete-confirmation" role="button" data-toggle="modal"
                                    class="font-red-soft btn-delete" title="</i><?= $this->translate('study_delete@backoffice'); ?>"
                                    data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'delete', 'id' => $study->id), null, true)?>">
                                    <i class="icon-trash"></i>
                                </a>
                                <a
                                    class="font-green-dark" title="<?= $this->translate('study_edit@backoffice'); ?>"
                                    href="<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'edit', 'id' => $study->id), null, true)?>">
                                    <i class="icon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>