<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_study_title@backoffice'); ?>
            <small><?= $this->translate('manage_email_study_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-briefcase"></i>
                    <span><?= $this->translate('studies@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-plus font-green"></i>
                    <span class="font-green"><?= $this->translate('manage_email_study@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-envelope font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('connection_email_study@backoffice'); ?></span>
                </div>
            </div>
            <div class="form-actions margin-top-30 row">
                <form class="form-horizontal" method="post" role="form"
                      action="<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'manage-email', 'id' => $this->study->id), null, true); ?>">
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('sender_name_connection@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <input class="form-control" required type="text" id="sender_name_connex" name="sender_name_connex" value="<?= $this->study->sender_name_connex ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('sender_email_connection@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <input class="form-control" required type="text" id="sender_email_connex" name="sender_email_connex" value="<?= $this->study->sender_email_connex ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('subject_connection@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <pre><?= $this->translate('email_connexion_subject_study_'.($this->study->id)); ?></pre>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('body_html_connection@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <pre><?= $this->translate('email_connexion_body_study_'.($this->study->id)); ?></pre>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('body_text_connection@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <pre><?= $this->translate('email_connexion_body-text_study_'.($this->study->id)); ?></pre>
                        </div>
                    </div>

                    <div class="col-md-offset-3 col-md-9">
                        <input type="hidden" required name="id" id="id" value="<?= $this->study->id; ?>">
                        <button type="submit" class="btn green-haze" name="btnEmailSave" id="btnEmailConnexSave"  value="emailconnex">
                            <i class="icon-check"></i>
                            <?= $this->translate('submit@backoffice'); ?>
                        </button>
                        <input type="hidden" required name="btnDesactif" id="btnDesactif" value="emailconnex">
                        <button type="submit" class="btn btn-outline <?= $this->study->actif_connex == 0 ? 'disabled' : 'red-haze';?>" name="btnDesactif" value="emailconnex" id="btnDelConnex"<?= $this->study->actif_connex == 0 ? 'disabled' : '';?>>
                            <i class="icon-ban"></i>
                            <?= $this->translate('delete@backoffice'); ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-envelope font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('renewal_email_study@backoffice'); ?></span>
                </div>
            </div>
            <div class="form-actions margin-top-30 row">
                <form class="form-horizontal" method="post" role="form"
                      action="<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'manage-email', 'id' => $this->study->id), null, true); ?>">
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('sender_name_renewal@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <input class="form-control" required type="text" id="sender_name_renew" name="sender_name_renew" value="<?= $this->study->sender_name_renew ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('sender_email_renewal@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <input class="form-control" required type="text" id="sender_email_renew" name="sender_email_renew" value="<?= $this->study->sender_email_renew ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('subject_renewal@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <pre><?= $this->translate('email_renewal_subject_study_'.($this->study->id)); ?></pre>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('body_html_renewal@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <pre><?= $this->translate('email_renewal_body_study_'.($this->study->id)); ?></pre>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('body_text_renewal@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-7">
                            <pre><?= $this->translate('email_renewal_body-text_study_'.($this->study->id)); ?></pre>
                        </div>
                    </div>

                    <div class="col-md-offset-3 col-md-9">
                        <input type="hidden" required name="id" id="id" value="<?= $this->study->id; ?>">
                        <button type="submit" class="btn green-haze" name="btnEmailSave" id="btnEmailRenewSave" value="emailrenew">
                            <i class="icon-check"></i>
                            <?= $this->translate('submit@backoffice'); ?>
                        </button>
                        <input type="hidden" name="btnDesactif" id="btnDesactifConnex" value="renew">
                        <button type="submit" class="btn btn-outline <?= ($this->study->actif_renew == 0) ? 'disabled' : 'red-haze';?>" name="btnDesactif" value="emailrenew" id="btnDelRenew" <?= ($this->study->actif_renew == 0) ? 'disabled' : '';?>>
                            <i class="icon-ban"></i>
                            <?= $this->translate('delete@backoffice'); ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



        