<div class="row">
    <div class="col-md-12">
        <div class="autohide alert alert-info">
            <strong><?= $this->translate('Warning@frontend') ?>! </strong><?= $this->msg; ?>
        </div>
    </div>
</div>
