<form id="mainFilter" class="form-horizontal" name="mainFilter">
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box blue-chambray">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-calendar"></i><?= $this->translate('Date_filters@frontend')?></div>
                    <div class="tools">
                        <a href="" class="fullscreen"></a>
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <label class="control-label col-md-5"><?= $this->translate('Response_date@frontend')?> : </label>
                        <div class="col-md-7">
                            <div class="input-group" id="responseDatePicker">
                                <input type="text" id="response-date" name="response-date" class="form-control border-blue-chambray" placeholder="<?= $this->translate('From')?> - <?= $this->translate('To')?>">
                                <span class="input-group-btn">
                                    <button class="btn btn-outline blue-chambray date-range-toggle" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5"><?= $this->translate('purchase_date@frontend')?> : </label>
                        <div class="col-md-7">
                            <div class="input-group" id="purchaseDatePicker">
                                <input type="text" id="purchase_date" name="purchase_date" class="form-control border-blue-chambray" placeholder="<?= $this->translate('From')?> - <?= $this->translate('To')?>">
                                <span class="input-group-btn">
                                    <button class="btn btn-outline blue-chambray date-range-toggle" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box blue-chambray ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-bell"></i><?= $this->translate('alert_filters@frontend')?></div>
                    <div class="tools">
                        <a href="" class="fullscreen"></a>
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <label class="control-label col-md-5"><?= $this->translate('Action@frontend')?> : </label>
                        <div class="col-md-7">
                            <select name="sel_action" id="sel_action" class="form-control border-blue-chambray">
                                <option value=""><?= $this->translate('All@frontend') ?></option>
                                <option value="0"><?= $this->translate('None@frontend') ?></option>
                                <option value="1"><?= $this->translate('Progress@frontend') ?></option>
                                <option value="2"><?= $this->translate('Closed@frontend') ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5"><?= $this->translate('Alert@frontend')?> : </label>
                        <div class="col-md-7">
                            <select name="alert" id="alert" class="form-control border-blue-chambray">
                                <option value=""><?= $this->translate('All@frontend') ?></option>
                                <option value="1"><?= $this->translate('No@frontend') ?></option>
                                <option value="2"><?= $this->translate('Yes@frontend') ?></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php if (count($this->kpi_filters)):?>
        <div class="col-md-6">
                <div class="portlet box blue-chambray">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="glyphicon glyphicon-tasks"></i><?= $this->translate('CRM_filters@frontend')?></div>
                        <div class="tools">
                            <a href="" class="fullscreen"></a>
                            <a href="" class="collapse"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="category-content">
                            <?php foreach($this->kpi_filters as $kpi_filter): ?>
                                <div class="form-group">
                                    <label class="control-label col-md-5"><?= $kpi_filter->label; ?> : </label>
                                    <div class="col-md-7">
                                        <select class="form-control border-blue-chambray" name="sel_kpi_filter[<?= $kpi_filter->id; ?>]" id="sel_kpi_filter_<?= $kpi_filter->id; ?>">
                                            <option value=""><?= $this->translate('Choose@frontend')?></option>
                                            <?php $field = "external_fields".$kpi_filter->id;
                                            foreach($this->selectField[$field] as $external_field):
                                                foreach($external_field as $value):?>
                                                    <option value="<?= $value; ?>"><?= $value; ?></option>
                                                <?php endforeach;
                                            endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="sel_kpi_filters[<?= $kpi_filter->id; ?>]" id="sel_kpi_filters_<?= $kpi_filter->id; ?>" value="<?= $kpi_filter->label; ?>" />
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
        </div>
        <?php endif;?>
        <div class="col-md-6">
            <div class="portlet box blue-chambray ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="glyphicon glyphicon-th-large"></i><?= $this->translate('sytructures_filters@frontend')?></div>
                    <div class="tools">
                        <a href="" class="fullscreen"></a>
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <?= empty($this->filter_structure) ? $this->translate('label_'.$this->study.'_no_structure@'.$this->study) : ''; ?>
                    <input type='hidden' name='filter_structure[]' id='filter_structure' value='' />
                    <input type='hidden' name='filter_structure_name[]' id='filter_structure_name' value='' />
                    <div id="tree_2" class="tree-demo">
                        <?= $this->filter_structure;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center form-actions margin-top-30">
        <button id="reset" class="btn btn-outline red-sunglo" type="reset" >
            <?= $this->translate('Reset@frontend') ?><i class="icon-reload"></i>
        </button>
        <button id="btnDisplay" class="btn solid green-haze" type="button">
            <?= $this->translate('Display@frontend') ?><i class="fa fa-filter"></i>
        </button>
    </div>
</form>
