<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('kpi_management_title@backoffice'); ?>
            <small><?= $this->translate('kpi_management_sub_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-users font-green-haze"></i>
                    <span class="font-green-haze"><?= $this->translate('analyses@backoffice'); ?></span>
                </li>
            </ul>
        </div>
        <?php if (!$this->formId) : ?>
            <div class="col-md-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-briefcase font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('Select_study@backoffice'); ?></span>
                        </div>
                        <select class="form-control" name="studies" id="studies">
                            <option value =""><?= $this->translate('Select_choose_study@backoffice'); ?></option>
                            <?php foreach ($this->studies as $study) :?>
                                <option value ="<?=$study->id?>"><?=$study->name?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-book-open font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('Select_feedbackForm@backoffice'); ?></span>
                        </div>
                        <select disabled class="form-control" name="forms" id="forms">
                            <option value =""><?= $this->translate('Select_choose_feedbackForm@backoffice'); ?></option>
                        </select>
                    </div>
                </div>
            </div>
        <?php else :?>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-settings font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('Manage_Analysis_title@backoffice'); ?></span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <a class="btn sbold green-haze" href="#form-kpi" role="button" data-toggle="modal">
                            <?= $this->translate('kpi-management_add@backoffice'); ?><i class="icon-plus icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped">
                    <thead class="font-blue-ebonyclay">
                    <tr>
                        <th><?= $this->translate('kpi_created_at@backoffice'); ?></th>
                        <th><?= $this->translate('kpi_name@backoffice'); ?></th>
                        <th><?= $this->translate('kpi_question@backoffice'); ?></th>
                        <th><?= $this->translate('kpi_status@backoffice'); ?></th>
                        <th><?= $this->translate('kpi_color@backoffice'); ?></th>
                        <th><?= $this->translate('kpi_actions@backoffice'); ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($this->kpis as $kpi):?>
                        <tr calss="odd gradeX">
                            <td><?php $date = new Zend_Date(explode('T', $kpi->created_at)[0], Zend_Date::ISO_8601);
                                echo $date->get(Zend_Date::DATE_MEDIUM, 'fr_FR') ;?>
                            </td>
                            <td><?= $kpi->name;?></td>
                            <td>
                                <?php $question_array = explode(',', $kpi->question);
                                    foreach ($question_array as $question) {
                                        echo '<span style="margin-left:5px" class="label label-sm label-info">' . $this->classKpi->getCodeQuestion($question) . '</span>';
                                    }
                                ?>
                            </td>
                            <td>
                                <input type="checkbox" <?= ($kpi->is_open == 1) ? 'checked' : '';?> class="make-switch"
                                       onChange="isPublish(<?=$kpi->id?>, 'kpi-management')" id="isPublish" data-size="small" data-on-color="success" data-off-color="danger">
                            </td>
                            <td>
                                <a  href="<?= ($kpi->type =='3' || $kpi->type =='4') ? '#color-edit2': '#color-edit';?>" role="button" data-toggle="modal" key='<?=$kpi->id?>'
                                    class="pull-right btn btn-xs blue-dark btn-color" title="<?= $this->translate('change_color@backoffice'); ?>"
                                    data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'changecolor', 'id' => $kpi->id), null, true)?>">
                                    <i class="icon-settings"></i>
                                    <?= $this->translate('color_params@backoffice'); ?>
                                </a>
                            </td>
                            <td>
                                <a  href="#delete-confirmation" role="button" data-toggle="modal"
                                    class="font-red-sunglo btn-delete" title="<?= $this->translate('delete_kpi@backoffice'); ?>"
                                    data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'delete', 'id' => $kpi->id), null, true); ?>">
                                    <i class="icon-trash"></i>
                                </a>
                                <a class="pull-right btn btn-xs green-haze btn-outline" id='edit-<?= $kpi->id;?>'
                                   onClick="updateKpi(<?= $kpi->id; ?>)" href="javascript:void(0)">
                                    <i class="icon-pencil"></i><?= $this->translate('edit@backoffice'); ?>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
        <?php endif;?>
    </div>
</div>







<!--
    <div id='form-kpi'>
         <form action="<?= $this->url()?>" method="post" >
        <div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?= $this->translate('manage_kpi_add_title@backoffice'); ?></legend>
                 <div class="row-fluid">
                    <div class="span6">
                        <br>
                        <label class="checkbox">
                            <input type="hidden" name="is_open" value="0">
                            <input type="checkbox"  name="is_open" value="1">
                            <?= $this->translate('kpi_management_field_is_published@backoffice'); ?>
                        </label>
                        <div class='ignore-div'>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="clearfix"><br></div>
        <input type="hidden" name="form" id="form" value="<?= $this->form->id; ?>">
        <input type="hidden" name="id" id="id" value="">
        <button id="btn_enregistrer_kpi" type="submit" class="btn btn-primary" >
            <i class="icon-ok icon-white"></i>
            <?= $this->translate('submit@backoffice'); ?>
        </button>
    </form>
    </div>-->

<!-- Modal -->

<div class="modal fade" id="form-kpi" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class='form-color' class="form-horizontal" method="post" action="<?= $this->url()?>">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><?= $this->translate('manage_kpi_add_title@backoffice'); ?></h4>
                </div>
                <div class="modal-body row">
                    <div class="form-group">
                        <label class="control-label col-md-5">
                            <?= $this->translate('kpi_management_field_name@backoffice'); ?><em class="font-red">*</em>
                        </label>
                        <div class='col-md-5 margin-bottom-10'>
                            <input class="form-control" required type="text" id="name" name="name" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-5">
                            <?= $this->translate('kpi_management_field_type@backoffice'); ?><em class="font-red">*</em>
                        </label>
                        <div class='col-md-5 margin-bottom-10'>
                            <select onchange="changeKpi(this.value)" id='type_kpi' required name='type_kpi'  class="form-control">
                                <option value=""><?= $this->translate('kpi_management_field_select@backoffice'); ?></option>
                                <option value="1"><?= $this->translate('kpi_management_field_satisfaction_globale@backoffice'); ?></option>
                                <option value="2"><?= $this->translate('kpi_management_field_satisfaction_detaille@backoffice'); ?></option>
                                <option value="3"><?= $this->translate('kpi_management_field_nps_globale@backoffice'); ?></option>
                                <option value="4"><?= $this->translate('kpi_management_field_nps_detaille@backoffice'); ?></option>
                                <option value="5"><?= $this->translate('kpi_management_field_experience_globale@backoffice'); ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='question-zone'>
                            <label class='control-label col-md-5 margin-bottom-10'>
                                <?= $this->translate('kpi_management_field_question@backoffice'); ?><em class='font-red'>*</em>
                            </label>
                            <div class='col-md-5 margin-bottom-10'>
                                <select class="form-control" id='question' name='question[]' disabled >
                                    <option value=''>No question selected</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='form-group borne'></div>
                    <div class='form-group ignore-div'></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal"><?= $this->translate('modal_close@backoffice'); ?></button>
                    <button type="submit" class="btn green-meadow"><?= $this->translate('confirm@backoffice'); ?></button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="color-edit" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class='form-color' class="form-horizontal" method="post" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><?= $this->translate('change_color_titleModal@backoffice'); ?></h4>
                </div>
                <div class="modal-body row">
                    <label class="label-control col-md-6">
                        <?= $this->translate('kpi_management_field_color_very_satisfait@backoffice'); ?>
                    </label>
                    <div class='col-md-4 margin-bottom-10'>
                        <input type="text" name="colorTS" id="colorTS" class="form-control demo" data-position="bottom right">
                    </div>
                    <label class="label-control col-md-6">
                        <?= $this->translate('kpi_management_field_color_satisfait@backoffice'); ?>
                    </label>
                    <div class='col-md-4 margin-bottom-10'>
                        <input type="text" name="colorS" id="colorS" class="form-control demo" data-position="bottom right">
                    </div>
                    <label class="label-control col-md-6">
                        <?= $this->translate('kpi_management_field_color_unsatisfait@backoffice'); ?>
                    </label>
                    <div class='col-md-4 margin-bottom-10'>
                        <input type="text" name="colorPS" id="colorPS" class="form-control demo" data-position="bottom right">
                    </div>
                    <label class="label-control col-md-6">
                        <?= $this->translate('kpi_management_field_color_very_unsatisfait@backoffice'); ?>
                    </label>
                    <div class='col-md-4 margin-bottom-10'>
                        <input type="text" name="colorPSDT" id="colorPSDT" class="form-control demo" data-position="bottom right">
                    </div>
                    <input type='hidden' name='color' value='satisfaction' />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal"><?= $this->translate('modal_close@backoffice'); ?></button>
                    <button type="submit" class="btn green-meadow"><?= $this->translate('confirm@backoffice'); ?></button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="color-edit2" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class='form-color' class="form-horizontal" method="post" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><?= $this->translate('change_color_titleModal@backoffice'); ?></h4>
                </div>
                <div class="modal-body row">
                    <label class="label-control col-md-6">
                        <?= $this->translate('kpi_management_field_color_promoters@backoffice'); ?>
                    </label>
                    <div class='col-md-4 margin-bottom-10'>
                        <input type="text" name="colorPROM" id="colorPROM" class="form-control demo" data-position="bottom right" value="">
                    </div>

                    <label class="label-control col-md-6">
                        <?= $this->translate('kpi_management_field_color_passive@backoffice'); ?>
                    </label>
                    <div class='col-md-4 margin-bottom-10'>
                        <input type="text" name="colorPASS" id="colorPASS" class="form-control demo" data-position="bottom right" value="">
                    </div>

                    <label class="label-control col-md-6">
                        <?= $this->translate('kpi_management_field_color_detractors@backoffice'); ?>
                    </label>
                    <div class='col-md-4 margin-bottom-10'>
                        <input type="text" name="colorDETR" id="colorDETR" class="form-control demo" data-position="bottom right" value="">
                    </div>
                    <input type='hidden' name='color' value='nps' />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal"><?= $this->translate('modal_close@backoffice'); ?></button>
                    <button type="submit" class="btn green-meadow"><?= $this->translate('confirm@backoffice'); ?></button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type='text/javascript'>
function external() {
    $('#form-kpi').on('hidden', function () {
        $(this).load();
    })
    $('#color-edit').on('hidden', function () {
        $(this).load();
    })
    $('#color-edit2').on('hidden', function () {
        $(this).load();
    })
    $('#studies').on('change', function () {
        $('#forms').html($('<option>', {
            value: '',
            text: '<?= $this->translate('Select_choose_study@backoffice'); ?>'
        }));
        if ($(this).val()) {
            $.ajax({
                type: "POST",
                url: '/statflow/respondent/get-forms-by-study/study_id/' + $(this).val(),
                success: function (data) {
                    $('#forms').removeAttr('disabled');
                    $.each(JSON.parse(data), function (i, item) {
                        $('#forms').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                }
            });
        }
    });
    $('#forms').on('change',function () {
        window.location = "/statflow/kpi-management/index/form/" + $(this).val();
    });
}

function changeKpi(id) {
    $.ajax({
        type: 'GET',
        url: "/statflow/kpi-management/change/form/" + <?=$this->form->id?>+ "/type/" + id,
        dataType:'json',
        success: function(data){
            if (id == 3 || id == 4) {
                $('.borne').html('');
                $('.ignore-div').html('');
                $('#question').removeAttr('multiple');
                $('#question').removeAttr('disabled');
                $('#question').removeClass('chosen-select');
                $('#question').html("");
                $.each(data, function( key, value ){
                    $.each(value, function( k, v ){
                        $('#question').append("<option value='"+v.id+"'>"+v.code+"</option>");
                    });
                });
            } else if (id == 1) {
                $('.borne').html('');
                $('.ignore-div').html('');
                $('#question').removeAttr('multiple');
                $('#question').removeAttr('disabled');
                $('#question').removeClass('chosen-select');
                $('#question').html("");
                $('.borne').html('');
                var borne = '<label class="col-md-6 control-label"><?= $this->translate("kpi_management_field_borne@backoffice"); ?><em class="font-red">*</em></label>';
                borne += ' <div class="col-md-5"><b><?= $this->translate("kpi_management_very_unsatisfait@backoffice"); ?> : </b><BR/><label><?= $this->translate("from@backoffice"); ?> : ';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" style="width:50px" maxlength="2" name="bornePDTSMin" id="bornePDTSMin" value="0" /> <?= $this->translate("to@backoffice"); ?> : ';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" style="width:50px" maxlength="2" name="bornePDTSMax" id="bornePDTSMax" /> <BR/><b><?= $this->translate("kpi_management_unsatisfait@backoffice"); ?> : </b><BR/>';
                borne += ' <?= $this->translate("from@backoffice"); ?> : ';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="bornePSMin" id="bornePSMin"/> <?= $this->translate("to@backoffice"); ?> : ';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="bornePSMax" id="bornePSMax" /><BR/><b><?= $this->translate("kpi_management_satisfait@backoffice"); ?> : </b><BR/>';
                borne += ' <?= $this->translate("from@backoffice"); ?> : ';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="borneSMin" id="borneSMin" /> <?= $this->translate("to@backoffice"); ?>';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="borneSMax" id="borneSMax" /><BR/><b><?= $this->translate("kpi_management_very_satisfait@backoffice"); ?> : </b><BR/>';
                borne += ' <?= $this->translate("from@backoffice"); ?> : ';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="borneTSMin" id="borneTSMin" /> <?= $this->translate("to@backoffice"); ?> : ';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="borneTSMax" id="borneTSMax" value="10" /></div>';
                $('.borne').html(borne);
                //$('input').attr("pattern",'[0-9]');
                $.each(data, function( key, value ){
                    $.each(value, function( k, v ){
                        $('#question').append("<option value='"+v.id+"'>"+v.code+"</option>");
                    });
                });

            } else if(id == 2) {
                $('.borne').html('');
                var borne = '<label class="col-md-5 control-label"><?= $this->translate("kpi_management_field_borne@backoffice"); ?><em class="font-red">*</em></label>';
                borne += '  <div class="col-md-6 margin-bottom-10"><b><?= $this->translate("kpi_management_very_unsatisfait@backoffice"); ?> :</b><BR/> <?= $this->translate("from@backoffice"); ?>';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="bornePDTSMin" id="bornePDTSMin" value="0" /> <?= $this->translate("to@backoffice"); ?>';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="bornePDTSMax" id="bornePDTSMax" /> <br/><b><?= $this->translate("kpi_management_unsatisfait@backoffice"); ?> : </b><BR/>';
                borne += ' <?= $this->translate("from@backoffice"); ?>';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="bornePSMin" id="bornePSMin"  /> <?= $this->translate("to@backoffice"); ?> ';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="bornePSMax" id="bornePSMax" /><br /><b><?= $this->translate("kpi_management_satisfait@backoffice"); ?> : </b><BR/>';
                borne += ' <?= $this->translate("from@backoffice"); ?>';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="borneSMin" id="borneSMin" /> <?= $this->translate("to@backoffice"); ?>';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="borneSMax" id="borneSMax" /><br /><b><?= $this->translate("kpi_management_very_satisfait@backoffice"); ?> : </b><BR/>';
                borne += ' <?= $this->translate("from@backoffice"); ?>';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="borneTSMin" id="borneTSMin" /> <?= $this->translate("to@backoffice"); ?>';
                borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:50px" name="borneTSMax" id="borneTSMax" value="10" /> </div>';

                $('#question').removeAttr('disabled');
                $('#question').attr('multiple','multiple');
                $('#question').addClass('chosen-select');

                $('#question').html("");
                $.each(data, function( key, value ){
                    $.each(value, function( k, v ){
                        $('#question').append("<option value='"+v.id+"'>"+v.code+"</option>");
                    });
                });
                var ignore = "<label class='col-md-5 control-label'><?= $this->translate('kpi_management_field_ignore@backoffice'); ?></label>";
                ignore += "<div class='col-md-5'><select id='ignore' name='ignore[]'  data-placeholder='<?= $this->translate('kpi_management__choose_question_ignore@backoffice'); ?>' class='form-control' multiple>";
                <?php foreach ($this->ignore as $element):?>
                ignore +="<option value='<?=$element['id']?>'><?=$element['code']?></option>";
                <?php endforeach;?>
                ignore +="</select></div>";
                $('.ignore-div').html(ignore);
                $('.borne').html(borne);
            } else if (id == 5) {
                $('.borne').html('');
                var borne = "<label class='col-md-5 control-label'><?= $this->translate('kpi_management_field_borne@backoffice'); ?><em class='required'>*</em></label>";
                borne += "<div class='col-md-6'><?= $this->translate('kpi_management_very_good@backoffice'); ?> : <input required type='text' pattern='([0-9]{1,})'  style='width:40px' name='borneVeryGood' id='borneVeryGood' /><BR/>";
                borne += "<?= $this->translate('kpi_management_good@backoffice'); ?> : <input required type='text' pattern='([0-9]){1,}'  style='width:40px' name='borneGood' id='borneGood'  /><BR/>";
                borne += "<?= $this->translate('kpi_management_poor@backoffice'); ?> : <input required type='text' pattern='([0-9]){1,}'  style='width:40px' name='bornePoor' id='bornePoor' /><BR/>";
                borne += "<?= $this->translate('kpi_management_very_poor@backoffice'); ?> : <input required  type='text' pattern='([0-9]){1,}' style='width:40px' name='borneVeryPoor' id='borneVeryPoor' /> </div> ";

                $('.ignore-div').html('');
                $('#question').removeAttr('disabled');
                $('#question').removeAttr('multiple');
                $('#question').removeClass('chosen-select');
                $('#question').html("");
                $.each(data, function( key, value ){
                    $('#question').append( "<option value='"+value.id+"'>"+value.code+"</option>");
                });
                $('.borne').html(borne);
            } else {
                $('.borne').html('');
                $('.ignore-div').html('');
                $('#question').attr('disabled','disabled');
                $('#question').removeAttr('multiple');
                $('#question').html("");
                $('#question').append( "<option value=''>No question selected</option>");
            }
        },
        error: function(data){
            alert('request KO !');
        }
    });
}

function updateKpi(id) {
	   var type ='';      
		 $.ajax({
             type:'GET',
             url:"/statflow/kpi-management/edit/id/" + id,
             dataType:'json',
             success: function(data) {
                    		 $('#name').val(data.name);
                    		 $('#id').val(data.id);
                    		 var type      = data.type;
                    		 var question = data.question;
                    		 var question_ignore = data.question_ignore;
                    		 
                   			 $('#type_kpi').val(type);
                    		 if (data.is_open == 1) {
                                 $('input[name=is_open]').attr("checked", "checked");
                             }
                			 if (type == '5') {
                        		 $('.borne').html('');
                              	var borne = "<label class='col-md-5 control-label'><?= $this->translate('kpi_management_field_borne@backoffice'); ?><em class='required'>*</em></label>";
                                  borne += "<div class='col-md-6 margin-bottom-10'><?= $this->translate('kpi_management_very_good@backoffice'); ?> : <input value='"+JSON.parse(data.meta).bornes.borneVeryGood+"' required type='text' pattern='([0-9]{1,})'  style='width:40px' name='borneVeryGood' id='borneVeryGood' /><BR/>";
                                  borne += "<?= $this->translate('kpi_management_good@backoffice'); ?> : <input value='"+JSON.parse(data.meta).bornes.borneGood+"' required type='text' pattern='([0-9]{1,})'  style='width:40px' name='borneGood' id='borneGood'  /><BR/>";
                                  borne += "<?= $this->translate('kpi_management_poor@backoffice'); ?> : <input value='"+JSON.parse(data.meta).bornes.bornePoor+"' required type='text' pattern='([0-9]{1,})' style='width:40px' name='bornePoor' id='bornePoor' /><BR/>";
                                  borne += "<?= $this->translate('nkpi_management_very_poor@backoffice'); ?> : <input value='"+JSON.parse(data.meta).bornes.borneVeryPoor+"' required  type='text' pattern='([0-9]{1,})'  style='width:40px' name='borneVeryPoor' id='borneVeryPoor' /> </div> ";
                                  $('.borne').html(borne); 
                			 } else if (type == '1' || type == '2') {
                				 $('.borne').html('');
                              	var borne = '<label class="col-md-5 control-label"><?= $this->translate("kpi_management_field_borne@backoffice"); ?><em class="required">*</em></label><br />';
                           	     borne += ' <div class="col-md-6"><?= $this->translate("kpi_management_very_unsatisfait@backoffice"); ?> : <?= $this->translate("kpi_management_from@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePDTSMin" id="bornePDTSMin" value="0" /> <?= $this->translate("kpi_management_to@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePDTSMax" id="bornePDTSMax" value="'+JSON.parse(data.meta).bornes.bornePDTSMax+'" /> <br /><?= $this->translate("kpi_management_unsatisfait@backoffice"); ?> : ';
                              	 borne += ' <?= $this->translate("kpi_management_from@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePSMin" id="bornePSMin" value="'+JSON.parse(data.meta).bornes.bornePSMin+'" /> <?= $this->translate("kpi_management_to@backoffice"); ?> ';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePSMax" id="bornePSMax" value="'+JSON.parse(data.meta).bornes.bornePSMax+'"/><br /><?= $this->translate("kpi_management_satisfait@backoffice"); ?> : ';
                              	 borne += ' <?= $this->translate("kpi_management_from@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneSMin" id="borneSMin" value="'+JSON.parse(data.meta).bornes.borneSMin+'"  /> <?= $this->translate("kpi_management_to@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneSMax" id="borneSMax" value="'+JSON.parse(data.meta).bornes.borneSMax+'" /><br /><?= $this->translate("kpi_management_very_satisfait@backoffice"); ?> : ';
                              	 borne += ' <?= $this->translate("kpi_management_from@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneTSMin" id="borneTSMin" value="'+JSON.parse(data.meta).bornes.borneTSMin+'"/> <?= $this->translate("kpi_management_to@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneTSMax" id="borneTSMax" value="10" /> </div> ';
                               	$('.borne').html(borne);
                			 }  
                    		 $.ajax({
                                 type:'GET',
                                 url:'/statflow/kpi-management/change/form/' + <?=$this->form->id?> + '/type/' + type,
                                 dataType:'json',
                                 success: function(result){
                                     if(type =="1" || type =="3" || type =="4")
                                     {
                                        var html_question="<label class='col-md-5 control-label'><?= $this->translate('kpi_management_field_question@backoffice'); ?><em class='required'>*</em></label>";
                                     	html_question +="<div class='col-md-6'><select class='form-control' id='question' name='question'>";
                                     	  $.each(result, function( key, value ){
                                     		  $.each(value, function( k, v ){
                                         		  if( question==v.id )
                                         			  html_question += "<option selected value='"+v.id+"'>"+v.code+"</option>";
                                         		  else 
                                          			  html_question  += "<option  value='"+v.id+"'>"+v.code+"</option>";
                                     		  });
                                           });
                                     	  html_question +="</select></div>" ;
                                      	 $('.question-zone').html(html_question);  
                                     	  
                                     } else if(type =="2") {
                                 	    var selected = "";
                                  	    var html_question="<label class='col-md-5 control-label'><?= $this->translate('kpi_management_field_question@backoffice'); ?><em class='required'>*</em></label>";
                                   	        html_question +="<div class='col-md-6'><select class='form-control' id='question' name='question[]' class='chosen-select' multiple >";
                                     	var questionArray  = question.split(',');
                                     	var ignore = "<label class='col-md-5 control-label'><?= $this->translate('kpi_management_field_ignore@backoffice'); ?></label>";
                                  	     ignore += "<div class='col-md-6'><select id='ignore' name='ignore[]'  data-placeholder='<?= $this->translate('kpi_management__choose_question_ignore@backoffice'); ?>' class='chosen-select' multiple style='width:400px;' >";
                                           <?php foreach ($this->ignore as $element):?>
                                           ignore +="<option value='<?=$element['id']?>'><?=$element['code']?></option>";
                                           <?php endforeach;?>
                                           ignore +="</select></div>";
                                           $('.ignore-div').html(ignore); 
                                     	if(question_ignore){
                                         	var questionIgnore = question_ignore.split(',');
                                        	 $.each(questionIgnore, function( key, value ){
                                            	 //alert(value);
                                        		 $('#ignore option').each(function(){
                                     		        if ($(this).attr("value") == value) {
                                     		          $(this).attr("selected",true);
                                     		      }
                                        		 });
                                             }); 
                                     	} 
                                     	  $.each(result, function( key, value ){
                                     		  $.each(value, function( k, v ){
                                         		  if(questionArray.indexOf(v.id) > -1)
                                         			 html_question += "<option selected value='"+v.id+"'>"+v.code+"</option>";
                                         		  else
                                          			 html_question += "<option  value='"+v.id+"'>"+v.code+"</option>";	  
                                     		  });
                                           });
                                      	 html_question +="</select></div>";
                                      	 
                                      	 $('.question-zone').html(html_question);    	 
                                     }else if(type =="5")
                                     {
                                    	 
                                      	var html_question="<label class='col-md-5 control-label'><?= $this->translate('kpi_management_field_question@backoffice'); ?><em class='required'>*</em></label>";
                                       	html_question +="<div class='col-md-6'><select class='form-control' id='question' name='question'>";
                                     	  $.each(result, function( key, value ){
                                    		  
                                      		 if(question ==value.id )
                                        		 html_question += "<option selected value='"+value+"'>"+value.code+"</option>";
                                   		     else 
                                    			 html_question += "<option  value='"+value.id+"'>"+value.code+"</option>";
                                           });
                                           html_question +="</select></div>" ;
                                           $('.question-zone').html(html_question);    
                                     }else{
                                     	html_question="";
                                     	$('.question-zone').html(html_question);    
                                       }
                                    
                                  
                                     },
                                 error: function(data){
                                         alert('an error occurred, request down !');
                                     }      
                            });                             
                    	     //$('#question').val(data.question);
                    	     $('#form-kpi').modal();
                 },
             error: function(data){
                     alert('request KO !');
                 }          
        });
			$('.chosen-select').trigger('chosen:activate');
			$( "html body" ).scrollTop( 500 );
   }
</script>
