<div class="row-fluid">
    <h3>
        <?php echo $this->translate('navigation__statflow__feedbackformtemplate__index__manage_feedbackformtemplate_title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index', 'study_id' => $this->feedback_form->study_id, 'feedback_form_id' => $this->feedback_form->id ), null, true); ?>">
            <i class="icon-share-alt icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
    </h3>
    <hr class="clearfix">

    <form action="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-template', 'action' => 'add'), null, true); ?>" method="post">
        <div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?php echo $this->translate('navigation__statflow__feedbackformtemplate__index__manage_feedbackformtemplate_add@backoffice'); ?></legend>

                <label>
                    <?php echo $this->translate('navigation__statflow__feedbackformtemplate_field_name@backoffice'); ?>
                    <em class="required">*</em>
                </label>
                <input class="input-block-level" required type="text" id="name" name="name" value="">

                <label>
                    <?php echo $this->translate('navigation__statflow__feedbackformtemplate_field_file@backoffice'); ?>
                    <em class="required">*</em>
                </label>
                <input class="input-block-level" required type="file" id="file" name="file" value="">

                <br>
            </fieldset>
        </div>
        <div class="clearfix"><br></div>

        <input type="hidden" name="feedback_form_id" id="feedback_form_id" value="<?php echo $this->feedback_form->id; ?>">
        <button type="submit" class="btn btn-primary" >
            <i class="icon-ok icon-white"></i>
            <?php echo $this->translate('submit@backoffice'); ?>
        </button>
    </form>
</div>

<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>