<div class="row-fluid">

    <h3>
        <?php echo $this->translate('navigation__statflow__feedbackformtemplate__index__manage_feedbackformtemplate_title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-template', 'action' => 'add'), null, true); ?>">
            <i class="icon-plus icon-white"></i>
            <?php echo $this->translate('navigation__statflow__feedbackform__index__manage_feedbackformtemplate_add@backoffice'); ?>
        </a>
    </h3>
    <hr class="clearfix">

    <div class="container-fluid gradient-background">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><?php echo $this->translate('navigation__statflow__feedbackformtemplate_field_name@backoffice'); ?></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->templates as $template): ?>
                <tr>
                    <td>
                        <?php echo $template->name; ?>
                    </td>
                    <td>
                        <a
                            class="pull-right btn btn-small btn-table-action"
                            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-template', 'action' => 'delete', 'id' => $template->id), null, true); ?>">
                            <i class="icon-trash"></i>
                            <?php echo $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
                        </a>
                        <a
                            class="pull-right btn btn-small btn-table-action"
                            href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-template', 'action' => 'edit', 'id' => $template->id), null, true); ?>">
                            <i class="icon-pencil"></i>
                            <?php echo $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>


</div>