<style>
    .email-adresses li span {
        display:inline-block;
        width:230px;
    }
</style>

<div class="row-fluid">
    <div class="container-fluid">
    <h3>
        <?php echo $this->translate('navigation__statflow__kpi_management__title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index', 'study_id' => $this->study->id), null, true); ?>">
            <i class="icon-share-alt icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
    </h3>
    </div>
    <hr class="clearfix">
    <h3>
        <a class="pull-right btn btn-inverse btn-small" href="javascript:void(0);">
            <i class="icon-plus icon-white"></i>
            <?php echo $this->translate('navigation__statflow__feedbackform__index__manage_kpi-management_add@backoffice'); ?>
        </a>
    </h3>
    <div class='form-kpi' style="display: none;">
         <form action="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'add'), null, true); ?>" method="post" enctype="multipart/form-data">
        <div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?php echo $this->translate('navigation__statflow__feedbackform__index__manage_manage_kpi_add@backoffice'); ?></legend>
                 <div class="row-fluid">
                    <div class="span6">
                        <label>
                            <?php echo $this->translate('navigation__statflow__kpi_management_field_name@backoffice'); ?>
                            <em class="required">*</em>
                        </label>
                        <input class="input-block-level" required type="text" id="name" name="name" value="">
                         <label>
                            <?php echo $this->translate('navigation__statflow__kpi_management_field_type@backoffice'); ?>
                            <em class="required">*</em>
                        </label>
                        <select id='type_kpi' name='type_kpi'>
                            <option value=""><?php echo $this->translate('navigation__statflow__kpi_management_field_select@backoffice'); ?></option>
                            <option value="1"><?php echo $this->translate('navigation__statflow__kpi_management_field_satisfaction_globale@backoffice'); ?></option>
                            <option value="2"><?php echo $this->translate('navigation__statflow__kpi_management_field_satisfaction_detaille@backoffice'); ?></option>
                            <option value="3"><?php echo $this->translate('navigation__statflow__kpi_management_field_nps_globale@backoffice'); ?></option>
                            <option value="4"><?php echo $this->translate('navigation__statflow__kpi_management_field_nps_detaille@backoffice'); ?></option>
                            <option value="5"><?php echo $this->translate('navigation__statflow__kpi_management_field_experience_globale@backoffice'); ?></option>
                        </select>
                         <hr class="clearfix">
                        <div class='question-zone'></div>
                    </div>                   
                    <div class="span6">
                        <br>
                        <label class="checkbox">
                            <input type="hidden" name="is_open" value="0">
                            <input type="checkbox"  name="is_open" value="1">
                            <?php echo $this->translate('navigation__statflow__kpi_management_field_is_published@backoffice'); ?>
                        </label>                      
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="clearfix"><br></div>
        <input type="hidden" name="form" id="form" value="<?php echo $this->form->id; ?>">
        <button id="btn_enregistrer_questionnaire" type="submit" class="btn btn-primary" >
            <i class="icon-ok icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
        </button>
    </form>
    </div>
     <hr class="clearfix">
    <div class="container-fluid gradient-background">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><?php echo $this->translate('navigation__statflow__kpi_management_name@backoffice'); ?></th>
                <th class="align-center"><?php echo $this->translate('navigation__statflow__kpi_management_is_open@backoffice'); ?></th>
                <th><?php echo $this->translate('navigation__statflow__kpi_management_action@backoffice'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->kpis as $kpi):?>
            <tr>
                <td><?php echo $kpi->name;?>
                </td>
                <td class="align-center">
                    <div class="btn-group">
                        <a
                            class="btn btn-mini "
                            href="">
                            <i class="icon-ok "></i>
                        </a>
                        <a
                            class="btn btn-mini "
                            href="">
                            <i class="icon-ban-circle "></i>
                        </a>
                    </div>
                </td>
                <td>
                    <a
                        class="pull-right btn btn-small btn-table-action"
                        href="<?php //echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'delete', 'id' => $form->id), null, true); ?>">
                        <i class="icon-trash"></i>
                        <?php //echo $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
                    </a>
                    <a
                        class="pull-right btn btn-small btn-table-action"
                        href="<?php //echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'edit', 'id' => $form->id), null, true); ?>">
                        <i class="icon-pencil"></i>
                        <?php //echo $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
                    </a>
                </td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;

    
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
        var html_question="<label><?php echo $this->translate('navigation__statflow__kpi_management_field_question@backoffice'); ?><em class='required'>*</em></label>";
        $('#type_kpi').change(function(){
       	 $('.question-zone').html('');
            var type_kpi = $(this).val();
            $.ajax({
                type:'GET',
                url:'/statflow/kpi-management/change/form/'+<?=$this->form->id?>+'/type/'+type_kpi,
                dataType:'json',
                success: function(data){
                    if(type_kpi =="1" || type_kpi =="3" || type_kpi =="4")
                    {
                    	html_question +="<select id='question' name='question'>";
                    	  $.each(data, function( key, value ){
                    		  $.each(value, function( k, v ){
                    			  html_question += "<option value='"+v.id+"'>"+v.code+"</option>";
                    		  });
                          });
                    	  html_question +="</select>" ; 
                    	  
                    }else if(type_kpi =="2")
                    {
                    	html_question +="<select id='question' name='question[]' data-placeholder='<?php echo $this->translate('navigation__statflow__kpi_management__choose_question@backoffice'); ?>' class='chosen-select' multiple style='width:500px;'>";
                    	  
                    	  $.each(data, function( key, value ){
                    		  $('.question-zone').html('');
                    		  $.each(value, function( k, v ){
                    			  html_question += "<option value='"+v.id+"'>"+v.code+"</option>";
                    		  });
                          });
                    	  html_question +="</select>" ; 
                    	
                    	  
                    }else if(type_kpi =="5")
                    {
                    	html_question +="<select id='question' name='question'>";
                    	  $.each(data, function( key, value ){
                    		  html_question += "<option value='"+value.id+"'>"+value.code+"</option>";
                          });
                          html_question +="</select>" ;   
                    }else{
                    	html_question="";
                      }
                   $('.question-zone').html(html_question); 
                 
                    },
                error: function(data){
                        alert('request KO !');
                    }      
           });
            
        });
        
    }
    

</script>