
<div class="row-fluid">
    <div class="container-fluid">
    <h3>
        <?php echo $this->translate('navigation__statflow__kpi_management__title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index', 'study_id' => $this->study->id), null, true); ?>">
            <i class="icon-share-alt icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
    </h3>
    </div>
    <hr class="clearfix">
    <h3>
        <a class="pull-left btn btn-inverse btn-small" id='add-button' href="javascript:void(0);">
            <i class="icon-plus icon-white"></i>
            <?php echo $this->translate('navigation__statflow__feedbackform__index__manage_kpi-management_add@backoffice'); ?>
        </a>
    </h3>
    <BR/><BR/>
    <div id='form-kpi'>
         <form action="<?= $this->url()?>" method="post" >
        <div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?php echo $this->translate('navigation__statflow__feedbackform__index__manage_manage_kpi_add@backoffice'); ?></legend>
                 <div class="row-fluid">
                    <div class="span5">
                        <label>
                            <?php echo $this->translate('navigation__statflow__kpi_management_field_name@backoffice'); ?>
                            <em class="required">*</em>
                        </label>
                        <input class="input-block-level" required type="text" id="name" name="name" value="">
                         <label>
                            <?php echo $this->translate('navigation__statflow__kpi_management_field_type@backoffice'); ?>
                            <em class="required">*</em>
                        </label>
                        <select id='type_kpi' required name='type_kpi'  >
                            <option value=""><?php echo $this->translate('navigation__statflow__kpi_management_field_select@backoffice'); ?></option>
                            <option value="1"><?php echo $this->translate('navigation__statflow__kpi_management_field_satisfaction_globale@backoffice'); ?></option>
                            <option value="2"><?php echo $this->translate('navigation__statflow__kpi_management_field_satisfaction_detaille@backoffice'); ?></option>
                            <option value="3"><?php echo $this->translate('navigation__statflow__kpi_management_field_nps_globale@backoffice'); ?></option>
                            <option value="4"><?php echo $this->translate('navigation__statflow__kpi_management_field_nps_detaille@backoffice'); ?></option>
                            <option value="5"><?php echo $this->translate('navigation__statflow__kpi_management_field_experience_globale@backoffice'); ?></option>
                        </select>
                        <div class='question-zone'>
                            <label><?php echo $this->translate('navigation__statflow__kpi_management_field_question@backoffice'); ?><em class='required'>*</em></label>
                            <select id='question' name='question[]' disabled >
                                <option value=''>No question selected</option>
                            </select>
                        </div>
                        <div class='borne'></div>
                    </div>                   
                    <div class="span6">
                        <br>
                        <label class="checkbox">
                            <input type="hidden" name="is_open" value="0">
                            <input type="checkbox"  name="is_open" value="1">
                            <?php echo $this->translate('navigation__statflow__kpi_management_field_is_published@backoffice'); ?>
                        </label>      
                        <div class='ignore-div'>    
                        </div> 
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="clearfix"><br></div>
        <input type="hidden" name="form" id="form" value="<?php echo $this->form->id; ?>">
        <input type="hidden" name="id" id="id" value="">
        <button id="btn_enregistrer_kpi" type="submit" class="btn btn-primary" >
            <i class="icon-ok icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
        </button>
    </form>
    </div>
     
    <div class="container-fluid gradient-background">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><?php echo $this->translate('navigation__statflow__kpi_management_created_at@backoffice'); ?></th>
                <th><?php echo $this->translate('navigation__statflow__kpi_management_name@backoffice'); ?></th>
                <th><?php echo $this->translate('navigation__statflow__kpi_management_question@backoffice'); ?></th>
                <th><?php echo $this->translate('navigation__statflow__kpi_management_action@backoffice'); ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->kpis as $kpi):?>
            <tr>
                    
                <td><?php 
                           $date = new Zend_Date(explode('T', $kpi->created_at)[0], Zend_Date::ISO_8601);
                    echo $date->get(Zend_Date::DATE_MEDIUM, 'fr_FR') ;?></td>
                <td><?php echo $kpi->name;?></td>
                <td><?php $question_array = explode(',', $kpi->question);
                            if(count($question_array)>1){
                           foreach ($question_array as $question)
                               echo $this->classKpi->getCodeQuestion($question).' | '; 
                            }
                            else 
                                echo $this->classKpi->getCodeQuestion($kpi->question);
                            //?></td>
                <td>
                    
                     <a  
                        href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'delete', 'id' => $kpi->id), null, true); ?>"
                        class="pull-right btn btn-small btn-table-action">
                        <i class="icon-trash"></i>
                        <?php echo $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
                    </a>
                     <a
                        class="pull-right btn btn-small btn-table-action" id='edit-<?php echo $kpi->id;?>'
                        onClick="updateKpi(<?php echo $kpi->id; ?>)"
                        href="javascript:void(0)">
                        <i class="icon-pencil"></i>
                        <?php echo $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
                    </a>
                    <div class="pull-right btn-group btn-table-action">
                        <a
                            <?php if ($kpi->is_open == 0): ?>
                                data-toggle="tooltip" title="<?php echo $this->translate('navigation__statflow__kpi__publish@backoffice'); ?>"
                            <?php endif; ?>
                            class="btn btn-small <?php echo ($kpi->is_open == 1) ? 'btn-success disabled' : '';?>"
                            href="<?php echo ($kpi->is_open == 0) ? $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'publish', 'id' => $kpi->id), null, true) : 'javascript:void(0);'; ?>">
                            <i class="icon-ok <?php echo ($kpi->is_open == 1) ? 'icon-white' : '';?>"></i>
                        </a>
                        <a
                            <?php if ($kpi->is_open == 1): ?>
                                data-placement="top" data-toggle="tooltip" title="<?php echo $this->translate('navigation__statflow__kpi__unpublish@backoffice'); ?>"
                            <?php endif; ?>
                            class="btn btn-small <?php echo ($kpi->is_open == 0) ? 'btn-danger disabled' : '';?>"
                            href="<?php echo ($kpi->is_open == 1) ? $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'unpublish', 'id' => $kpi->id), null, true) : 'javascript:void(0);'; ?>">
                            <i class="icon-ban-circle <?php echo ($kpi->is_open == 0) ? 'icon-white' : '';?>"></i>
                        </a>
                    </div>
                    <a  
                        href="<?php echo ($kpi->type =='3' || $kpi->type =='4') ? '#color-edit2': '#color-edit';?>" role="button" data-toggle="modal" key='<?=$kpi->id?>'
                        class="pull-right btn btn-small btn-table-action btn-color"
                        data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'changecolor', 'form' => $kpi->feedback_form_id, 'id' => $kpi->id), null, true); ?>">
                        <i class="icon-list"></i>
                        <?php echo $this->translate('navigation__statflow__layout_color_edit@backoffice'); ?>
                    </a>
                </td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
<div id="color-edit" class="modal-delete modal hide fade" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <form class='form-color' method="post" >
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><?php echo $this->translate('navigation__statflow__layout_change_color@backoffice'); ?></h3>
    </div>
    <div class="modal-body">      
         <div class='lign-color'>
            <label>
                <?php echo $this->translate('navigation__statflow__kpi_management_field_color_very_satisfait@backoffice'); ?>
            </label>
            <div class='colorSelectorClass' id="colorSelector">
                <input onChange="changeBackground(this.id,'colorSelector');" type='text' maxlength="6" name='colorTS' id='colorTS' value="" />
                <div  style="background-color:#19D870 "></div>
            </div>
         </div>
         <div class='lign-color'>
             <label>
                <?php echo $this->translate('navigation__statflow__kpi_management_field_color_satisfait@backoffice'); ?>
            </label>
            <div class='colorSelectorClass' id="colorSelector2">
                <input onChange="changeBackground(this.id,'colorSelector2')" type='text' maxlength="6" name='colorS' id='colorS' value="" />
                <div  style="background-color:#B8FC70 "></div>
            </div>
         </div>
         <div class='lign-color'>
            <label>
                 <?php echo $this->translate('navigation__statflow__kpi_management_field_color_unsatisfait@backoffice'); ?>
             </label>
             <div class='colorSelectorClass' id="colorSelector3">
                <input onChange="changeBackground(this.id,'colorSelector3')" type='text' maxlength="6" name='colorPS' id='colorPS' value="" />
                <div  style="background-color: #FFE919 "></div>
             </div>
         </div>
         <div class='lign-color'>
             <label>
                 <?php echo $this->translate('navigation__statflow__kpi_management_field_color_very_unsatisfait@backoffice'); ?>
                
             </label>
             <div class='colorSelectorClass' id="colorSelector4">
                 <input onChange="changeBackground(this.id,'colorSelector4')" type='text' maxlength="6" name='colorPSDT' id='colorPSDT' value="" />
                <div  style="background-color: #FF1919 "></div>
             </div>      
         </div>
         <input type='hidden' name='color' value='satisfaction' />
    </div>
    <div class="modal-footer">
        <button id="btn-delete-confirm"  type='submit' class="btn btn-primary" ><?php echo $this->translate('navigation__statflow__layout_confirm@backoffice'); ?></button>
    </div>
    </form>
</div>

<div id="color-edit2" class="modal-delete modal hide fade" tabindex="1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><?php echo $this->translate('navigation__statflow__layout_change_color@backoffice'); ?></h3>
    </div>
    <form class='form-color' method="post" action="<?php echo $this->url(); ?>">
    <div class="modal-body">
        <div class='lign-color'>
            <label>
                 <?php echo $this->translate('navigation__statflow__kpi_management_field_color_promoters@backoffice'); ?>
            </label>
            <div class='colorSelectorClass' id="colorSelector">
                <input onChange="changeBackground(this.id,'colorSelector')" type='text' maxlength="6" name='colorPROM' id='colorPROM' value="" />
                <div  style="background-color:#19D870 "></div>
            </div>
         </div>
         <div class='lign-color'>
             <label>
                <?php echo $this->translate('navigation__statflow__kpi_management_field_color_passive@backoffice'); ?>
            </label>
            <div class='colorSelectorClass' id="colorSelector2">
                <input onChange="changeBackground(this.id,'colorSelector2')" type='text' maxlength="6" name='colorPASS' id='colorPASS' value=""/>
                <div  style="background-color: #FFE919 "></div>
            </div>
         </div>
         <div class='lign-color'>
            <label>
                 <?php echo $this->translate('navigation__statflow__kpi_management_field_color_detractors@backoffice'); ?>
             </label>
             <div class='colorSelectorClass' id="colorSelector3">
                <input onChange="changeBackground(this.id,'colorSelector3')" type='text' maxlength="6" name='colorDETR' id='colorDETR' value="" />
                <div  style="background-color:#FF1919"></div>
             </div>
         </div>
          <input type='hidden' name='color' value='nps' />
    </div>
    <div class="modal-footer">
        <button id="btn-delete-confirm"  type='submit' class="btn btn-primary" ><?php echo $this->translate('navigation__statflow__layout_confirm@backoffice'); ?></button>
    </div>
    </form>
</div>
<script type='text/javascript' src='<?=$this->baseUrl();?>/assets/colorpicker/js/jquery.js'></script>
<script type="text/javascript" src="<?=$this->baseUrl();?>/assets/colorpicker/js/colorpicker.js"></script>
<link rel="stylesheet" href="<?=$this->baseUrl();?>/assets/colorpicker/css/colorpicker.css" type="text/css" />

<script type="text/javascript" src="<?=$this->baseUrl();?>/assets/colorpicker/js/eye.js"></script>
<script type="text/javascript" src="<?=$this->baseUrl();?>/assets/colorpicker/js/utils.js"></script>
<script type="text/javascript" src="<?=$this->baseUrl();?>/assets/colorpicker/js/layout.js?ver=1.0.2"></script>

<script type='text/javascript'>
//Confirmation modal change color

$('.btn-color').bind('click', function(e){
	var color = '';
    e.preventDefault();
    $('.form-color').attr('action', $(this).attr('data-value'));
    var div = $(this).attr('href');
    $.ajax({
        type:'GET',
        url:'/statflow/kpi-management/edit/id/'+$(this).attr('key'),
        dataType:'json',
        success: function(data){
                  color = $.parseJSON(data.meta).style;
                  if(div == '#color-edit'){
                	  $('#colorTS').val(color.colorTS);
                	  $('#colorSelector div').css('background-color','#'+color.colorTS);
                	  $('#colorS').val(color.colorS);
                	  $('#colorSelector2 div').css('background-color','#'+color.colorS);
                	  $('#colorPS').val(color.colorPS);
                	  $('#colorSelector3 div').css('background-color','#'+color.colorPS);
                	  $('#colorPSDT').val(color.colorPSDT);
                	  $('#colorSelector4 div').css('background-color','#'+color.colorPSDT);
                  }
                  else if(div == '#color-edit2'){
                	  $('#colorDETR').val(color.colorDETR);
                	  $('#colorSelector div').css('background-color','#'+color.colorPROM);
                	  $('#colorPASS').val(color.colorPASS);
                	  $('#colorSelector2 div').css('background-color','#'+color.colorPASS);
                	  $('#colorPROM').val(color.colorPROM);
                	  $('#colorSelector3 div').css('background-color','#'+color.colorDETR);
                  }
    	       }
	   });
});
$('#colorSelector, #colorSelector2, #colorSelector3, #colorSelector4').ColorPicker({
	color: '#0000ff',
	onShow: function (colpkr) {
		$(colpkr).fadeIn(500);
		return false;
	},
	onHide: function (colpkr) {
		$(colpkr).fadeOut(500);
		return false;
	},
	onSubmit: function(hsb, hex, rgb, el) {
		//console.log(el);
		//alert(hsb);
		$('#'+$(el).attr('id')+' div').css('backgroundColor', '#' + hex);
		$('#'+$(el).attr('id')+' input').val(hex);
	}
});
 var errors = <?php echo json_encode($this->validationErrors); ?>;


        $('#form-kpi').css('display','none');
        //$('.question-zone').css('display','none');
        $('#add-button').click(function(){
            if($('#form-kpi').css('display') =='block'){
            	$('#form-kpi').fadeOut(500);
        	    $(this).html('<i class="icon-plus icon-white"></i><?php echo $this->translate("navigation__statflow__feedbackform__index__manage_kpi-management_add@backoffice"); ?>');
            }else{
            	$('#form-kpi').fadeIn(500);
           	 $(this).html('<i class="icon-minus icon-white"></i><?php echo $this->translate("navigation__statflow__feedbackform__index__manage_kpi-management_hide@backoffice"); ?>');
            }
        });
        
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
        $('#type_kpi').change(function(){
            var type_kpi = $(this).val();
            $.ajax({
                type:'GET',
                url:'/statflow/kpi-management/change/form/'+<?=$this->form->id?>+'/type/'+type_kpi,
                dataType:'json',
                success: function(data){
                    if(type_kpi =="3" || type_kpi =="4")
                    {
                    	$('.borne').html('');
                    	$('.ignore-div').html('');
                    	$('#question').removeAttr('multiple');
                    	$('#question').removeAttr('disabled');
                    	$('#question').removeClass('chosen-select');
                    	$('#question').html("");
                      	 $.each(data, function( key, value ){
                    		  $.each(value, function( k, v ){
                    			  $('#question').append("<option value='"+v.id+"'>"+v.code+"</option>");
                    		  });
                          });                   	  
                    }
                    else if(type_kpi =="1"){
                    	$('.borne').html('');
                    	$('.ignore-div').html('');
                    	$('#question').removeAttr('multiple');
                    	$('#question').removeAttr('disabled');
                    	$('#question').removeClass('chosen-select');
                    	$('#question').html("");
                    	$('.borne').html('');
                    	 var borne = '<label><?php echo $this->translate("navigation__statflow__kpi_management_field_borne@backoffice"); ?><em class="required">*</em></label><br />';
                   	     borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_very_unsatisfait@backoffice"); ?> : <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                      	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePDTSMin" id="bornePDTSMin" value="0" /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                      	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePDTSMax" id="bornePDTSMax" /> <br /><?php echo $this->translate("navigation__statflow__kpi_management_unsatisfait@backoffice"); ?> : ';
                      	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                      	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePSMin" id="bornePSMin"  /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?> ';
                      	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePSMax" id="bornePSMax" /><br /><?php echo $this->translate("navigation__statflow__kpi_management_satisfait@backoffice"); ?> : ';
                      	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                      	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneSMin" id="borneSMin" /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                      	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneSMax" id="borneSMax" /><br /><?php echo $this->translate("navigation__statflow__kpi_management_very_satisfait@backoffice"); ?> : ';
                      	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                      	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneTSMin" id="borneTSMin" /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                      	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneTSMax" id="borneTSMax" value="10" /> ';        
                       	$('.borne').html(borne);
                       	//$('input').attr("pattern",'[0-9]');
                      	 $.each(data, function( key, value ){
                    		  $.each(value, function( k, v ){
                    			  $('#question').append("<option value='"+v.id+"'>"+v.code+"</option>");
                    		  });
                          }); 
                       	            
                    }
                    else if(type_kpi =="2")
                    {

                    	$('.borne').html('');
                    	var borne = '<label><?php echo $this->translate("navigation__statflow__kpi_management_field_borne@backoffice"); ?><em class="required">*</em></label><br />';
                 	     borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_very_unsatisfait@backoffice"); ?> : <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                    	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePDTSMin" id="bornePDTSMin" value="0" /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                    	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePDTSMax" id="bornePDTSMax" /> <br /><?php echo $this->translate("navigation__statflow__kpi_management_unsatisfait@backoffice"); ?> : ';
                    	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                    	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePSMin" id="bornePSMin"  /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?> ';
                    	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePSMax" id="bornePSMax" /><br /><?php echo $this->translate("navigation__statflow__kpi_management_satisfait@backoffice"); ?> : ';
                    	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                    	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneSMin" id="borneSMin" /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                    	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneSMax" id="borneSMax" /><br /><?php echo $this->translate("navigation__statflow__kpi_management_very_satisfait@backoffice"); ?> : ';
                    	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                    	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneTSMin" id="borneTSMin" /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                    	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneTSMax" id="borneTSMax" value="10" /> ';        
                     	
                    	$('#question').removeAttr('disabled');
                    	$('#question').attr('multiple','multiple');
                    	$('#question').addClass('chosen-select');
       
                    	$('#question').html("");
                	     $.each(data, function( key, value ){
                    		  $.each(value, function( k, v ){
                    			 $('#question').append("<option value='"+v.id+"'>"+v.code+"</option>");
                    		  });
                          });
                	     var ignore = "<label><?php echo $this->translate('navigation__statflow__kpi_management_field_ignore@backoffice'); ?></label>";
                	     ignore += "<select id='ignore' name='ignore[]'  data-placeholder='<?php echo $this->translate('navigation__statflow__kpi_management__choose_question_ignore@backoffice'); ?>' class='chosen-select' multiple style='width:400px;' >";
                         <?php foreach ($this->ignore as $element):?>
                         ignore +="<option value='<?=$element['id']?>'><?=$element['code']?></option>";
                         <?php endforeach;?>
                         ignore +="</select>";
                         $('.ignore-div').html(ignore);
                         $('.borne').html(borne);          	  
                    }else if(type_kpi =="5")
                    {
                    	$('.borne').html('');
                    	var borne = "<label><?php echo $this->translate('navigation__statflow__kpi_management_field_borne@backoffice'); ?><em class='required'>*</em></label>";
                        borne += "<?php echo $this->translate('navigation__statflow__kpi_management_very_good@backoffice'); ?> : <input required type='text' pattern='([0-9]{1,})'  style='width:40px' name='borneVeryGood' id='borneVeryGood' /><BR/>";
                        borne += "<?php echo $this->translate('navigation__statflow__kpi_management_good@backoffice'); ?> : <input required type='text' pattern='([0-9]){1,}'  style='width:40px' name='borneGood' id='borneGood'  /><BR/>";
                        borne += "<?php echo $this->translate('navigation__statflow__kpi_management_poor@backoffice'); ?> : <input required type='text' pattern='([0-9]){1,}'  style='width:40px' name='bornePoor' id='bornePoor' /><BR/>";
                        borne += "<?php echo $this->translate('navigation__statflow__kpi_management_very_poor@backoffice'); ?> : <input required  type='text' pattern='([0-9]){1,}' style='width:40px' name='borneVeryPoor' id='borneVeryPoor' /> <BR/> ";
                                  
                    	$('.ignore-div').html('');
                    	$('#question').removeAttr('disabled');
                    	$('#question').removeAttr('multiple');
                    	$('#question').removeClass('chosen-select');
                    	$('#question').html("");
                    	  $.each(data, function( key, value ){
                    		  $('#question').append( "<option value='"+value.id+"'>"+value.code+"</option>");
                          });
                    	$('.borne').html(borne);  
                    }else{
                    	$('.borne').html('');
                    	$('.ignore-div').html('');
                    	$('#question').attr('disabled','disabled');
                    	$('#question').removeAttr('multiple');
                    	$('#question').html("");
                    	$('#question').append( "<option value=''>No question selected</option>");
                      }                 
                    },
                error: function(data){
                        alert('request KO !');
                    }      
           });         
        }); 

	 
   function updateKpi(id){
	   
	   var type ='';      
		 $.ajax({
             type:'GET',
             url:'/statflow/kpi-management/edit/id/'+id,
             dataType:'json',
             success: function(data){
                    		 $('#name').val(data.name);
                    		 $('#id').val(data.id);
                    		 var type      = data.type;
                    		 var question = data.question
                    		 var question_ignore = data.question_ignore;
                    		 
                   			 $('#type_kpi').val(type);
                    		 if(data.is_open == 1)
                    			 $('input[name=is_open]').attr("checked", "checked");
                			 if(type == '5'){
                        		 $('.borne').html('');
                              	var borne = "<label><?php echo $this->translate('navigation__statflow__kpi_management_field_borne@backoffice'); ?><em class='required'>*</em></label>";
                                  borne += "<?php echo $this->translate('navigation__statflow__kpi_management_very_good@backoffice'); ?> : <input value='"+JSON.parse(data.meta).bornes.borneVeryGood+"' required type='text' pattern='([0-9]{1,})'  style='width:40px' name='borneVeryGood' id='borneVeryGood' /><BR/>";
                                  borne += "<?php echo $this->translate('navigation__statflow__kpi_management_good@backoffice'); ?> : <input value='"+JSON.parse(data.meta).bornes.borneGood+"' required type='text' pattern='([0-9]{1,})'  style='width:40px' name='borneGood' id='borneGood'  /><BR/>";
                                  borne += "<?php echo $this->translate('navigation__statflow__kpi_management_poor@backoffice'); ?> : <input value='"+JSON.parse(data.meta).bornes.bornePoor+"' required type='text' pattern='([0-9]{1,})' style='width:40px' name='bornePoor' id='bornePoor' /><BR/>";
                                  borne += "<?php echo $this->translate('navigation__statflow__kpi_management_very_poor@backoffice'); ?> : <input value='"+JSON.parse(data.meta).bornes.borneVeryPoor+"' required  type='text' pattern='([0-9]{1,})'  style='width:40px' name='borneVeryPoor' id='borneVeryPoor' /> <BR/> ";
                                  $('.borne').html(borne); 
                			 }else if(type == '1' || type == '2'){
                				 $('.borne').html('');
                              	var borne = '<label><?php echo $this->translate("navigation__statflow__kpi_management_field_borne@backoffice"); ?><em class="required">*</em></label><br />';
                           	     borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_very_unsatisfait@backoffice"); ?> : <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePDTSMin" id="bornePDTSMin" value="0" /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePDTSMax" id="bornePDTSMax" value="'+JSON.parse(data.meta).bornes.bornePDTSMax+'" /> <br /><?php echo $this->translate("navigation__statflow__kpi_management_unsatisfait@backoffice"); ?> : ';
                              	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePSMin" id="bornePSMin" value="'+JSON.parse(data.meta).bornes.bornePSMin+'" /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?> ';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="bornePSMax" id="bornePSMax" value="'+JSON.parse(data.meta).bornes.bornePSMax+'"/><br /><?php echo $this->translate("navigation__statflow__kpi_management_satisfait@backoffice"); ?> : ';
                              	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneSMin" id="borneSMin" value="'+JSON.parse(data.meta).bornes.borneSMin+'"  /> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneSMax" id="borneSMax" value="'+JSON.parse(data.meta).bornes.borneSMax+'" /><br /><?php echo $this->translate("navigation__statflow__kpi_management_very_satisfait@backoffice"); ?> : ';
                              	 borne += ' <?php echo $this->translate("navigation__statflow__kpi_management_from@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneTSMin" id="borneTSMin" value="'+JSON.parse(data.meta).bornes.borneTSMin+'"/> <?php echo $this->translate("navigation__statflow__kpi_management_to@backoffice"); ?>';
                              	 borne += ' <input required type="text" pattern="[0-9]{1,2}" maxlength="2" style="width:20px" name="borneTSMax" id="borneTSMax" value="10" /> ';        
                               	$('.borne').html(borne);
                			 }  
                    		 $.ajax({
                                 type:'GET',
                                 url:'/statflow/kpi-management/change/form/'+<?=$this->form->id?>+'/type/'+type,
                                 dataType:'json',
                                 success: function(result){
                                     if(type =="1" || type =="3" || type =="4")
                                     {
                                        var html_question="<label><?php echo $this->translate('navigation__statflow__kpi_management_field_question@backoffice'); ?><em class='required'>*</em></label>";
                                     	html_question +="<select id='question' name='question'>";
                                     	  $.each(result, function( key, value ){
                                     		  $.each(value, function( k, v ){
                                         		  if( question==v.id )
                                         			  html_question += "<option selected value='"+v.id+"'>"+v.code+"</option>";
                                         		  else 
                                          			  html_question  += "<option  value='"+v.id+"'>"+v.code+"</option>";
                                     		  });
                                           });
                                     	  html_question +="</select>" ;
                                      	 $('.question-zone').html(html_question);  
                                     	  
                                     }else if(type =="2")
                                     {
                                 	    var selected = "";
                                  	    var html_question="<label><?php echo $this->translate('navigation__statflow__kpi_management_field_question@backoffice'); ?><em class='required'>*</em></label>";
                                   	        html_question +="<select id='question' name='question[]' class='chosen-select' multiple >";
                                     	var questionArray  = question.split(',');
                                     	var ignore = "<label><?php echo $this->translate('navigation__statflow__kpi_management_field_ignore@backoffice'); ?></label>";
                                  	     ignore += "<select id='ignore' name='ignore[]'  data-placeholder='<?php echo $this->translate('navigation__statflow__kpi_management__choose_question_ignore@backoffice'); ?>' class='chosen-select' multiple style='width:400px;' >";
                                           <?php foreach ($this->ignore as $element):?>
                                           ignore +="<option value='<?=$element['id']?>'><?=$element['code']?></option>";
                                           <?php endforeach;?>
                                           ignore +="</select>";
                                           $('.ignore-div').html(ignore); 
                                     	if(question_ignore){
                                         	var questionIgnore = question_ignore.split(',');
                                        	 $.each(questionIgnore, function( key, value ){
                                            	 //alert(value);
                                        		 $('#ignore option').each(function(){
                                     		        if ($(this).attr("value") == value) {
                                     		          $(this).attr("selected",true);
                                     		      }
                                        		 });
                                             }); 
                                     	} 
                                     	  $.each(result, function( key, value ){
                                     		  $.each(value, function( k, v ){
                                         		  if(questionArray.indexOf(v.id) > -1)
                                         			 html_question += "<option selected value='"+v.id+"'>"+v.code+"</option>";
                                         		  else
                                          			 html_question += "<option  value='"+v.id+"'>"+v.code+"</option>";	  
                                     		  });
                                           });
                                      	 html_question +="</select>";
                                      	 
                                      	 $('.question-zone').html(html_question);    	 
                                     }else if(type =="5")
                                     {
                                    	 
                                      	var html_question="<label><?php echo $this->translate('navigation__statflow__kpi_management_field_question@backoffice'); ?><em class='required'>*</em></label>";
                                       	html_question +="<select id='question' name='question'>";
                                     	  $.each(result, function( key, value ){
                                    		  
                                      		 if(question ==value.id )
                                        		 html_question += "<option selected value='"+value+"'>"+value.code+"</option>";
                                   		     else 
                                    			 html_question += "<option  value='"+value.id+"'>"+value.code+"</option>";
                                           });
                                           html_question +="</select>" ;
                                           $('.question-zone').html(html_question);    
                                     }else{
                                     	html_question="";
                                     	$('.question-zone').html(html_question);    
                                       }
                                    
                                  
                                     },
                                 error: function(data){
                                         alert('an error occurred, request down !');
                                     }      
                            });                             
                    	     //$('#question').val(data.question);
                    	     $('#form-kpi').fadeIn(500);
                           	 $(this).html('<i class="icon-minus icon-white"></i><?php echo $this->translate("navigation__statflow__feedbackform__index__manage_kpi-management_hide@backoffice"); ?>');
                 },
             error: function(data){
                     alert('request KO !');
                 }          
        });
			$('.chosen-select').trigger('chosen:activate');
			$( "html body" ).scrollTop( 500 );
   }
   function changeBackground(id,div){   
	 	  $('#'+div+' div').css('background-color','#'+$('#'+id).val());
   }
</script>