<ul><li class="question-bullet"><strong class="question-title">{{{dataCallback content}}}</strong>{{#if meta.required}}<em class="required">*</em>{{/if}}</li></ul>
{{#each helps}}
<p class="help">{{{dataCallback content}}}</p>
{{/each}}
<div class="alert alert-block alert-error">

{{#if meta.nbModaliteMax}}
{{invalidMcQuestionText}}
{{else}}
{{invalidQuestionText}}  
{{/if}}

</div>

<div class="modalities"></div>