<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_users_title@backoffice'); ?>
            <small><?= $this->translate('add_user_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-users"></i>
                    <span><?= $this->translate('users_list@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-user font-green"></i>
                    <span class="font-green"><?= $this->translate('navigation_add_users@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>

    <form class="form-horizontal" method="post" role="form"
          action="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'add'), null, true)?>">
        <div class="col-md-6">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user-follow font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('navigation__add_user@backoffice'); ?></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><?= $this->translate('navigation__username@backoffice')?>
                                <em class="font-red">*</em></label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="<?= $this->translate('navigation__field_username@backoffice')?>" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__first_name@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="<?= $this->translate('navigation__field_first_name@backoffice'); ?>" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__last_name@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="<?= $this->translate('navigation__field_last_name@backoffice'); ?>" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__email@backoffice'); ?> <em class="font-red">*</em>
                            </label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="<?= $this->translate('navigation__field_email@backoffice'); ?>" >
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__password@backoffice'); ?> <em class="font-red">*</em>
                            </label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                        <i class="fa fa-lock"></i>
                                    <input type="password" id="password" autocomplete="off" name="password" class="form-control" placeholder="<?= $this->translate('navigation__field_password@backoffice'); ?>" >
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><?= $this->translate('navigation__Properties@backoffice'); ?></label>
                            <div class="col-md-9">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="can_be_deleted" value="1" checked="checked">
                                        <?php echo $this->translate('navigation__statflow__can_be_deleted@backoffice'); ?>
                                        <span></span>
                                    </label>

                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="is_active" value="1">
                                        <?php echo $this->translate('navigation__is_active@backoffice'); ?>
                                        <span></span>
                                    </label>

                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="is_super_admin" value="1">
                                        <?php echo $this->translate('navigation__statflow__is_super_admin@backoffice'); ?>
                                        <span></span>
                                    </label>

                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="is_staff" value="1">
                                        <?php echo $this->translate('navigation__is_staff@backoffice'); ?>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__structure@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <div class="input-group select2-bootstrap-prepend">
                                    <select id="structure_user" name="structure_user[]" class="form-control select2" multiple></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__group@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control" name="group_id" id="group_id">
                                    <?php foreach($this->groups as $group): ?>
                                        <option value="<?= $group->id; ?>"><?= $group->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__study@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <div id="div_study_admin" class="input-group select2-bootstrap-prepend">
                                    <select id="study_admin" name="study_admin[]" class="form-control select2" multiple></select>
                                </div>
                                <select class="form-control" name="client_study_id" id="client_study_id" style="display: none;">
                                    <option value=""><?= $this->translate('select_study@backoffice'); ?></option>
                                    <?php foreach($this->client_studies as $client_study): ?>
                                        <option value="<?= $client_study->id; ?>"><?= $client_study->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="div_user_feedbackform" style="display: none;">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__questionnaire@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <select id="user_feedbackform" name="user_feedbackform[]" class="form-control select2" multiple></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('navigation__manage_user_profile@backoffice'); ?></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__nickname@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="nickname" name="nickname" value="" placeholder="<?= $this->translate('navigation__field_nickname@backoffice')?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__about@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <textarea rows="8" class="form-control" id="about" name="about" placeholder="<?= $this->translate('navigation__field_about@backoffice')?>"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__website@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="website" name="website" value="" placeholder="http://">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__phone@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="phone" name="phone" value="" placeholder="123456789">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__mobile@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="mobile" name="mobile" value="" placeholder="123456789">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-energy font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('navigation__actions@backoffice'); ?></span>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" id="btn_enregistrer_user" class="btn green"><?= $this->translate('navigation__submit@backoffice')?></button>
                            <button type="button" class="btn default"><?= $this->translate('navigation__retour@backoffice')?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    var errors = <?= json_encode($this->validationErrors); ?>;
         
    function external()
    {
        $("#group_id").change(function() {
          if ($("#group_id").val()== 1) {
              $('#client_study_id').hide();
              $('#div_study_admin').show();
              $('#div_user_feedbackform').hide();
          } else if ($("#group_id").val()== 2) {
            $('#client_study_id').show().val([]);
            $('#div_study_admin').hide();
          }
        });
        
        $("#client_study_id").change(function() {
            if($("#client_study_id").val()=== "") {
                $('#div_user_feedbackform').hide();
            } else {
                $('#div_user_feedbackform').show();
                $.ajax({
                    type: 'GET',
                    url: '/statflow/user/update',
                    dataType: 'json',
                    data: 'client_study_id=' + $("#client_study_id").val(),
                    success: function(data) {
                        $("#user_feedbackform").select2({
                            placeholder: '<?= $this->translate('select_feedbackform@backoffice'); ?>',
                            data: data
                        });
                    }
                });
            }
          });

        $("#structure_user").select2({
            placeholder: '<?= $this->translate('select_structures@backoffice'); ?>',
            data: <?= json_encode($this->all_json_structures); ?>
        });

        $("#study_admin").select2({
            placeholder: '<?= $this->translate('select_studies@backoffice'); ?>',
            data: <?= json_encode($this->all_json_studies); ?>
        });
        
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>
