<h3 class="page-title"> <?= $this->translate('manage_users_title@backoffice'); ?>
    <small><?= $this->translate('edit_user_title@backoffice'); ?></small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="javascript:;">StatFlow</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-users"></i>
            <span><?= $this->translate('users_list@backoffice'); ?></span>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <i class="icon-user font-green"></i>
            <span class="font-green"><?= $this->translate('navigation__edit_users@backoffice'); ?></span>
        </li>
    </ul>
</div>
<div class="row">
    <form class="form-horizontal" action="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'edit', 'id' => $this->user->id), null, true); ?>"
          method="post" role="form">
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user-follow font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('navigation__edit_user@backoffice'); ?></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><?= $this->translate('navigation__username@backoffice')?>
                                <em class="font-red">*</em></label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-user"></i>
                                    <input type="text" id="username" name="username" class="form-control" value="<?= $this->user->username?>" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__first_name@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="first_name" name="first_name" class="form-control" value="<?= $this->user->first_name?>" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__last_name@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input type="text" id="last_name" name="last_name" class="form-control" value="<?= $this->user->last_name?>" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__email@backoffice'); ?> <em class="font-red">*</em>
                            </label>
                            <div class="col-md-9">
                                <div class="input-icon">
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" id="email" name="email" class="form-control" value="<?= $this->user->email?>" >
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><?= $this->translate('navigation__Properties@backoffice'); ?></label>
                            <div class="col-md-9">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="can_be_deleted" value="1" checked="checked" <?= ($this->user->can_be_deleted) ? 'checked="checked"' : ''; ?>>
                                        <?= $this->translate('navigation__can_be_deleted@backoffice'); ?>
                                        <span></span>
                                    </label>

                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="is_active" value="1" <?= ($this->user->is_active) ? 'checked="checked"' : ''; ?>>
                                        <?= $this->translate('navigation__is_active@backoffice'); ?>
                                        <span></span>
                                    </label>

                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="is_super_admin" value="1" <?= ($this->user->is_super_admin) ? 'checked="checked"' : ''; ?>>
                                        <?= $this->translate('navigation__is_super_admin@backoffice'); ?>
                                        <span></span>
                                    </label>

                                    <label class="mt-checkbox mt-checkbox-outline">
                                        <input type="checkbox" name="is_staff" value="1" <?= ($this->user->is_staff) ? 'checked="checked"' : ''; ?>>
                                        <?= $this->translate('navigation__is_staff@backoffice'); ?>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__structure@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <div class="input-group select2-bootstrap-prepend">
                                    <select id="structure_user" name="structure_user[]" class="form-control select2" multiple></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__group@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <select class="form-control" name="group_id" id="group_id">
                                    <?php foreach($this->groups as $group): ?>
                                        <option <?= in_array($group->toArray(), $this->user->groups->toArray())?'selected':''?> value="<?php echo $group->id; ?>"><?php echo $group->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__study@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <div id="div_study_admin" class="input-group select2-bootstrap-prepend">
                                    <select id="study_admin" name="study_admin[]" class="form-control select2" multiple></select>
                                </div>
                                <select class="form-control" name="client_study_id" id="client_study_id" style="display: none;">
                                    <option value=""><?= $this->translate('select_study@backoffice'); ?></option>
                                    <?php foreach($this->client_studies as $client_study): ?>
                                        <option <?= in_array($client_study->toArray(), $this->user->studies->toArray()) ? 'selected' : ''; ?> value="<?= $client_study->id; ?>"><?= $client_study->name; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="div_user_feedbackform" style="display: none;">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__questionnaire@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <select id="user_feedbackform" name="user_feedbackform[]" class="form-control select2" multiple></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('navigation__manage_user_profile@backoffice'); ?></span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?= $this->translate('navigation__nickname@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="nickname" name="nickname" value="<?= $this->user->getProfile()->nickname?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__about@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <textarea rows="8" class="form-control" id="about" name="about"><?= $this->user->getProfile()->about?></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__website@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="website" name="website" value="<?= $this->user->getProfile()->website?>" placeholder="http://">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__phone@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="phone" name="phone" value="<?= $this->user->getProfile()->phone?>" placeholder="123456789">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                <?php echo $this->translate('navigation__mobile@backoffice'); ?>
                            </label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="mobile" name="mobile" value="<?= $this->user->getProfile()->mobile?>" placeholder="123456789">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-energy font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('navigation__actions@backoffice'); ?></span>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" id="btn_enregistrer_user" class="btn green"><?= $this->translate('navigation__submit@backoffice')?></button>
                            <button type="button" class="btn default"><?= $this->translate('navigation__retour@backoffice')?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;

    function external()
    {
        $("#structure_user").select2({
            placeholder: '<?= $this->translate('select_structures@backoffice'); ?>',
            data: <?= json_encode($this->all_json_structures); ?>,
            initSelection: function (element, callback) {
                callback(<?= json_encode($this->associated_json_structures); ?>);
            }
        });

        chageGroupe("#group_id");
        $("#group_id").change(function() {
            chageGroupe(this);
        });

        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }

    function chageGroupe(id) {
        if ($(id).val()== 1) {
            $('#client_study_id').hide();
            $('#div_study_admin').show();
            $('#div_user_feedbackform').hide();

            $("#study_admin").select2({
                placeholder: '<?= $this->translate('select_studies@backoffice'); ?>',
                data: <?= json_encode($this->all_json_studies); ?>,
                initSelection: function (element, callback) {
                    callback(<?= json_encode($this->associated_json_studies); ?>);
                }
            });
        } else if ($(id).val()== 2) {
            $('#client_study_id').show().val();
            $('#div_study_admin').hide();

            changeStudy("#client_study_id");
            $("#client_study_id").change(function() {
                changeStudy(this);
            });
        }
    }

    function changeStudy(id) {
        if($(id).val()=== "") {
            $('#div_user_feedbackform').hide();
        } else {
            $('#div_user_feedbackform').show();
            $.ajax({
                type: 'GET',
                url: '/statflow/user/update',
                dataType: 'json',
                data: 'client_study_id=' + $(id).val(),
                success: function(data) {
                    $("#user_feedbackform").select2({
                        placeholder: '<?= $this->translate('select_feedbackform@backoffice'); ?>',
                        data: data,
                        initSelection: function (element, callback) {
                            callback(<?= json_encode($this->associated_json_questionnaires); ?>);
                        }
                    });
                }
            });
        }
    }

</script>