<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_users_title@backoffice'); ?>
            <small><?= $this->translate('hide_user_item_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-users"></i>
                    <span><?= $this->translate('users_list@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-pencil font-green"></i>
                    <span class="font-green"><?= $this->translate('hide_users@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-energy font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('hide_item_user@backoffice'); ?></span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal" action="<?= $this->url() ?>" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><?= $this->translate('user_hide_field@backoffice'); ?></label>
                            <div class="col-md-9">
                                <select multiple="multiple" class="multi-select" name="sel_front_item[]" id="sel_front_item">
                                    <?php foreach($this->front_items as $front_item): ?>
                                        <option <?= in_array($front_item->id, $this->chosen_items) ? 'selected' : ''; ?> value="<?= $front_item->id; ?>"><?= $front_item->id.". ".$front_item->name." (".$front_item->code.")"; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" name="btnHideFrontItemSave" id="btnHideFrontItemSave" class="btn btn-large green-haze pull-right" >
                                    <i class="icon-plus"></i>
                                    <?= $this->translate('submit@backoffice'); ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function external() {
        $('#sel_front_item').multiSelect();
    }
</script>
<style>
    .ms-container {
        width: 100% !important;
    }
</style>