<?php use Statflow\Service\Structure; ?>

<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_users_title@backoffice'); ?>
            <small><?= $this->translate('list_user_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-users font-green-haze"></i>
                    <span class="font-green"><?= $this->translate('users_list@backoffice'); ?></span>
                </li>
            </ul>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-settings font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('manage_user_title_list@backoffice'); ?></span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <a id="exportHandle" href="javascript:;">
                            <label class="btn btn-transparent blue-ebonyclay btn-outline btn-sm">
                                <?= $this->translate('user_export@backoffice'); ?>
                                <i class="fa fa-download"> </i>
                            </label>
                        </a>
                        <a href="#import-confirmation" role="button" data-toggle="modal">
                            <label class="btn btn-transparent blue-ebonyclay btn-outline btn-sm">
                            <?= $this->translate('user_import@backoffice'); ?>
                            <i class="fa fa-upload"> </i>
                            </label>
                        </a>
                    </div>
                </div>
            </div>
            <form id="multiSelect_form" action="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'multiselect'), null, true); ?>" method="post">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'add'), null, true); ?>"
                               id="sample_editable_1_new" class="btn sbold green-haze"> <?= $this->translate('user_add@backoffice'); ?>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green-haze  btn-outline dropdown-toggle" data-toggle="dropdown"><?= $this->translate('user_tools@backoffice'); ?>
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#multi-select-activate-confirmation" type="button" data-toggle="modal" class="btn-multi-select"
                                           data-value="1">
                                            <i class="icon-key"></i>
                                            <?=$this->translate('user_multi_select_activate@backoffice'); ?>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#multi-select-delete-confirmation" type="button" data-toggle="modal" class="btn-multi-select"
                                           data-value="0">
                                            <i class="icon-trash"></i>
                                            <?= $this->translate('user_multi_select_delete@backoffice'); ?>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-checkable order-column" id="sample_1">
                    <thead class="font-blue-ebonyclay">
                    <tr>
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                <span></span>
                            </label>
                        </th>
                        <th><?= $this->translate('name@backoffice')?></th>
                        <th><?= $this->translate('groupe@backoffice')?></th>
                        <th><?= $this->translate('createAt@backoffice')?></th>
                        <th><?= $this->translate('status@@backoffice')?></th>
                        <th><?= $this->translate('last_connection@backoffice')?></th>
                        <th><?= $this->translate('structure@backoffice')?></th>
                        <th><?= $this->translate('actions@backoffice')?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($this->users as $user): ?>
                        <tr calss="odd gradeX">
                            <?php if(strcasecmp(@$user->username, "admin") == 0 ): ?>
                                <td></td>
                            <?php else: ?>
                                <td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" name="multiSelectBox[]" class="checkboxes" value="<?= $user->id; ?>" />
                                    <span></span>
                                </label></td>
                            <?php endif; ?>
                            <td><?= $user->first_name . ' ' . $user->last_name; ?></td>
                            <td><?= @$user->groups->current()->name; ?></td>
                            <td class="center"><?= $this->displayMysqlDate($user->created_at); ?></td>
                            <td><?= $user->is_active ? ' <span class="label label-sm bg-green-haze"> Active </span>' : ' <span class="label label-sm bg-red-sunglo"> Non active </span>' ?></td>
                            <td class="center"><?= $this->displayMysqlDate($user->last_login); ?></td>
                            <td><?= (new Structure())->getAllStructureAttachedByUserId($user->id)?></td>
                            <td>
                                <?php if(strcasecmp(@$user->username, "admin") !== 0 ): ?>
                                <a
                                    href="#delete-confirmation" role="button" data-toggle="modal"
                                    class="font-red-soft btn-delete"
                                    title="<?= $this->translate('delete@backoffice'); ?>"
                                    data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'delete', 'id' => $user->id), null, true); ?>">
                                    <i class="icon-trash"></i>
                                </a>
                                <?php endif;?>
                                <a class="font-green-dark"
                                   href="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'edit', 'id' => $user->id), null, true); ?>"
                                   title="<?= $this->translate('edit@backoffice'); ?>">
                                    <i class="icon-pencil"></i>
                                </a>
                                <?php if (!$user->is_active && $user->token == NULL): ?>
                                    <a class="font-green-haze"
                                       href="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'activate', 'user_id' => $user->id), null, true); ?>"
                                       title="<?= $this->translate('user_field_activate@backoffice'); ?>">
                                        <i class="icon-key"></i>
                                    </a>
                                <?php endif; ?>

                                <?php if (@$user->groups->current()->id == 2): ?>
                                    <a class="font-grey-mint"
                                       href="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'hide', 'id' => $user->id), null, true); ?>"
                                       title="<?= $this->translate('user_field_hide@backoffice'); ?>">
                                        <i class="icon-ban"></i>
                                    </a>
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            </form>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<script>
    var url = '<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'index'), null, true); ?>?';

    function external()
    {
        var users = <?= json_encode($this->users->toArray()); ?>;
        
        $('.input-append button').bind('click', function(e){
            if ($('.input-append input').val() != '')
            {
                $.each(users, function(i, user){
                    if (user.first_name + ' ' + user.last_name != $('.input-append input').val())
                        $('tr.user' + user.id).hide();
                    else
                        $('tr.user' + user.id).show();
                });
            } else {
                $("tbody tr").show();
            }
        });

        $('#exportHandle').click(function(){
        	url += 'export=1&';
            window.location = url;
        });

        if(<?= count($this->importResult); ?>){
            var overlay = document.getElementById('importDialogResult');
            overlay.style.display = 'block';
        }

    }
</script>