 <link href="<?=$this->baseUrl(); ?>/css/style.css" rel="stylesheet" type="text/css"  media="all" />
<div class="wrap">
<!--start-content------>
	<div class="content">
		<img style='max-width:51%' src="<?=$this->baseUrl(); ?>/images/page_en_construction.gif" title="error" />
	</div>
<!--End-Cotent------>
</div>