<?php if(!empty($this->questionnaire) && $this->displayGlobal != 0){ ?>
<style> 
    <?= $this->formStyle ?>
</style>
<div style='clear: both'></div>
<div class = "global-row-containt">
    <div  class = "global-span-selection">
        <fieldset id="filter" class="coolfieldset">
    		<legend><?= $this->translate('label__'.$this->study.'__list__index__select-filter@'.$this->study); ?></legend>
    		<form id="selectKpi" name="selectKpi" method="GET">
    		      <strong><?= $this->translate('label__'.$this->study.'__list__global_type-KPI@'.$this->study); ?></strong>
    				<hr>
    				<BR/>
				  <span  class ='custom-dropdown custom-dropdown--white' >
    			        <select style = "width: 174px;" class="kpiType filterSelect custom-dropdown__select custom-dropdown__select--white" name="kpiType" id="kpiType" >
                           <option value=""><?php echo $this->translate('navigation__statflow__kpi_management_field_select@backoffice'); ?></option>
                            <option value="1"><?php echo $this->translate('navigation__statflow__kpi_management_field_satisfaction_globale@backoffice'); ?></option>
                            <option value="2"><?php echo $this->translate('navigation__statflow__kpi_management_field_satisfaction_detaille@backoffice'); ?></option>
                            <option value="3"><?php echo $this->translate('navigation__statflow__kpi_management_field_nps_globale@backoffice'); ?></option>
                            <option value="5"><?php echo $this->translate('navigation__statflow__kpi_management_field_experience_globale@backoffice'); ?></option>
                          </select>  
                  </span>
                  <div id='kpiByTitle'></div>
    		</form>
    		<div class="divAccordeon">
                 <input type="button" value="<?= $this->translate('label__'.$this->study.'__index__main__display@'.$this->study); ?>" class="global-btnDisplay" id="global-btnDisplay" style="cursor: pointer"/>
                <input type="button" value="<?= $this->translate('label__'.$this->study.'__index__main__reset@'.$this->study); ?>" class="global-btnReset"  style="cursor: pointer"/>
            </div>
    	</fieldset>
    </div>
    <div class = "global-span-graph">
      <form id="mainFilter" name="mainFilter" method="get">
    	<fieldset id="filter" class="coolfieldset">
    		<legend><?= $this->translate('label__'.$this->study.'__list__index__select-filter@'.$this->study); ?></legend>
    		<div id="filterTable" style="width:100%;float:left;position:relative">
    			<div style="width:60%;float:left;position:relative">
    			<table>
    				<tr>
    					<td class ='period_<?=$this->form_actif;?>' colspan="2" style="padding-right: 10px"><strong><?= $this->translate('label__'.$this->study.'__list__index__filter-period@'.$this->study); ?></strong>
    						<hr></td>
    					<td class ='alert_<?=$this->form_actif;?>' style="padding-right: 10px"><strong> <?= $this->translate('label__'.$this->study.'__list__index__alert@'.$this->study); ?></strong><hr></td>
    					<td class ='structure_<?=$this->form_actif;?>' style="padding-right: 10px"><strong><?= $this->translate('label__'.$this->study.'__list__index__filter_structure@'.$this->study); ?></strong><hr></td>
    				</tr>
    				<tr>
    					<td class ='period_<?=$this->form_actif;?>' style="vertical-align:top;">
    					    <?= $this->translate('label__'.$this->study.'__list__index__filter-period-from@'.$this->study); ?><BR/>
                            <input type="text" name="period-start" id="period-start" class="datePicker" value="<?= $this->periodStart?>" />
    					</td>
    					<td class ='period_<?=$this->form_actif;?>' style="vertical-align:top;">
    					   <?= $this->translate('label__'.$this->study.'__list__index__filter-period-to@'.$this->study); ?><BR/>
    					   <input type="text" name="period-end" id="period-end" class="datePicker" value="<?= $this->periodEnd?>" />
    					</td>
                        <td style="vertical-align:top;">
    				        <span class ='alert_<?=$this->form_actif;?> custom-dropdown custom-dropdown--white' >
        				        <select class="filterSelect custom-dropdown__select custom-dropdown__select--white" name="alert" id="alert" >
                                   <option value=""><?= $this->translate('label__'.$this->study.'__list__index__alert-all@'.$this->study); ?></option>
                                   <option value="1"><?= $this->translate('label__'.$this->study.'__list__index__alert-no@'.$this->study); ?></option>
                                   <option value="2"><?= $this->translate('label__'.$this->study.'__list__index__alert-yes@'.$this->study); ?></option>
                                </select>
                            </span>
                         </td>
                        <td class ='structure_<?=$this->form_actif;?>' style="vertical-align:top;">
                        	 <div id="div_filtre_structure" class="wrapper" style="width: 315px; margin: 0 auto;">
                			 <?php  echo !empty($this->filter_structure) ? $this->filter_structure : $this->translate('label__'.$this->study.'__list__index__no_structure@'.$this->study); ?>
                    			<input type='hidden' name='filter_structure' id='filter_structure' value='' />
        			            <input type='hidden' name='filter_structure_name' id='filter_structure_name' value='' />
                    		</div>
                         
                        </td>  
                    </tr>
    			</table>
    			</div>
    		  <?php if (count($this->kpi_filters)):?>
               <div class ='externalFields_<?=$this->form_actif;?>' style="width:60%;float:left;position:relative">
    		       <table>
    			       <tr>
    				       <td style="padding-right: 10px">
    				           <strong><?= $this->translate('label__'.$this->study.'__list__index__external_filters@'.$this->study); ?></strong><hr>
    					   </td>
    				   </tr> 
    				   <tr>
    				       <?php foreach($this->kpi_filters as $kpi_filter): ?>
    				           <td>
                                   <label><?php echo $kpi_filter->label; ?> :  
                                   <span class="custom-dropdown custom-dropdown--white"> 
                                       <select class="custom-dropdown__select custom-dropdown__select--white sel_kpi_filters sel_kpi_filter_value" name="sel_kpi_filter[<?php echo $kpi_filter->id; ?>]" id="sel_kpi_filter_<?php echo $kpi_filter->id; ?>" style="width:150px;">
                                           <option value=""><?= $this->translate('label__'.$this->study.'__list__index__choisissez@'.$this->study); ?></option>
                                           <?php $selectField = "external_fields".$kpi_filter->id;
                                                 foreach($this->$selectField as $external_field): 
                                                     foreach($external_field as $value):?>
                                                     <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
                                           <?php     endforeach; 
                                                 endforeach; ?>
                                       </select>
                                       </span>
                                   </label>
                               </td>
                               <input type="hidden" name="sel_kpi_filters[<?php echo $kpi_filter->id; ?>]" id="sel_kpi_filters" class="sel_kpi_filters_label" value="<?php echo $kpi_filter->label; ?>" />
                           <?php endforeach; ?>
    				   </tr>
    		       </table>
    			</div>
    			<?php endif;?>
    		
    		  </div>
    	   </fieldset>
        </form>
        <div class="divAccordeon">
            <input type="button" value="<?= $this->translate('label__'.$this->study.'__index__main__display@'.$this->study); ?>" class="btnDisplay" id="btnDisplay" style="cursor: pointer"/>
            <input type="button" value="<?= $this->translate('label__'.$this->study.'__index__main__reset@'.$this->study); ?>" class="btnReset" style="cursor: pointer"/>
        </div>
        
        <!-- Start Rappel filtre -->
        <div class="global-divFilterSelected">
        <table>
            <tr class='selectedHeader'>
                <td class ='period_<?=$this->form_actif;?>' colspan="2" style="padding-right:10px"><strong><?= $this->translate('label__'.$this->study.'__graph__period@'.$this->study); ?></strong>
                    <hr>
                </td>          
                <td class ='alert_<?=$this->form_actif;?>' style="padding-right:10px"><strong><?= $this->translate('label__'.$this->study.'__graph__alert@'.$this->study); ?></strong>
                    <hr>
                </td>
                 <td class ='structure_<?=$this->form_actif;?>' style="padding-right:10px"><strong><?= $this->translate('label__'.$this->study.'__graph__structure@'.$this->study); ?></strong>
                    <hr>
                </td>         
            </tr>
            <tr class='selectedValue'>
                <td class ='period_0'  style="padding-right:5px"><?= $this->translate('label__'.$this->study.'__graph__period-from@'.$this->study); ?><BR> <span id='anwser_from'></span> </td>
                <td class ='period_0'  style="padding-right:10px"><?= $this->translate('label__'.$this->study.'__graph__period-to@'.$this->study); ?><BR> <span id='anwser_to'></span> </td>           
                <td class ='alert_0' style="padding-right:10px"> <span id='alert_0'></span> </td>
                <td class ='structure_0' style="padding-right:10px"> <span id='structure_0'></span> </td>
             </tr>
            </table>
        </div>
        <!-- end rappel filtre -->  
        <div id ='grap-content'>  </div>
    </div>
</div>
<?php 
    }else{ ?>
<link href="<?=$this->baseUrl(); ?>/css/style.css" rel="stylesheet" type="text/css"  media="all" />
	 <div class="wrap">
		<!--start-content------>
		<div class="content">
			<img src="<?=$this->baseUrl(); ?>/images/error-img.png" title="error" />
			<p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
		</div>
		<!--End-Cotent------>
	</div>
<?php } ?>

<link rel="stylesheet" type="text/css" href="<?=$this->baseUrl(); ?>/css/linkes_drilldown.css">
<script type="text/javascript" src="<?=$this->baseUrl(); ?>/js/linkes_drilldown.js"></script>
<script type="text/javascript">
    $(function(){
	    $('.drillDownMenu').linkesDrillDown();
		$('a[href="#a"]').attr('href','javascript:void(0);').click(function(){
			$( "a" ).removeClass( "active_s" );
			$(".l_ddbc").removeClass('active_s');
			$('#filter_structure').val($(this).attr('id'));
			$('#filter_structure_name').val($(this).text());
			$(this).addClass('active_s');
	    });
		$('a.parent').click(function(){
			$( "a" ).removeClass( "active_s" );
			$('#filter_structure').val($(this).attr('id'));
			$('#filter_structure_name').val($(this).text());
			$(".l_ddbc").addClass('active_s');
	    });
		
		//EVENTS
	    $('.btnReset').click(function() {
	    	$('#mainFilter')[0].reset();
	        $('#anwser_from').html('');
	        $('#anwser_to').html('');
	        $('#alert_0').html('');
	        $('#structure_0').html('');
	        $('.appendTd').remove();
	        $('#filter_structure_name').val('');
	        $('#filter_structure').val('');
	        getGlobalGraph($('#selectKpi').serialize());
	    });    
	    $('.global-btnReset').click(function() {
// 	    	$('#selectKpi')[0].reset();
	    	$('#kpiType').val('');
	    	$("#kpiByTitle").html("");
	    });    

	    $('.btnDisplay').click(function() {
	        $('#anwser_from').html($('#period-start').val());
	        $('#anwser_to').html($('#period-end').val());
	        $('#alert_0').html($('#alert option:selected').text());
	        $('#structure_0').html($('#filter_structure_name').val());
	        $('.appendTd').remove();
	        var labelField = [];
	        var valueField = [];
	        labelField = $( ".sel_kpi_filters_label" ).map(function() {
	        	   return this.value;
	        }).get();
	        valueField = $( ".sel_kpi_filter_value" ).map(function() {
	        	   return $('#'+this.id).val();
	        }).get();

	        $.each(labelField, function(i, selected){ 
	        	$('.selectedHeader').append("<td class='appendTd' style=\"padding-right:10px\"><strong>" + selected + "</strong><hr></td>");
	        	console.log(selected);
	        });
	        $.each(valueField, function(i, selected){ 
	        	$('.selectedValue').append("<td class='appendTd' style=\"padding-right:10px\">" + selected + "</td>");
	        	console.log(selected);
	        });
	        getGlobalGraph($('#selectKpi').serialize(), $('#mainFilter').serialize());
	    });

	    //KPI selected
	    $('.global-btnDisplay').click(function() {
		    getGlobalGraph($('#selectKpi').serialize(), $('#mainFilter').serialize());
	    });
	    
	    $('.kpiType').on('change', function(){
		    var type = this.value;
		   
	    	$.ajax({
		    	method:'POST',
	    	    url :'/costumer/index/getkpi',
	    	    data:  {type:this.value},
	    	    dataType : 'json',
	    	    success : function(data) {
	    	    	 var htmlKpi = "";
	    	    	 var detailElement = "";
	    	    	 
	    	    	$.each(data, function(key, value){
	    	    		if (type =='2') {
		    	    		 detailElement = "detailKpi_" + key;
		    	    	 }
	    	    		htmlKpi += "<BR/>";
		    	        //show kpi by study by type
		    	    	htmlKpi += "<strong> " + value.name + " </strong>";
		    	        htmlKpi += "<hr>";
		    	    	htmlKpi += "<div class='space'></div>";
		    	        htmlKpi += " <span  class ='custom-dropdown--white' >";
		    	        htmlKpi += "<select multiple style = \"width: 174px;\" onClick=\"getQuestion('" + key + "','" + type + "' )\" class=\"" + detailElement + " kpiTitle filterSelect custom-dropdown__select custom-dropdown__select--white\" id=\"kpiTitle-" + key + "\"  name=\"kpiTitle-" + key + "[]\"  >";
                        $.each(value.arraykpi, function(k, v){
                        	htmlKpi += "<option value=\"" + k + "\"> " + v + "</option>";
                        });
		    	        htmlKpi += "</select>";
		    	        htmlKpi += "</span>";
		    	        htmlKpi += "<div class='space'></div><div class=\"question-" + key + "\"></div>";
		    	        
		    	    });	    
		    	        $("#kpiByTitle").html(htmlKpi);
		    	        
	    	    },
	    	    error: function (data) {
	    	    	$("#kpiByTitle").html("");
	    	    }
		    });
		});
	});
	
    function getQuestion(form , type) 
    {
        if (type == '2') {
        		  kpi = $('.detailKpi_' + form).val() ;   
            	$.ajax({
        	    	method:'POST',
            	    url :'/costumer/index/get-question',
            	    data:  {kpi : kpi},
            	    dataType : 'json',
            	    success : function(data) {
            	    	var htmlQuestion = "";
            	    	$.each(data, function(key, value){
            	    		htmlQuestion += "<div class='space'></div>";
                	    	htmlQuestion += "<strong><?=$this->translate('label__'.$this->study.'__graph__question@'.$this->study)?></strong>"
            	    		htmlQuestion += "<hr>";
            	    		htmlQuestion += "<div class='space'></div>";
            	    		htmlQuestion += "<span  class ='custom-dropdown custom-dropdown--white' >";
            	    		htmlQuestion += "<select style = \"width: 174px;\" class=\"kpiType filterSelect custom-dropdown__select custom-dropdown__select--white\" name=\"question_" +key+ "\" >";
                	    	$.each(value, function(k, v){
                	    		htmlQuestion += "<option value=\"" + v + "\">" + v + "</option>";
            	    	    });
                	    	htmlQuestion += "</select>";  
          	    			htmlQuestion += "</span>";
            	    	});
                	    $(".question-" + form).html(htmlQuestion);
            	    },
            	    error: function (data) {
            	    	$(".question-" + form).html("");
            	    }
        	    });
       }
        else {
            return 0;
        }
    }

    function getGlobalGraph(params, filter) 
    {
    	$.ajax({
	    	method:'POST',
    	    url :'/costumer/index/get-graph',
    	    data:  params + '&' + filter,
    	    dataType : 'json',
    	    success : function(data) {
        	    if (data.type == '1' || data.type == '2') {
        	    	satisfactionGlobal(data.result, data.label, data.color);
        	    }
        	    else if (data.type == '3') {
        	    	npsGlobal(data.result, data.label, data.color);
        	    }
        	    else if (data.type == '5') {
            	    console.log(data.result);
        	    	experianceGlobal(data.result, data.label, data.color);
        	    } 
        	    else {
     	    	    $('#grap-content').html("<h4>" +data.msg+ "</h4>");
        	    }
 	
    	    },
    	    error: function (data) {
  	    	  console.log('error! :(');
    	    	
    	    }
	    });
    }

    function experianceGlobal(response, label, color) 
    {
    	$('#grap-content').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '<?=$this->translate('label__'.$this->study.'__graph__experience-global-title@'.$this->study); ?>'
            },
            xAxis: {
                categories: label,
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '12px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '<?=$this->translate('label__'.$this->study.'__graph__global-average-score@'.$this->study); ?>'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-experience-very-satisfied@'.$this->study); ?>',
                data: response.Very_satisfied,
                color:(color.colorExpG['colorTS-1'])?'#' + color.colorExpG['colorTS-1'] :'#00BF57'
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-experience-satisfied@'.$this->study); ?>',
                data: response.Satisfied,
                color:(color.colorExpG['colorS-1'])?'#' + color.colorExpG['colorS-1'] :'#9FE357'
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-experience-not-satisfied@'.$this->study); ?>',
                data: response.Not_satisfied,
                color:(color.colorExpG['colorPS-1'])?'#' + color.colorExpG['colorPS-1'] :'#FFD000'
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-experience-not-satisfied-at-all@'.$this->study); ?>',
                data: response.Not_satisfied_at_all,
                color:(color.colorExpG['colorPSDT-1'])?'#' + color.colorExpG['colorPSDT-1'] :'#FF0000'
            }],
        });
    }

    function satisfactionGlobal(response, label, color)
    {
        $('#grap-content').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '<?=$this->translate('label__'.$this->study.'__graph__satisfaction-global-title@'.$this->study); ?>'
            },
            xAxis: {
                categories: label,
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '12px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: [{
                min: 0,
                max:100,
                title: {
                    text: '<?=$this->translate('label__'.$this->study.'__graph__global-average-percent@'.$this->study); ?>'
                }
            }, { // Secondary yAxis
                min:0,
                max:10,
                title: {
                    text: '<?=$this->translate('label__'.$this->study.'__graph__global-average-score@'.$this->study); ?>'
                },
                opposite:true
            }],
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-very-satisfied@'.$this->study); ?>',
                data: response.Very_satisfied,
                color:(color.colorSatG['colorTS'])?'#' + color.colorSatG['colorTS'] :'#00BF57'
                
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-satisfied@'.$this->study); ?>',
                data: response.Satisfied,
                color:(color.colorSatG['colorS'])?'#' + color.colorSatG['colorS'] :'#9FE357'
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-not-satisfied@'.$this->study); ?>',
                data: response.Not_satisfied,
                color:(color.colorSatG['colorPS'])?'#' + color.colorSatG['colorPS'] :'#FFD000'
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-not-satisfied-at-all@'.$this->study); ?>',
                data: response.Not_satisfied_at_all,
                color:(color.colorSatG['colorPSDT'])?'#' + color.colorSatG['colorPSDT'] :'#FF0000'
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-average-score@'.$this->study); ?>',
                type: 'spline',
                yAxis: 1,
                data: response.Average_score,
                color: (color.colorSatG['colorAvgGlo'])?'#' + color.colorSatG['colorAvgGlo'] :'#7CB5EC'
                }
            ]
        });
    }

    function npsGlobal(response, label, color)
    {
    	$('#grap-content').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '<?=$this->translate('label__'.$this->study.'__graph__nps-global-title@'.$this->study); ?>'
            },
            xAxis: {
                categories: label,
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '12px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: [{
                min: 0,
                max:100,
                title: {
                    text: '<?=$this->translate('label__'.$this->study.'__graph__global-average-percent@'.$this->study); ?>'
                }
            }, { // Secondary yAxis
                min:0,
                max:10,
                title: {
                    text: '<?=$this->translate('label__'.$this->study.'__graph__global-average-score@'.$this->study); ?>'
                },
                opposite:true
            }, { // Third yAxis
                min:-100,
                max:100,
                title: {
                    text: '<?=$this->translate('label__'.$this->study.'__graph__global-NPS@'.$this->study); ?>'
                },
                opposite:true
            }],
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-Promoters@'.$this->study); ?>',
                data: response.Promoters,
                color: (color.colorNps['colorPROM'])?'#' + color.colorNps['colorPROM'] :'#00BF57'
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-Passive@'.$this->study); ?>',
                data: response.Passive,
                color:(color.colorNps['colorPASS'])?'#' + color.colorNps['colorPASS'] :'#9FE357'
            }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-Detractors@'.$this->study); ?>',
                data: response.Detractors,
                color: (color.colorNps['colorDETR'])?'#' + color.colorNps['colorDETR'] :'#FF0000'
            },{
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-average-score@'.$this->study); ?>',
                type: 'spline',
                yAxis: 1,
                data: response.Average_score,
                color: (color.colorNps['colorAvgNps'])?'#' + color.colorNps['colorAvgNps'] :'#0000FF'
              }, {
                name: '<?=$this->translate('label__'.$this->study.'__graph__global-NPS@'.$this->study); ?>',
                type: 'spline',
                yAxis: 2,
                data: response.NPS,
                color: (color.colorNps['colorNPS'])?'#' + color.colorNps['colorNPS'] :'#F224CF'
              }
            ]
        });
    }
</script>
<style>
<!--
.kpiTitle {
	height:100%;
	position: relative;
	overflow-y: hidden;
}
#grap-content{
	border: 1px solid #e0e0e0;
    display: table;
    font-size: 12px;
    height: 620px;
    margin-bottom: 20px;
    margin-left: 2px;
    padding: 10px;
    width: 97%;
}
.space {
	margin-top:10px;
}
-->
</style>
