    <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-value="<?=$this->totalRespondents?>"><?=$this->totalRespondents?></span>
                    </h3>
                    <small><?= $this->translate('total_respondent@'.$this->study); ?></small>
                </div>
                <div class="icon">
                    <i class="icon-users"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: 100%;" class="progress-bar progress-bar-success green-sharp"></span>
                </div>
                <div class="status">
                    <div class="status-title"> <?= $this->translate('percent_dashbord@'.$this->study); ?> </div>
                    <div class="status-number"> 100% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-yellow-crusta">
                        <span data-counter="counterup" data-value="<?=$this->totalAlerts?>"><?=$this->totalAlerts?></span>
                    </h3>
                    <small><?= $this->translate('total_alert_dashbord@'.$this->study); ?></small>
                </div>
                <div class="icon">
                    <i class="icon-bell"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                        <span style="width: <?=($this->totalAlerts/$this->totalRespondents)*100?>%;" class="progress-bar progress-bar-success yellow-crusta"></span>
                </div>
                <div class="status">
                    <div class="status-title"> <?= $this->translate('percent_dashbord@'.$this->study); ?> </div>
                    <div class="status-number"> <?= round(($this->totalAlerts/$this->totalRespondents)*100, 2);?>% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-value="<?=$this->totalTreated;?>"><?=$this->totalTreated;?></span>
                    </h3>
                    <small><?= $this->translate('treated_costumers@'.$this->study); ?></small>
                </div>
                <div class="icon">
                    <i class="icon-user-following"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: <?=($this->totalTreated/$this->totalAlerts)*100?>%;" class="progress-bar progress-bar-success blue-sharp">
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> <?= $this->translate('percent_dashbord@'.$this->study); ?> </div>
                    <div class="status-number"> <?=round(($this->totalTreated/$this->totalAlerts)*100, 2)?>% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="<?=$this->totalNoTreated;?>"><?=$this->totalNoTreated;?></span>
                    </h3>
                    <small><?= $this->translate('Notreated_costumers@'.$this->study); ?></small>
                </div>
                <div class="icon">
                    <i class="icon-user-unfollow"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: <?=($this->totalNoTreated/$this->totalAlerts)*100?>%;" class="progress-bar progress-bar-success red-haze"></span>
                </div>
                <div class="status">
                    <div class="status-title"> <?= $this->translate('percent_dashbord@'.$this->study); ?> </div>
                    <div class="status-number"> <?=round(($this->totalNoTreated/$this->totalAlerts)*100, 2)?>% </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tab-rate"></div>
<script type="text/javascript">
	//functions//
	function RespondentRate() {
		$.ajax({
			type: "POST",
			url: '/costumer/graph/respondent-rates/formid/' + <?= $this->form_actif?>,
			success: function (data) {
				if(data.trim() == 'reconnect') {
					window.location.href = '/statflow/auth/logout';
					return;
				}
				console.log(data);
				$('#tab-rate').html(data);
				$('html, body').animate({
					scrollTop: $('#tab-rate').offset().top
				}, 1000);
			}
		});
	}
</script>
