<div class="row">
	<div id="button-kpi">
		<?php if(!empty($this->kpis)) { ?>
			<?php foreach ($this->kpis as $kpi) { ?>
				<?php if ($kpi['type'] == 1) { ?>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat2 ">
							<a href="javascript:;" id="overall-satisfaction_<?=$kpi['question'].'_'.$kpi['id'];?>" class="kpiBtnHandle display">
								<div class="number">
									<h4 class="font-green-haze"><b><?= $kpi['name'] ?></b></h4>
									<small><?= $this->translate('Global_satisfaction@kpi'.$kpi['id']) ?></small>
								</div>
								<div class="icon">
									<i class="fa fa-line-chart"></i>
								</div>
							</a>
							<div class="progress-info">
								<div class="progress">
									<span style="width:100%;" class="progress-bar progress-bar-success green-haze"></span>
								</div>
							</div>
						</div>
					</div>
				<?php } elseif ($kpi['type'] == 2) { ?>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat2 ">
							<a href="javascript:;" id="detailed-satisfaction_<?=str_replace(',', 'x', $kpi['question']).'_'.$kpi['id'];?>" class="kpiBtnHandle display">
								<div class="number">
									<h4 class="font-blue-madison"><b><?= $kpi['name'] ?></b></h4>
									<small><?= $this->translate('Global_satisfaction-detailed@kpi'.$kpi['id']) ?></small>
								</div>
								<div class="icon">
									<i class="icon-bar-chart"></i>
								</div>
							</a>
							<div class="progress-info">
								<div class="progress">
									<span style="width:100%;" class="progress-bar progress-bar-success blue-madison"></span>
								</div>
							</div>
						</div>
					</div>
				<?php } elseif ($kpi['type'] == 3) { ?>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat2 ">
							<a href="javascript:;" id="net-promoter-score_<?=$kpi['question'].'_'.$kpi['id'];?>" class="kpiBtnHandle display">
								<div class="number">
									<h4 class="font-yellow-gold"><b><?= $kpi['name'] ?></b></h4>
									<small><?= $this->translate('Net_Promoter_Score@kpi'.$kpi['id'])?></small>
								</div>
								<div class="icon">
									<i class="fa fa-bar-chart-o"></i>
								</div>
							</a>
							<div class="progress-info">
								<div class="progress">
									<span style="width:100%;" class="progress-bar progress-bar-success yellow-gold"></span>
								</div>
							</div>
						</div>
					</div>
				<?php } elseif ($kpi['type'] == 4) { ?>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat2 ">
							<a href="javascript:;" id="nps-evolution_<?=$kpi['question'].'_'.$kpi['id'];?>" class="kpiBtnHandle display">
								<div class="number">
									<h4 class="font-purple-sharp"><b><?= $kpi['name'] ?></b></h4>
									<small><?= $this->translate('NPS_evolution@kpi'.$kpi['id'])?></small>
								</div>
								<div class="icon">
									<i class="icon-equalizer"></i>
								</div>
							</a>
							<div class="progress-info">
								<div class="progress">
									<span style="width:100%;" class="progress-bar progress-bar-success purple-sharp"></span>
								</div>
							</div>
						</div>
					</div>
				<?php } elseif ($kpi['type'] == 5) { ?>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="dashboard-stat2 ">
							<a href="javascript:;" id="satisfaction-grading_<?=$kpi['question'].'_'.$kpi['id'];?>" class="kpiBtnHandle display">
								<div class="number">
									<h4 class="font-red-sunglo"><b ><?= $kpi['name'] ?></b></h4>
									<small><?= $this->translate('Satisfaction_grading@kpi'.$kpi['id'])?></small>
								</div>
								<div class="icon">
									<i class="fa fa-pie-chart"></i>
								</div>
							</a>
							<div class="progress-info">
								<div class="progress">
									<span style="width:100%;" class="progress-bar progress-bar-success red-sunglo"></span>
								</div>
							</div>
						</div>
					</div>
			<?php }
			}
		} ?>
	</div>
</div>

<div class="portlet light" id="kpisFieldset">
	<div class="portlet-title">
		<div class="caption font-blue-ebonyclay">
			<i class="fa fa-filter font-blue-ebonyclay"></i>
			<span class="caption-subject bold uppercase"> <?= $this->translate('Analyse@form_'.$this->feedback['id']); ?></span>
		</div>
		<div class="tools">
			<a href="" class="fullscreen"></a>
			<a href="" class="collapse"> </a>
		</div>
	</div>
	<div class="portlet-body row portlet-expanded">
		<?php if(!empty($this->kpis)) { ?>
			<div id="KPIs">
				<div id="tabs-container">
					<div id="tab-container">
						<div class="col-md-6" id="error-graph" style="display:none">
							<div class="alert alert-warning alert-styled-left">
								<button class="close" data-dismiss="alert" type="button">
									<span>×</span><span class="sr-only">Close</span>
								</button>
								<span class="text-semibold">Error!</span> We can't load this data, Please feel free to contact us
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php } else { ?>
			<p>NO Kpi selected !</p>
		<?php } ?>
	</div>
</div>

<script type="text/javascript">
	//VARS
	var default_kpi = '<?= $this->default_kpi;?>';
	var default_kpi_array = default_kpi.split(':');

	var currentKPI='';
	if(default_kpi_array[0]=='1')
		currentKPI = 'overall-satisfaction_'+default_kpi_array[1]+'_'+default_kpi_array[2];
	if(default_kpi_array[0]=='2')
		currentKPI = 'detailed-satisfaction_'+default_kpi_array[1].replace(/\,/g,'x')+'_'+default_kpi_array[2];
	if(default_kpi_array[0]=='3')
		currentKPI = 'net-promoter-score_'+default_kpi_array[1]+'_'+default_kpi_array[2];
	if(default_kpi_array[0]=='4')
		currentKPI = 'nps-evolution_'+default_kpi_array[1]+'_'+default_kpi_array[2];
	if(default_kpi_array[0]=='5')
		currentKPI = 'satisfaction-grading_'+default_kpi_array[1]+'_'+default_kpi_array[2];

	var compareCount = 0;
	var compareMode = false;
	var study = '<?=$this->study;?>';

	//functions//
	function mainPagekpi() {

		initializeFilter();

		//EVENTS
		// Reset Global filter
		$('#reset').click(function() {
			sessionStorage.clear();
			loadGraph($('#' + currentKPI));
			$('#tree_2')
				.jstree("deselect_all")
				.jstree("close_all");
		});

		$('.kpiBtnHandle').each(function() {
			$('#' + currentKPI).parent().addClass('bg-blue-ebonyclay');
			$(this).click(function(event) {
				event.preventDefault();
				if (currentKPI != $(this).attr('id')) {
					$('#' + currentKPI).parent().removeClass('bg-blue-ebonyclay');
					$(this).parent().addClass('bg-blue-ebonyclay');
					loadGraph(this);
					currentKPI = $(this).attr('id');
				}
			});
		});

		$('#btnDisplay').click(function() {
			updateFilter();
			if(compareMode)
				compare($('#compareFilter').serialize());
			else
				loadGraph($('#' + currentKPI));
		});

		loadGraph($('#' + currentKPI));
	}

	function loadGraph(kpi)
	{
		var currentKPI = $(kpi).attr('id');
		var currentKPIArray =currentKPI.split('_');
		$.ajax({
			type: "POST",
			url: '/costumer/graph/' + currentKPIArray[0] + '/formid/' + <?=$this->form_actif?>+'/base/' +currentKPIArray[1]+'/study/'+study+'/kpi/'+currentKPIArray[2],
			data: JSON.parse(sessionStorage.getItem('paramsFilter')),
			success: function (data) {
				if(data.trim() == 'reconnect') {
					window.location.href = '/statflow/auth/logout';
					return;
				}

				$('#tab-container').html(data);
				$('html, body').animate({
					scrollTop: $('#tab-container').offset().top
				}, 1000);
			}
		});
	}

	function compare(dataPost,kpi) {
		compareCount++;
		dataPost.compare = true;
		var filter = dataPost;
		var currentKPIArray =currentKPI.split('_');
		$.ajax({
			type: "POST",
			url: '/fr/costumer/graph/' + currentKPIArray[0] + '/formid/' + <?=$this->form_actif?>+'/base/' +currentKPIArray[1]+ '/compare/' + compareCount+'/study/'+study+'/kpi/'+currentKPIArray[2],
			data: filter,
			success: function (data) {
				$("<div>")
					.attr('id', 'tab-compare-id-' + compareCount)
					.appendTo($('#tabs-container'));
				var compareElement = $('#tab-compare-id-' + compareCount);
				compareElement.html(data);
				$('html, body').animate({
					scrollTop: compareElement.offset().top
				}, 1000);
				kv.set('#tab-compare-id-' + compareCount, currentKPI, compareCount, dataPost);
			}
		});
	}

	function reloadCompare() {
		kv.rwd();
		while(tmp = kv.itr()) {
			var compareRow = tmp;
			var compareElement = $(compareRow.k);
			compareElement.remove();
		}
		kv.rwd();
		while(tmp = kv.itr()) {
			var compareRow = tmp;
			var data = compareRow.d;
			//data.compare = true;
			$.ajax({
				type: "POST",
				url: '/fr/costumer/graph/' + currentKPIArray[0] + '/formid/' + <?=$this->form_actif?>+'/base/' +currentKPIArray[1]+ '/compare/'+ compareRow.c+'/study/'+study+'/kpi/'+currentKPIArray[2],
				data: data,
				async: false,
				success: function (data, status, req) {
					var id = compareRow.c; //this.context.url.charAt(this.context.url.length - 1);
					$("<div>")
						.attr('id', 'tab-compare-id-' + id)
						.appendTo($('#tabs-container'));
					setTimeout(function(newCompareElement, dataHtml) {
						newCompareElement.html(dataHtml);
						$('html, body').animate({
							scrollTop: newCompareElement.offset().top
						}, 1000);
					}, 4000, $('#tab-compare-id-' + id), data);
				}
			});
		}
		kv.rwd();
	}

	function keyvals () {
		"use strict";

		var _head, _tail, _pos;
		var _keys = {};
		this.len = 0;

		this.set = function (k, v, c, d) {
			if (! _keys[k]) {
				var node = {v: v, k: k, c: c, d: d};

				if (this.len === 0) {
					_head = _tail = node;
					this.rwd();
				} else {
					node.p = _tail;
					_tail.n = node;
					_tail = node;
				}
				_keys[k] = node;

				this.len++;
			}
		};

		this.del = function (k) {
			var v;
			var node = _keys[k];

			if (node) {
				v = node.v;

				if (node.p) node.p.n = node.n;
				if (node.n) node.n.p = node.p;

				_keys[k] = null;
				this.len--;
			}

			return v;
		};

		this.get = function (k) {
			return _keys[k];
		};

		this.itr = function () {
			return _pos = _pos.n;
		};

		this.rwd = function () {
			_pos = {n: _head};
		}

		this.empty = function () {
			_keys = {};
			_head = _tail = _pos = null;
			this.len = 0;
		};

	}

	var kv = new keyvals();

</script>
