
<form id="<?php echo 'feedbackpageform' . $this->pageIndex; ?>" class="form-inline" action="<?php echo $this->url(array('controller' => 'questionnaire', 'action' => 'reply', 'page_index' => $this->pageIndex)); ?>" method="post">


    <div class="container-fluid gradient-background page-name">
        <?php echo $this->page['name']; ?>
    </div>
    <br/>

    <?php foreach ($this->page['sections'] as $key => $section): ?>

        <?php if (isset($section['display']) && $section['display'] == true): ?>
            <div id="<?php echo 'section' . $this->page['id'] . '-' . $key; ?>">
                <p class="section-desc"><?php echo $section['description']; ?></p>
                <div class="well" >
                    <?php $showScale = true; ?>
                    <?php foreach ($section['questions'] as $question): ?>

                        <?php if (!isset($question['entries'])): ?>
                            <?php if ($question['question_type_id'] == 1): ?>
                                <?php if ($showScale): ?>
                                    <div class="offset4" >
                                        <?php if ($question['id'] != 45): ?>
                                                <p >1 corresponds to very dissatisfied and 10 to very satisfied.</p>
                                         <?php else: ?>
                                                 <p >1 corresponds to Very unlikely and 10 to very likely</p>
                                          <?php endif; ?>
                                    </div>
                                    <?php $showScale = false; ?>
                                <?php endif; ?>
                                <div class="row-fluid" id="<?php echo $question['question_type_id'] . '_' . $question['id']; ?>">
                                    <div class="span4"> <label class="control-label" for="<?php echo 'score' . $question['id']; ?>"><?php echo $question['id'] . '- ' . $question['content']; ?></label></div>
                                    <div class="span2" >
                                        <div id="<?php echo 'slider-range-max' . $question['id']; ?>" style="margin-top: 8px;"></div>
                                    </div>
                                    <div class="span1"><input class="input-slider" type="text" id="<?php echo $question['id']; ?>" readonly name="<?php echo $question['id']; ?>" ></div>
                                    <?php if ($question['id'] > 2): ?>
                                        <div class="span2"><label class="checkbox"><input onclick="desable_slider(this)" type="checkbox" class="cb-dont-know" value="DK" name="<?php echo $question['id']; ?>" />  Don't know</label></div>
                                    <?php endif; ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($question['question_type_id'] == 4): ?>
                                <br>
                                <div class="row-fluid" id="<?php echo $question['question_type_id'] . '-' . $question['id']; ?>">
                                    <div class="span6"> <label class="control-label" for="<?php echo $question['id']; ?>"><?php echo $question['id'] . '- ' . $question['content']; ?></label></div>
                                    <div class="span1"><input type="text" id="<?php echo $question['id']; ?>" name="<?php echo $question['id']; ?>" ></div>
                                </div>
                            <?php endif; ?>
                            <?php if ($question['question_type_id'] == 5): ?>
                                <div class="row-fluid" id="<?php echo $question['question_type_id'] . '-' . $question['id']; ?>">
                                    <label class="control-label" for="<?php echo $question['id']; ?>"><?php echo $question['id'] . '- ' . $question['content']; ?></label>
                                    <textarea rows="7" class="span6" id="<?php echo $question['id']; ?>" name="<?php echo $question['id']; ?>"></textarea>
                                </div>
                            <?php endif; ?>
                                
                                
                                
                                
                                
                                
                                
                                
                        <?php else: ?>
                            <div class="row-fluid" id="<?php echo $question['question_type_id'] . '-' . $question['id']; ?>">
                                <p><br/><?php echo $question['id'] . '- ' . $question['content']; ?>
                                    <?php if ($question['id'] == 47): ?>
                                        <img src="<?php echo $this->baseUrl(); ?>/img/antalis-q47.png" >
                                    <?php endif; ?>
                                </p>
                                <?php foreach ($question['entries'] as $entry): ?>
                                    <?php if ($entry['entry_type_id'] == 1): ?>
                                        <label class="checkbox">
                                            <input type="checkbox"  id="<?php echo 'optionsCheckbox' . $entry['id']; ?>"  name="<?php echo $question['id'] . '-' . $entry['id']; ?>" value="<?php echo $entry['id']; ?>"><?php echo $entry['content']; ?>
                                        </label><br/>
                                    <?php endif; ?>
                                    <?php if ($entry['entry_type_id'] == 2): ?>
                                        <label class="radio">
                                            <input type="radio" name="<?php echo $question['id']; ?>"  id="<?php echo 'optionsRadios' . $entry['id']; ?>"  value="<?php echo $entry['id']; ?>"><?php echo $entry['content']; ?>
                                        </label><br/>
                                    <?php endif; ?>
                                    <?php if ($entry['entry_type_id'] == 3): ?>
                                        <div class="row-fluid" id="<?php echo $question['question_type_id'] . '-' . $question['id'] . '-' . $entry['id']; ?>">
                                            <div class="span6">
                                                <label class="checkbox">
                                                    <input type="checkbox"  id="<?php echo 'optionsCheckbox' . $entry['id']; ?>"  name="<?php echo $question['id'] . '-' . $entry['id'] . '-1'; ?>"><?php echo $entry['content']; ?>
                                                </label>
                                            </div>
                                            <div class="span1"><input type="text" id="<?php echo $entry['id']; ?>" name="<?php echo $question['id'] . '-' . $entry['id'] . '-2'; ?>" ></div>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($entry['entry_type_id'] == 4): ?>
                                        <?php if ($showScale): ?>
                                            <div class="offset4" ><p >1 corresponds to very dissatisfied and 10 to very satisfied.</p></div>
                                            <?php $showScale = false; ?>
                                        <?php endif; ?>
                                        <div class="row-fluid" id="<?php echo $question['question_type_id'] . '-' . $question['id'] . '-' . $entry['id']; ?>">
                                            <div class="span2">
                                                <?php echo $entry['content']; ?>
                                            </div>
                                            <div class="span2" ><div id="<?php echo 'slider-range-max' . $question['id'] . '-' . $entry['id']; ?>" style="margin-top: 8px;"></div></div>
                                            <div class="span1"><input type="text" readonly class="input-slider" id="<?php echo $question['id'] . '-' . $entry['id'] . '-2'; ?>" name="<?php echo $question['id'] . '-' . $entry['id']; ?>"></div>
                                            <div class="span2"><label class="checkbox"><input onclick="desable_slider(this)" type="checkbox" class="cb-dont-know" value="DK" name="<?php echo $question['id'] . '-' . $entry['id']; ?>" />  Don't know</label></div>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($entry['entry_type_id'] == 5): ?>
                                        <div class="row-fluid">
                                            <div class="span3"> <label class="control-label" for="<?php echo $entry['id']; ?>"><?php echo $entry['content']; ?></label></div>
                                            <div class="span2"><input type="text" id="<?php echo $entry['id']; ?>" name="<?php echo $question['id'] . '-' . $entry['id']; ?>" ></div>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($entry['entry_type_id'] == 6): ?>
                                        <div class="row-fluid" id="<?php echo $question['question_type_id'] . '-' . $question['id'] . '-' . $entry['id']; ?>">
                                            <label class="control-label" for="<?php echo $entry['id']; ?>"><?php echo $entry['content']; ?></label>
                                            <textarea rows="7" class="span6" id="<?php echo $entry['id']; ?>" name="<?php echo $question['id'] . '-' . $entry['id'];  ?>"></textarea>
                                        </div>
                                    <?php endif; ?>
                                    <?php if ($entry['entry_type_id'] == 7): ?>
                                        <div class="row-fluid" id="<?php echo $question['question_type_id'] . '-' . $question['id'] . '-' . $entry['id']; ?>">
                                            <div class="span2">
                                                <label class="radio">
                                                    <input type="radio" name="<?php echo $question['id']; ?>"  id="<?php echo 'optionsRadios' . $entry['id']; ?>"  value="<?php echo $entry['id']; ?>"><?php echo $entry['content']; ?>
                                                </label>
                                            </div>
                                            <div class="span2"><input type="text" id="<?php echo $entry['id']; ?>" name="<?php echo $question['id'] . '-' . $entry['id'] . '-2'; ?>" ></div>
                                        </div>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </div>
                        <?php endif; ?>

                    <?php endforeach; ?>

                </div>

            </div>
        <?php endif; ?>

    <?php endforeach; ?>

</form>

