<?php foreach ($this->errors as $error) : ?>
    <div class="alert alert-block alert-error">
        <h4><?php echo $this->translate('feedback-form__statflow__error___'.$error.'@study') ?></h4>
    </div>
<?php endforeach; ?>