<div class="languagesContainer">
    <?php foreach ($this->availableLanguages as $language): ?>
        <a href="<?= $this->url(array('language' => $language->language));?>">
            <img src="/study/img/flags/<?= $language->language . '_' . $language->region . '.png' ?>" alt="<?= $language->name?>" />
        </a>
    <?php endforeach; ?>
</div>

<style>
    <?= $this->formStyle ?>
</style>

<script type="text/javascript">
    var formData = <?= $this->jsonData ?>

    var nextQuestionText = "<?= trim($this->translate('form__'.$this->form->id.'__next-question@Form_'.$this->form->id))?>"

    var previousQuestionText = "<?= trim($this->translate('form__'.$this->form->id.'__previous-question@Form_'.$this->form->id)) ?>"

    var validateFormText = "<?= trim($this->translate('form__'.$this->form->id.'__validate-form@Form_'.$this->form->id)) ?>"

    var invalidQuestionText = "<?= trim($this->translate('form__'.$this->form->id.'__invalid-question@Form_'.$this->form->id)) ?>"

   	var invalidOpenQuestionText = "<?= trim($this->translate('form__'.$this->form->id.'__invalid-openquestion@Form_'.$this->form->id))?>"

    var invalidMcQuestionText = "<?= trim($this->translate('form__'.$this->form->id.'__invalid-mcquestion@Form_'.$this->form->id))?>"
     	   	   	 	         	
</script>