<?php
$tabContainerId = md5('tab' . time() . '___' . Costumer_Service_Graph::generate());
$tabIdOne = md5('tab1' . time() . '___' . Costumer_Service_Graph::generate());
$tabIdTwo = md5('tab2' . time() . '___' . Costumer_Service_Graph::generate());
?>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-chambray">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'detailed_satisfaction-title@'.$this->study); ?></div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdOne; ?>">
                <div class="table-responsive">
                    <table>
                        <tr>
                            <td></td>
                            <td style="text-align: center;font-weight:900;">
                                <?php if ($this->respondent_base > 0) : ?>
                                    <?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__detailed-satisfaction-subtitle-average-out-of-ten@'.$this->study); ?>
                                <?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <?php
                            $heightExpected = 95  *  count($this->satisfactionDetailedAverage);
                            ?>
                            <td id="<?= $tabIdOne ?>-containerMainDetailedSatisfaction"  style="width:100%;height: <?=$heightExpected?>px; margin: 0 auto;top:0%;"></td>
                            <td id="<?= $tabIdOne ?>-containerEvolutionDetailedSatisfactionAverage" style="width: 130px; height: 100%; margin: 0 auto;position:relative;top:0%;vertical-align: top">
                                <table style='position:relative;height:100%;' >
                                    <?php
                                    $i=0;foreach ($this->satisfactionDetailedAverage as $averageData): ?>
                                        <tr>
                                            <td><div id="container-speed-<?=$i?>-<?= $tabContainerId; ?>" style="width: 130px;height:80px"></div></td>
                                        </tr>
                                        <?php $i++;
                                    endforeach; $max = $i;?>
                                    <tr><td style="height: 75px" id="spaceGauge_<?=$this->kpi?>"></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet box blue-chambray ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-graph"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'satisfaction-annual-title@'.$this->study); ?></div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdTwo; ?>">
                <div class="tab__container__evolution-detailed-satisfaction_<?=$this->study ?>__<?=$this->kpi ?>" id="<?php echo $tabIdTwo ?>-containerEvolutionDetailedSatisfaction"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
 
    function loadcontainerMainDetailedSatisfaction() {
    	<?php if ($this->respondent_base > 0) : ?>
        var gaugeOptions = {

            chart: {
                type: 'solidgauge'
            },

            title: null,

            pane: {
                center: ['50%', '85%'],
                size: '140%',
                startAngle: -90,
                endAngle: 90,
                background: {
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                    innerRadius: '60%',
                    outerRadius: '100%',
                    shape: 'arc'
                }
            },

            tooltip: {
                enabled: false
            },
            
            // the value axis
            yAxis: {
                stops: [
                        [<?=($this->borne['bornePDTSMin']/10)?>, '<?php echo ($this->color['colorPSDT'])? $this->color['colorPSDT']:'#FF0000';?>'], // red
                        [<?=($this->borne['bornePDTSMax']/10)?>, '<?php echo ($this->color['colorPSDT'])? $this->color['colorPSDT']:'#FF0000';?>'], // red
                        [<?=($this->borne['bornePSMin']/10)?>, '<?php echo ($this->color['colorPS'])? $this->color['colorPS']:'#FFD000';?>'], // yellow
                        [<?=($this->borne['bornePSMax']/10)?>, '<?php echo ($this->color['colorPS'])? $this->color['colorPS']:'#FFD000';?>'], // yellow
                        [<?=($this->borne['borneSMin']/10)?>, '<?php echo ($this->color['colorS'])? $this->color['colorS']:'#9FE357';?>'], // green light
                        [<?=($this->borne['borneSMax']/10)?>, '<?php echo ($this->color['colorS'])? $this->color['colorS']:'#9FE357';?>'], // green light
                        [<?=($this->borne['borneTSMin']/10)?>, '<?php echo ($this->color['colorTS'])? $this->color['colorTS']:'#00BF57';?>'], // green
                        [<?=($this->borne['borneTSMax']/10)?>, '<?php echo ($this->color['colorTS'])? $this->color['colorTS']:'#00BF57';?>'] // green
                        ],
                lineWidth: 0,
                minorTickInterval: null,
                tickPixelInterval: 400,
                tickWidth: 0,
                title: {
                    y: -80
                },
                labels: {
                    y: 16
                }
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        y: 5,
                        borderWidth: 0,
                        useHTML: true
                    }
                }
            }
        };
        var countAverage = <?=$max?>;
        <?php $i=0;foreach ($this->satisfactionDetailedAverage as $averageData): ?>
        // The RPM gauge
        $('#container-speed-<?=$i?>-<?php echo $tabContainerId;?>').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
                min: 0,
                max: 10,
                title: {
                    text: 'Pourcentage ST'
                }
            },
            credits: {
                enabled: false
            },
            exporting: {
                enabled: false
            },
            series: [{
                name: 'Pourcentage ST',
                data: [<?php echo ($averageData == 0) ? '' : number_format($averageData, 1); ?>],
                dataLabels: {
               	 format: '<div style="text-align:center"><span style="font-size:15px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                         '</div>'
                }
            }]
        }));
        <?php $i++;
        endforeach;
        endif;?> 
                 
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: '<?php echo $tabIdOne ?>-containerMainDetailedSatisfaction',
                type: 'bar',
                marginRight: 100
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            colors: [   '<?php echo ($this->color['colorPSDT'])? $this->color['colorPSDT']:'#FF0000';?>',
                		'<?php echo ($this->color['colorPS'])? $this->color['colorPS']:'#FFD000';?>',
                		'<?php echo ($this->color['colorS'])? $this->color['colorS']:'#9FE357';?>',
                		'<?php echo ($this->color['colorTS'])? $this->color['colorTS']:'#00BF57';?>'],
            xAxis: {
                categories: <?php echo json_encode(array_keys($this->satisfactionDetailedAverage)); ?>
            },
            yAxis: {
                min: 0,
                title: {
                    text: null
                }
            },
            legend: {
                x: 100,
                y: 10,
                align: 'center',
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            tooltip: {
                formatter: function () {
                    return '' +
                        this.series.name + ': <strong>' + Highcharts.numberFormat(this.y, 0) + ' </strong>';
                }
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        color: '#000',
                        style:  {
                            //fontWeight:'bold',
                            fontSize: '13px'
                        },
                        formatter: function () {
                            return (this.percentage > 0) ? Highcharts.numberFormat(this.percentage, 0) + '%' : '';
                        }
                    },
                    stacking: 'percent'
                }
            },
            series: <?php echo json_encode(array_values($this->satisfactionDetailed)); ?>
        });
    }

    function loadcontainerEvolutionDetailedSatisfaction() {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: '<?php echo $tabIdTwo ?>-containerEvolutionDetailedSatisfaction',
                type: 'line'
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            exporting: {
                enabled: false
            },
            xAxis: {
                categories: [
                    'janv.',
                    'févr.',
                    'mars',
                    'avr.',
                    'mai',
                    'juin',
                    'juill.',
                    'août',
                    'sept.',
                    'oct.',
                    'nov.',
                    'déc.'  ]
            },
            yAxis: {
                title: {
                    text: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__detailed-satisfaction-annual-yAxis-average-grade@'.$this->study); ?>'
                },
                min: 0,
                max: 10,
                tickInterval: 0.5,
                plotLines: [
                    {
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }
                ]
            },
            legend: {
                x: 10,
                y: 10,
                align: 'center',
                layout: "vertical",
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ': ' + this.y;
                }
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        color: '#000',
                        style:  {
                            fontSize: '13px'
                        }
                    }
                }
            },
            series: <?php echo json_encode(array_values($this->satisfactionDetailedByMonth)); ?>
        });
    }

    $(function () {
        <?php if (isset($this->compareCount)) : ?>
            $('#<?php echo $comparisonSpan; ?>').click(function () {
                $('#tab-compare-id-<?php echo $this->compareCount; ?>').remove();
                kv.del('#tab-compare-id-<?php echo $this->compareCount; ?>');
            });
        <?php endif; ?>

        Highcharts.theme = {
            colors: ['#FF0000', '#FFD000', '#9FE357', '#00BF57', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
        };
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

        <?php if($this->respondent_base > 0) : ?>
        loadcontainerMainDetailedSatisfaction();
        <?php endif; ?>
        loadcontainerEvolutionDetailedSatisfaction();
    });
</script>