<?php
$tabContainerId = md5('tab'. time() . '___' . Costumer_Service_Graph::generate());
$tabIdOne = md5('tab1'. time() . '___' . Costumer_Service_Graph::generate());
$tabIdTwo = md5('tab2'. time() . '___' . Costumer_Service_Graph::generate());
?>
<div class="divFilterSelected">
<?= $this->respondent_base; ?>
</div>

<div id="<?= $tabContainerId; ?>">
    <div id="<?= $tabIdOne; ?>">
        <div id="<?= $tabIdOne; ?>-containerMainAlerts" style="width: auto; margin: 0 auto"></div>
    </div>
    <div id="<?= $tabIdTwo; ?>">
        <div id="<?= $tabIdTwo; ?>-containerEvolutionAlerts" style="width: auto; margin: 0 auto"></div>
    </div>
</div>
<script type="text/javascript">
    function loadcontainerMainAlerts(container) {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: container,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            colors: ['#FF0000', '#9FE357'],
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            tooltip: {
                formatter: function() {
                    return this.point.name + ' <b> '+ Highcharts.numberFormat(this.percentage, 0) + '%</b>';
                }
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 0) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Image',
                data:  <?= json_encode($this->negativeAlerts); ?>
            }]
        });
    }
    function loadcontainerEvolutionAlerts(container){
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: container,
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        color: '#000',
                        style:  {
                            fontSize: '13px'
                        },
                        formatter: function () {
                            return Highcharts.numberFormat(this.y, 0) + '%';
                        }
                    }
                }
            },
            title: {
                text: ''
            },
            colors:['#FF0000'],
            xAxis: {
                categories: [
                    'janv.',
                    'févr.',
                    'mars',
                    'avr.',
                    'mai',
                    'juin',
                    'juill.',
                    'août',
                    'sept.',
                    'oct.',
                    'nov.',
                    'déc.'  ]
            },
            yAxis: {
                title: {
                    text: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__negative-alert-annual-yAxis-percentage@'.$this->study); ?>'
                },
                min: 0,
                max: 100,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#FF0000'
                }]
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +' %';
                }
            },
            exporting: {
                enabled: false
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [
                {
                    name: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__negative-alert-annual-series-negative-alert@'.$this->study); ?>',
                    data: <?= json_encode(array_values($this->negativeAlertsEvolution)); ?>
                }
            ]
        });
    }

    <?php if($this->respondent_base > 0) : ?>
    loadcontainerMainAlerts('<?= $tabIdOne; ?>-containerMainAlerts');
    <?php endif; ?>
    loadcontainerEvolutionAlerts('<?= $tabIdTwo; ?>-containerEvolutionAlerts');
</script>