<?php
$tabContainerId = md5('tab' . time() . '___' . Costumer_Service_Graph::generate());
$tabIdOne = md5('tab1' . time() . '___' . Costumer_Service_Graph::generate());
$tabIdTwo = md5('tab2' . time() . '___' . Costumer_Service_Graph::generate());
?>
<div class="row">
    <div class="col-md-4">
        <div class="portlet box blue-chambray ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate($this->study.'_respondent-base@'.$this->study); ?>
                </div>
            </div>
            <div class="portlet-body dashboard-stat dashboard-stat-v2 white" style="height: 165px">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <b><span data-counter="counterup" data-value="<?= $this->respondent_base; ?>"><?= $this->respondent_base; ?></span></b>
                    </div>
                    <div class="desc"><?= $this->translate('nps_total_Respondents@'.$this->study); ?></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet box blue-chambray ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'_nps-subtitle@'.$this->study); ?>
                </div>
            </div>
            <div class="portlet-body">
                <div id="containerNpsGauge" style="width: 220px;height:180px;margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet box blue-chambray ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'_nps-subtitle-average-out-of-ten@'.$this->study); ?>
                </div>
            </div>
            <div class="portlet-body">
                <div id="container-speed-<?= $tabContainerId; ?>" style="width: 200px;height:140px;margin: 12px auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box blue-chambray ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'_nps-pourcent@'.$this->study); ?>
                </div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdOne; ?>">
                <div id="<?= $tabIdOne; ?>-containerMainNPS" style="margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box blue-chambray ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'_nps-annual-evolution@'.$this->study); ?>
                </div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdTwo; ?>">
                <div id="<?= $tabIdTwo; ?>-containerMainNPSEvolution" style="margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function npsGauge() {
        var npsGaugeOption = new Highcharts.Chart({
            chart: {
                renderTo: 'containerNpsGauge',
                type: 'gauge',
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                plotBorderWidth: 0,
                plotShadow: false
            },
            credits: {
                enabled: false
            },
            title: null,
            exporting: {
                enabled: false
            },
            pane: {
                startAngle: -150,
                endAngle: 150
            },
            // the value axis
            yAxis: {
                min: -100,
                max: +100,

                minorTickInterval: 'auto',
                minorTickWidth: 1,
                minorTickLength: 10,
                minorTickPosition: 'inside',
                minorTickColor: '#666',

                tickPixelInterval: 30,
                tickWidth: 2,
                tickPosition: 'inside',
                tickLength: 10,
                tickColor: '#666',
                labels: {
                    step: 2,
                    rotation: 'auto'
                },
                title: null,
                plotBands: [{
                    from: -100,
                    to: -10,
                    color: '#DF5353' // green
                }, {
                    from: -10,
                    to: +10,
                    color: '#DDDF0D' // yellow
                }, {
                    from: +10,
                    to: +100,
                    color: '#55BF3B' // red
                }]
            },
            series: [{
                name: 'NPS',
                data: [<?=$this->npsScore?>],
                tooltip: {
                    valueSuffix: '<?= ($this->npsScore > 0 ) ? '+' : '' ?>'
                }
            }]

        });
    }

    function loadcontainerMainNPS() {

        var gaugeOptions = {
                chart: {
                    type: 'solidgauge'
                },
                title: null,
                pane: {
                    center: ['50%', '85%'],
                    size: '140%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                // the value axis
                yAxis: {
                    stops: [   
                             [0, '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>'], // red
                             [0.6, '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>'], // red
                             [0.7, '<?= ($this->color && $this->color['colorPASS'])? $this->color['colorPASS']:'#9FE357';?>'], // yellow
                             [0.8, '<?= ($this->color && $this->color['colorPASS'])? $this->color['colorPASS']:'#9FE357';?>'], // yellow
                             [0.9, '<?= ($this->color && $this->color['colorPROM'])? $this->color['colorPROM']:'#00BF57';?>'], // green
                             [1, '<?= ($this->color && $this->color['colorPROM'])? $this->color['colorPROM']:'#00BF57';?>'] // green
                           ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    title: {
                        y: -80
                    },
                    labels: {
                        y: 16
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            };

            // The RPM gauge
            $('#container-speed-<?= $tabContainerId;?>').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 10,
                    title: {
                        text: 'Pourcentage NPS'
                    }
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Pourcentage ST',
                    data: [<?= number_format($this->npsAverageScore, 1); ?>],
                    dataLabels: {
                    	format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                           '</div>'
                    }
                }]
            }));
                    
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: '<?= $tabIdOne; ?>-containerMainNPS',
                type: 'bar',
                marginBottom: 80
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            colors: [ '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>' ,
                      '<?= ($this->color && $this->color['colorPASS'])? $this->color['colorPASS']:'#9FE357';?>',
                      '<?= ($this->color && $this->color['colorPROM'])? $this->color['colorPROM']:'#00BF57';?>'],
            xAxis: {
                categories: ['<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__nps-net-promoter-score_xAxis@'.$this->study); ?>']
            },
            yAxis: {
                min: 0,
                title: {
                    text: null
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            tooltip: {
                formatter: function () {
                    return '' +
                        this.series.name + ': ' + Highcharts.numberFormat(this.y, 0);
                }
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        color: '#000',
                        style:  {
                            fontSize: '13px'
                        },
                        formatter: function () {
                            return Highcharts.numberFormat(this.percentage, 0) + '%';
                        }
                    },
                    stacking: 'percent'
                }
            },
            series: <?= json_encode($this->nps); ?>
        });
    }

    function loadcontainerMainNPSEvolution() {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: '<?= $tabIdTwo; ?>-containerMainNPSEvolution',
                type: 'line'
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            colors: ['#4572A7'],
            xAxis: {
                categories: [
                    'janv.',
                    'févr.',
                    'mars',
                    'avr.',
                    'mai',
                    'juin',
                    'juill.',
                    'août',
                    'sept.',
                    'oct.',
                    'nov.',
                    'déc.'  ]
            },
            yAxis: {
                title: {
                    text: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__nps-annual-yAxis-nps@'.$this->study); ?>'
                },
                plotLines: [
                    {
                        value: 0,
                        width: 1,
                        color: '#4572A7'
                    }
                ]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b>' + ': ' + this.y;
                }
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [
                {
                    name: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__nps-annual-series-nps@'.$this->study); ?>',
                    data: <?= json_encode(array_values($this->npsEvolution)); ?>
                }
            ]
        });
    }

    Highcharts.theme = {
        colors: ['#FF0000', '#FFD000', '#9FE357', '#00BF57', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
    };
    var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

    <?php if($this->respondent_base > 0) : ?>
    loadcontainerMainNPS();
    <?php endif; ?>
    loadcontainerMainNPSEvolution();
    npsGauge();

</script>