<?php
$tabContainerId = md5('tab' . time() . '___' . Costumer_Service_Graph::generate());
$tabIdOne = md5('tab1' . time() . '___' . Costumer_Service_Graph::generate());
$tabIdTwo = md5('tab2' . time() . '___' . Costumer_Service_Graph::generate());
?>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue-chambray">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'satisfaction-nps-evolution-title@'.$this->study); ?></div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdOne; ?>">
                <div class="tab__container__evolution-nps_<?=$this->study ?>__<?=$this->kpi ?>"  id="<?= $tabIdOne?>-containerEvolutionNPS"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box blue-chambray">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-graph"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'satisfaction-nps-evolution-annual-title@'.$this->study); ?></div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdTwo; ?>">
                <div class="tab__container__main-nps-detailed_<?=$this->study ?>__<?=$this->kpi ?>"  id="<?= $tabIdTwo; ?>-containerMainNPSDetailed"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

   var dataSum = <?=$this->totalRespondent; ?>;
   
    function loadcontainerDistributionNPS() {    
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: '<?= $tabIdOne; ?>-containerEvolutionNPS',
                type: 'bar',
                paddingBottom: 10
            },
            credits: {
                enabled: false
            },
            xAxis: {
                categories: ['10', '9', '8', '7', '6', '5', '4', '3', '2', '1', '0']
            },
            title: {
                text: ''
            },
            yAxis: {
                min: 0,
                max:100,
                title: {
                    text: null
                }
            },
            legend: {
                enabled: false,
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        color: '#000',
                        style:  {
                            fontSize: '13px'
                        },
                        formatter: function () {
                            return  Highcharts.numberFormat(this.y,0) + '%';
	
                        }
                    }
                }
            },
            tooltip: {
                formatter: function () {
                    return this.series.name + ': <b>' +Highcharts.numberFormat((dataSum*this.y)/100,0)  + ' </b>';
                }
            },
            exporting: {
                enabled: false
            },
            series: [
                {
                    name: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__nps-evolution-series-number-of-respondent@'.$this->study); ?>',
                    data: [
                        {
                            color: '<?= ($this->color && $this->color['colorPROM'])? $this->color['colorPROM']:'#00BF57';?>',
                            y: <?= $this->npsDistribution[10]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorPROM'])? $this->color['colorPROM']:'#00BF57';?>',
                            y: <?= $this->npsDistribution[9]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorPASS'])? $this->color['colorPASS']:'#9FE357';?>',
                            y: <?= $this->npsDistribution[8]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorPASS'])? $this->color['colorPASS']:'#9FE357';?>',
                            y: <?php echo $this->npsDistribution[7]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>',
                            y: <?= $this->npsDistribution[6]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>',
                            y: <?= $this->npsDistribution[5]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>',
                            y: <?= $this->npsDistribution[4]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>',
                            y: <?= $this->npsDistribution[3]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>',
                            y: <?= $this->npsDistribution[2]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>',
                            y: <?= $this->npsDistribution[1]; ?>
                        },
                        {
                            color: '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>',
                            y: <?= $this->npsDistribution[0]; ?>
                        }
                    ]
                }
            ]
        });
    }

    function loadcontainerMainNPSDetailed() {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: '<?= $tabIdTwo; ?>-containerMainNPSDetailed',
                type: 'line',
                marginBottom: 100
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        enabled: true,
                        color: '#000',
                        style:  {
                            fontSize: '13px'
                        },
                        formatter: function () {
                            return Highcharts.numberFormat(this.y, 0) + '%';
                        }
                    }
                }
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    'janv.',
                    'févr.',
                    'mars',
                    'avr.',
                    'mai',
                    'juin',
                    'juill.',
                    'août',
                    'sept.',
                    'oct.',
                    'nov.',
                    'déc.'  ]
            },
            yAxis: {
                title: {
                    text: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__nps-evolution-annual-yAxis-percentage@'.$this->study); ?>'
                },
                plotLines: [
                    {
                        value: 0,
                        width: 1 
                    }
                ]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
                        this.x + ': ' +Highcharts.numberFormat((dataSum*this.y)/100,0) ;
                }
            },
            exporting: {
                enabled: false
            },
            colors: [ '<?= ($this->color && $this->color['colorPROM'])? $this->color['colorPROM']:'#00BF57';?>' ,
                      '<?= ($this->color && $this->color['colorPASS'])? $this->color['colorPASS']:'#9FE357';?>',
                      '<?= ($this->color && $this->color['colorDETR'])? $this->color['colorDETR']:'#FF0000';?>'],
            legend: {
                x: 10,
                y: 10,
                align: 'center',
                layout: "vertical",
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            series: [
                {
                    name: '<?= $this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__promoter@'.$this->study) ?>',
                    data: <?= json_encode(array_values($this->npsDistributionEvolutionByMonth['npsPromoters'])); ?>
                },
                {
                    name: '<?= $this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__passive@'.$this->study) ?>',
                    data: <?= json_encode(array_values($this->npsDistributionEvolutionByMonth['npsPassive'])); ?>
                },
                {
                    name: '<?= $this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__detractor@'.$this->study) ?>',
                    data: <?= json_encode(array_values($this->npsDistributionEvolutionByMonth['npsDetractors'])); ?>
                }
            ]
        });
    }

    <?php if (isset($this->compareCount)) : ?>
    $('#<?= $comparisonSpan; ?>').click(function () {
        $('#tab-compare-id-<?= $this->compareCount; ?>').remove();
        kv.del('#tab-compare-id-<?= $this->compareCount; ?>');
    });
    <?php endif; ?>
    var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

    <?php if($this->respondent_base > 0) : ?>
    loadcontainerDistributionNPS();
    <?php endif; ?>
    loadcontainerMainNPSDetailed();
</script>