<?php
$tabContainerId = md5('tab'. time() . '___' . Costumer_Service_Graph::generate());
$tabIdOne = md5('tab1'. time() . '___' . Costumer_Service_Graph::generate());
$tabIdTwo = md5('tab2'. time() . '___' . Costumer_Service_Graph::generate());
?>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue-chambray">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'satisfaction-title@'.$this->study); ?></div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdOne; ?>">
                <?php if($this->respondent_base > 0) : ?>
                    <div class="text-center" ><?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__overall-satisfaction-subtitle-average-out-of-ten@'.$this->study); ?></div>
                    <div style="width: 200px;  margin: 10px auto;  text-align: center; ">
                        <div id="container-speed-<?= $tabContainerId; ?>" style="width: 170px;height:120px"></div>
                    </div>
                <?php endif; ?>
                <div  id="<?= $tabIdOne ?>-containerMainOverallSatisfaction" style="width: 100%; margin: 0 auto;top:0%;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box blue-chambray ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-graph"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'_satisfaction-annual@'.$this->study); ?></div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdTwo; ?>">
                <div class="tab__container__overall-satisfaction-annual_<?=$this->study ?>__<?=$this->kpi ?>"  id="<?= $tabIdTwo ?>-containerEvolutionOverallSatisfaction"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function loadMainOverallSatisfaction(container) {
        var gaugeOptions = {
                chart: {type: 'solidgauge'},
                title: null,
                pane: {
                    center: ['50%', '85%'],
                    size: '140%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },
                tooltip: {
                    enabled: false
                },
                // the value axis
                yAxis: {
                    stops: [
                        [<?=($this->borne['bornePDTSMin']/10)?>, '<?= $this->color['colorPSDT']? $this->color['colorPSDT']:'#FF0000';?>'], // red
                        [<?=($this->borne['bornePDTSMax']/10)?>, '<?= $this->color['colorPSDT']? $this->color['colorPSDT']:'#FF0000';?>'], // red
                        [<?=($this->borne['bornePSMin']/10)?>, '<?= $this->color['colorPS']? $this->color['colorPS']:'#FFD000';?>'], // yellow
                        [<?=($this->borne['bornePSMax']/10)?>, '<?= $this->color['colorPS']? $this->color['colorPS']:'#FFD000';?>'], // yellow
                        [<?=($this->borne['borneSMin']/10)?>, '<?= $this->color['colorS']? $this->color['colorS']:'#9FE357';?>'], // green light
                        [<?=($this->borne['borneSMax']/10)?>, '<?= $this->color['colorS']? $this->color['colorS']:'#9FE357';?>'], // green light
                        [<?=($this->borne['borneTSMin']/10)?>, '<?= $this->color['colorTS']? $this->color['colorTS']:'#00BF57';?>'], // green
                        [<?=($this->borne['borneTSMax']/10)?>, '<?= $this->color['colorTS']? $this->color['colorTS']:'#00BF57';?>'] // green
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    title: {
                        y: -80
                    },
                    labels: {
                        y: 16
                    }
                },
                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            };

            // The RPM gauge
            $('#container-speed-<?= $tabContainerId;?>').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: {
                    min: 0,
                    max: 10,
                    title: {
                        text: 'Pourcentage ST'
                    }
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'Pourcentage ST',
                    data: [<?=number_format($this->satisfactionAverage, 1); ?>],
                    dataLabels: {
                   	 format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                     ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                        '</div>'
                    }
                }]
            }));

        var chartBar = new Highcharts.Chart({
            chart: {
                renderTo: container,
                type: 'bar',
                marginBottom:120,
            },
            credits: {
                enabled: false
            },
            colors:[
                '<?= $this->color['colorPSDT'] ? $this->color['colorPSDT']:'#FF0000';?>',
                '<?= $this->color['colorPS'] ? $this->color['colorPS']:'#FFD000';?>',
                '<?= $this->color['colorS'] ? $this->color['colorS']:'#9FE357';?>',
                '<?= $this->color['colorTS'] ? $this->color['colorTS']:'#00BF57';?>'
            ],
            title: {
                text: ''
            },
            legend: {
                reversed: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': <strong>'+ this.y +'</strong>';
                }
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        style:  {
                            fontSize: '13px'
                        },
                        formatter: function() {
                            return Highcharts.numberFormat(this.percentage, 0) + '%';
                        }
                    },
                    stacking: 'percent'
                }
            },
            series: <?= json_encode($this->satisfaction); ?>
        });
    }

    function loadEvolutionOverallSatisfaction(container) {
        var chartLine= new Highcharts.Chart({
            chart: {
                renderTo: container,
                type: 'line',
                marginBottom:100,
            },
            credits: {
                enabled: false
            },
            colors:[
                '<?= $this->color['colorTS']? $this->color['colorTS']:'#FF0000';?>',
                '<?= $this->color['colorS']? $this->color['colorS']:'#FFD000';?>',
                '<?= $this->color['colorPS']? $this->color['colorPS']:'#9FE357';?>' ,
                '<?= $this->color['colorPSDT']? $this->color['colorPSDT']:'#00BF57';?>'
            ],
            title: {
                text: ''
            },
            xAxis: {
                categories: <?= json_encode(array_keys($this->satisfactionByMonth)); ?>
            },
            yAxis: {
                title: {
                    text: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__overall-satisfaction-annual-yAxis-average-score@'.$this->study); ?>'
                },
                min:0,
                max:10,
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#4572A7'
                }]
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: true
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y ;
                }
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                series: {
                    dataLabels: {
                        enabled: true,
                        color: '#000',
                        style:  {
                            //fontWeight:'bold',
                            fontSize: '13px'
                        }
                    }
                }
            },
            series: [{
                data: <?= Zend_Json::encode(array_values($this->satisfactionByMonth)); ?>
            }]
        });
    }

        <?php if (isset($this->compareCount)) : ?>

        $('#<?= $comparisonSpan; ?>').click(function() {
           $('#tab-compare-id-<?= $this->compareCount; ?>').remove();
           kv.del('#tab-compare-id-<?= $this->compareCount; ?>');
        });

        <?php endif; ?>

        <?php if ($this->respondent_base > 0) : ?>
        loadMainOverallSatisfaction('<?= $tabIdOne ?>-containerMainOverallSatisfaction');
        <?php endif; ?>
        loadEvolutionOverallSatisfaction('<?= $tabIdTwo ?>-containerEvolutionOverallSatisfaction');


</script>