<?php
$tabContainerId = md5('tab'. time() . '___' . Costumer_Service_Graph::generate());
$tabIdOne = md5('tab1'. time() . '___' . Costumer_Service_Graph::generate());
$tabIdTwo = md5('tab2'. time() . '___' . Costumer_Service_Graph::generate());
?>

<div class="row">
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'pie-rates-title@'.$this->study); ?></div>
            </div>
            <div class="portlet-body" id="<?= $tabIdOne; ?>">
                <div id="<?= $tabIdOne; ?>-containerRespondentRatesPie" style="width: auto;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'satisfaction-title@'.$this->study); ?></div>
            </div>
            <div class="portlet-body" id="<?= $tabIdTwo; ?>">
                <div id="<?= $tabIdTwo; ?>-containerRespondentRatesBar" style="width: auto;"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function loadcontainerRespondentRatesPie(container)
    {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: container,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                marginLeft:50,
                marginRight:50
            },
            credits: {
                enabled: false
            },

            title: {
                y:-23,
                style: {
                    color: '#4572A7',
                    fontWeight: 'bold',
                    fontSize: '13px'
                },
                verticalAlign: 'bottom',
                text: '<b><?= $this->data['respondents']; ?> questionnaires completed<?php /*out of <?php echo $this->data['sent_emails']; ?> emails sent*/ ?></b>'
            },
            colors: ['#9FE357', '#FF9655'],
            tooltip: {
                formatter: function() {
                    return this.point.name + ' <b> '+ Highcharts.numberFormat(this.percentage, 1) + '%</b>';
                }
                //pointFormat: '<b>{point.percentage}%</b>',
                //percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    size: '60%',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage,1) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Image',
                data: [
                    ['Completed', <?= $this->data['yes']; ?>],
                    ['Incomplete', <?= $this->data['not yet']; ?>]
                ]
            }]
        });
    }

    function loadcontainerRespondentRatesBar(container)
    {
        var chart = new Highcharts.Chart({
                chart: {
                    renderTo: container,
                    type: 'column',
                    margin: [ 50, 50, 100, 80]
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: null
                },
                xAxis: {
                    categories: [
                        'Not sent',
                        //'Sent',
                        'Not started',
                        'Pending',
                        'Done'
                    ],
                    labels: {
                        //rotation: -45,
                        align: 'center',
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    },
                    title: {
                        margin: 20,
                        text: '<?= $this->data['respondents']; ?> questionnaires completed out of <?= $this->data['total']; ?> contacts'
                    }
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    title: {
                        text: 'Percentage (%)'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    enabled : false,
                    formatter: function() {
                        return '<b>'+ this.x +'</b><br/>'+
                            'Respondents: '+ Highcharts.numberFormat(this.y,1);
                    }
                },
                series: [
                    {
                        name: 'Respondents',
                        data: [
                            {
                                color: '#4572A7',
                                y: <?= $this->data['not_sent']; ?>
                            },
                            {
                                color: '#FF9655',
                                y: <?= $this->data['not_started']; ?>
                            },
                            {
                                color: '#FFD000',
                                y: <?= $this->data['pending']; ?>
                            },
                            {
                                color: '#9FE357',
                                y: <?= $this->data['done']; ?>
                            }
                        ],
                        dataLabels: {
                            enabled: true,
                            color: '#4572A7',
                            align: 'center',
                            x: 0,
                            y: 0,
                            formatter: function() {
                                return this.y +  ' %';
                            },
                            style: {
                                fontSize: '11px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }
                ]
            });
        }

    loadcontainerRespondentRatesPie('<?= $tabIdOne; ?>-containerRespondentRatesPie');
    loadcontainerRespondentRatesBar('<?= $tabIdTwo; ?>-containerRespondentRatesBar');

</script>