<?php
$tabContainerId = md5('tab'. time() . '___' . Costumer_Service_Graph::generate());
$tabIdOne = md5('tab1'. time() . '___' . Costumer_Service_Graph::generate());
$tabIdTwo = md5('tab2'. time() . '___' . Costumer_Service_Graph::generate());
?>
<div class="row">
    <div class="col-md-6">
        <div class="portlet box blue-chambray">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'satisfaction-grading_title@'.$this->study); ?></div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdOne; ?>">
                <div class="tab__container__grading-satisfaction_<?=$this->study ?>__<?=$this->kpi ?>" id="<?= $tabIdOne; ?>-containerMainSatisfactionGrading"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet box blue-chambray">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bar-chart"></i><?= $this->translate('label_'.$this->study.'_'.$this->kpi.'satisfaction-grading-annual-title@'.$this->study); ?></div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body" id="<?= $tabIdTwo; ?>">
                <div class="tab__container__grading-satisfaction-annual_<?=$this->study ?>__<?=$this->kpi ?>" id="<?= $tabIdTwo; ?>-containerEvolutionSatisfactionGrading"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var SumData = <?=$this->respondent_base;?>;

    function loadcontainerMainSatisfactionGrading()
    {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: '<?= $tabIdOne; ?>-containerMainSatisfactionGrading',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
            },

            credits: {
                enabled: false
            },
            colors: ['<?= ($this->color['colorTS'])? $this->color['colorTS']:'#00BF57';?>' ,
                     '<?= ($this->color['colorS'])? $this->color['colorS']:'#9FE357';?>',
                     '<?= ($this->color['colorPS'])? $this->color['colorPS']:'#FFD000';?>',
                     '<?= ($this->color['colorPSDT'])? $this->color['colorPSDT']:'#FF0000';?>'
              		  ],
            title: {
                text: null
            },
            tooltip: {
                formatter: function() {
                    return this.point.name + ' <b> '+ Highcharts.numberFormat(this.y, 0) + '</b>';
                }
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 0) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__satisfaction-grading-series-overall-satisfaction-grading-score-split@'.$this->study); ?>',
                data: <?= json_encode(array_reverse($this->satisfactionGrading)); ?>
            }]
        });
    }

    function loadcontainerEvolutionSatisfactionGrading()
    {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: '<?= $tabIdTwo; ?>-containerEvolutionSatisfactionGrading',
                type: 'column',
                marginBottom:120,
                marginTop: 40
            },
            legend: {
                reversed: true
            },
            credits: {
                enabled: false
            },
            title: {
                text: ''
            },
            colors: [ '<?= ($this->color['colorPSDT'])? $this->color['colorPSDT']:'#FF0000';?>',
                      '<?= ($this->color['colorPS'])? $this->color['colorPS']:'#FFD000';?>',
              		  '<?= ($this->color['colorS'])? $this->color['colorS']:'#9FE357';?>' ,
              		  '<?= ($this->color['colorTS'])? $this->color['colorTS']:'#00BF57';?>'],
            xAxis: {
                categories: [
                    'janv.',
                    'févr.',
                    'mars',
                    'avr.',
                    'mai',
                    'juin',
                    'juill.',
                    'août',
                    'sept.',
                    'oct.',
                    'nov.',
                    'déc.'  ]
            },
            yAxis: {
                title: {
                    text: '<?= $this->translate('label__'.$this->study.'__'.$this->kpi.'__graph__satisfaction-grading-annual-yAxis-percentage@'.$this->study); ?>'
                },
                min: 0,
                max: 100
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.series.name + '</b> ' + ': ' + Highcharts.numberFormat((this.y*SumData)/100,0) ;
                }
            },
            exporting: {
                enabled: false
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        color: '#000',
                        style:  {
                            fontSize: '13px'
                        },
                        formatter: function () {
                            return Highcharts.numberFormat(this.y, 0) + '%';
                        }
                    },
                    enableMouseTracking: true
                }
            },

            series: [
                {
                    name: '<?= $this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__very-poor@'.$this->study); ?>',
                    data: <?= json_encode(array_values($this->satisfactionGradingByMonth[$this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__very-poor@'.$this->study)]));?>
                },
                {
                    name: '<?= $this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__poor@'.$this->study); ?>',
                    data: <?= json_encode(array_values($this->satisfactionGradingByMonth[$this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__poor@'.$this->study)]));?>
                },
                {
                    name: '<?= $this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__good@'.$this->study); ?>',
                    data: <?= json_encode(array_values($this->satisfactionGradingByMonth[$this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__good@'.$this->study)]));?>
                },
                {
                    name: '<?= $this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__very-good@'.$this->study); ?>',
                    data: <?= json_encode(array_values($this->satisfactionGradingByMonth[$this->translate('category__'.$this->study.'__'.$this->kpi.'__graph__very-good@'.$this->study)]));?>
                }
            ]
        });
    }

    <?php if (isset($this->compareCount)) : ?>
    $('#<?= $comparisonSpan; ?>').click(function() {
        $('#tab-compare-id-<?= $this->compareCount; ?>').remove();
        kv.del('#tab-compare-id-<?= $this->compareCount; ?>');
    });
    <?php endif; ?>

    <?php if($this->respondent_base > 0) : ?>
    loadcontainerMainSatisfactionGrading();
    <?php endif; ?>
    loadcontainerEvolutionSatisfactionGrading();
</script>