<div class="row-fluid">
    <h3>
        <?php echo $this->translate('navigation__statflow__permission__index__manage_permission_title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'index'), null, true); ?>">
            <i class="icon-share-alt icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
    </h3>
    <hr class="clearfix">

    <form action="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'add'), null, true); ?>" method="post">
        <div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?php echo $this->translate('navigation__statflow__permission__index__manage_permission_add@backoffice'); ?></legend>

                <label>
                    <?php echo $this->translate('navigation__statflow__permission_field_name@backoffice'); ?>
                    <em class="required">*</em>
                </label>
                <input class="input-block-level" required type="text" id="name" name="name" value="">

                <label>
                    <?php echo $this->translate('navigation__statflow__permission_field_description@backoffice'); ?>
                    <em class="required">*</em>
                </label>
                <input class="input-block-level" required type="text" id="description" name="description" value="">
            </fieldset>
            <br>
        </div>
        <div class="clearfix"><br></div>

        <button type="submit" class="btn btn-primary" >
            <i class="icon-ok icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
        </button>
    </form>
</div>

<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>