<div class="row-fluid">

    <h3>
        <?php echo $this->translate('navigation__statflow__permission__index__manage_permission_title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'add')); ?>">
            <i class="icon-plus icon-white"></i>
            <?php echo $this->translate('navigation__statflow__permission__index__manage_permission_add@backoffice'); ?>
        </a>
    </h3>
    <hr class="clearfix">

    <div class="container-fluid gradient-background">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><?php echo $this->translate('navigation__statflow__permission_field_permissions@backoffice'); ?></th>
                <?php foreach($this->groups as $group): ?>
                <th class="align-center"><?php echo $group->name; ?></th>
                <?php endforeach; ?>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->permissions as $module => $permissions): ?>
                <tr>
                    <td class="perm-module">
                        <h5 class="clearfix"><a href="javascript:void(0);"><?php echo $module; ?></a></h5>
                    </td>
                    <?php foreach($this->groups as $group): ?>
                    <td class="perm-module align-center">
                        <div class="btn-group">
                            <a class="btn btn-small alpha btn-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                <i class="icon-cog"></i>
                                <?php echo $this->translate('navigation__statflow__permission_btn_mass_actions@backoffice'); ?>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'grantall', 'group_id' => $group->id, 'controller_name' => $module, 'action_name' => NULL), null, true); ?>">
                                        <i class="icon-ok"></i>
                                        <?php echo $this->translate('navigation__statflow__permission_grant_all@backoffice'); ?> <?php echo $group->name; ?>
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'denyall', 'group_id' => $group->id, 'controller_name' => $module, 'action_name' => NULL), null, true); ?>">
                                        <i class="icon-ban-circle"></i>
                                        <?php echo $this->translate('navigation__statflow__permission_deny_all@backoffice'); ?> <?php echo $group->name; ?>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </td>
                    <?php endforeach; ?>
                    <td class="perm-module"></td>
                </tr>
                <?php foreach($permissions as $controller => $permissions): ?>
                <tr>
                    <td class="perm-controller">
                        <ul class="breadcrumb perm-breadcrumb">
                            <li><a href="javascript:void(0);"><?php echo $module; ?></a> <span class="divider">/</span></li>
                            <li class="active"><?php echo $controller; ?></li>
                        </ul>
                    </td>
                    <?php foreach($this->groups as $group): ?>
                    <td class="perm-controller align-center">
                        <div class="btn-group">
                            <a class="btn btn-small alpha btn-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                <i class="icon-cog alpha"></i>
                                <?php echo $this->translate('navigation__statflow__permission_btn_mass_actions@backoffice'); ?>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'grantall', 'group_id' => $group->id, 'controller_name' => $module, 'action_name' => $controller), null, true); ?>">
                                        <i class="icon-ok"></i>
                                        <?php echo $this->translate('navigation__statflow__permission_grant_all@backoffice'); ?> <?php echo $group->name; ?>
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'denyall', 'group_id' => $group->id, 'controller_name' => $module, 'action_name' => $controller), null, true); ?>">
                                        <i class="icon-ban-circle"></i>
                                        <?php echo $this->translate('navigation__statflow__permission_deny_all@backoffice'); ?> <?php echo $group->name; ?>
                                    </a>

                                </li>
                            </ul>
                        </div>
                    </td>
                    <?php endforeach; ?>
                    <td  class="perm-controller"></td>
                </tr>
                <?php foreach($permissions as $permission): ?>
                <tr>
                    <td><?php echo $permission->description; ?></td>
                    <?php foreach($this->groups as $group): ?>
                        <td class="align-center">
                            <div class="btn-group">
                                <a
                                    class="btn btn-mini <?php echo (in_array(array('group_id' => $group->id, 'permission_id' => $permission->id), $this->perms)) ? 'btn-success disabled' : '';?>"
                                    href="<?php echo (!in_array(array('group_id' => $group->id, 'permission_id' => $permission->id), $this->perms)) ? $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'addperm', 'group_id' => $group->id, 'permission_id' => $permission->id), null, true) : 'javascript:void(0);'; ?>">
                                    <i class="icon-ok <?php echo (in_array(array('group_id' => $group->id, 'permission_id' => $permission->id), $this->perms)) ? 'icon-white' : '';?>"></i>
                                </a>
                                <a
                                    class="btn btn-mini <?php echo (!in_array(array('group_id' => $group->id, 'permission_id' => $permission->id), $this->perms)) ? 'btn-danger disabled' : '';?>"
                                    href="<?php echo (in_array(array('group_id' => $group->id, 'permission_id' => $permission->id), $this->perms)) ? $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'deleteperm', 'group_id' => $group->id, 'permission_id' => $permission->id), null, true) : 'javascript:void(0);'; ?>">
                                        <i class="icon-ban-circle <?php echo (!in_array(array('group_id' => $group->id, 'permission_id' => $permission->id), $this->perms)) ? 'icon-white' : '';?>"></i>
                                </a>
                            </div>
                        </td>
                    <?php endforeach; ?>
                    <td>
                        <a
                            href="#delete-confirmation" role="button" data-toggle="modal"
                            class="btn btn-small pull-right btn-table-action btn-delete"
                            data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'delete', 'id' => $permission->id), null, true); ?>">
                            <i class="icon-trash"></i>
                            <?php echo $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
                        </a>
                        <a class="btn btn-small pull-right btn-table-action" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'permission', 'action' => 'edit', 'id' => $permission->id), null, true); ?>">
                            <i class="icon-pencil"></i>
                            <?php echo $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
                        </a>
                    </td>
                </tr>
                <?php endforeach; ?>
                <?php endforeach; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>