<label class="checkbox exclusive {{#if inline}}inline{{/if}} {{#if image}}image{{/if}}">
    <input type="checkbox" name="{{{question_id}}}[]" value="{{id}}">
    {{#if image}}
    <img src="/uploads/modalities/{{complement_data.imagefile}}">
    {{else}}
    <span class="content">{{{dataCallback content}}}</span>
    {{/if}}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</label>