<label class="radio exclusive {{#if inline}}inline{{/if}}">
    <input type="radio" name="{{{question_id}}}[value]" value="{{id}}"><span class="content">{{{dataCallback content}}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</label>