<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>StatFlow - <?= $this->translate('our_client@frontend'); ?></title>

	<link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
	<link href="/assets/global/plugins/pace/themes/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN THEME GLOBAL STYLES -->
	<link href="/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
	<link href="/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/fonts.css" rel="stylesheet" type="text/css" />
	<!-- END THEME GLOBAL STYLES -->
	<!-- BEGIN THEME LAYOUT STYLES -->
	<link href="/assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
	<link href="/assets/layouts/layout2/css/custom.css" rel="stylesheet" type="text/css" />
	<!-- END THEME LAYOUT STYLES -->
	<link rel="shortcut icon" href="/favicon.ico" />
</head>

<!-- /theme JS files -->

<body class="page-sidebar-closed-hide-logo page-container-bg-solid page-md page-header-fixed page-sidebar-fixed">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner ">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="index.html">
				<img src="/assets/pages/img/logo-white.png" alt="logo" class="logo-default" /> </a>
			<div class="menu-toggler sidebar-toggler">
				<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN PAGE ACTIONS -->
		<!-- DOC: Remove "hide" class to enable the page header actions -->
		<div class="page-actions">
			<div class="btn-group">
				<?php if(0 != $this->form_actif) :
					foreach ($this->questionnaire as $form):?>
						<a href="<?= $this->url(array('module' => 'costumer', 'controller' => 'index', 'action' => 'index','formId'=>$form['id']), 'default', false) ?>"
						   class="margin-right-10 btn <?=($form['id']!==$this->form_actif) ? "btn-outline" : "" ?> blue-chambray">
							<i class="icon-file"></i>&nbsp;
							<span class="hidden-sm hidden-xs"><?= $this->translate($form['name'])?></span>&nbsp;
						</a>
					<?php endforeach;
				endif; ?>
			</div>
		</div>
		<!-- END PAGE ACTIONS -->
		<!-- BEGIN PAGE TOP -->
		<div class="page-top">
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu pull-right">
				<ul class="nav navbar-nav">
                    <li>
                        <?php if ($this->studyService->image) { ?>
                            <img class="logo-img" style="max-width: 220px; max-height:68px;" src="/uploads/studies/<?= $this->studyService->image?>">
                        <?php } ?>
                    </li>
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
					<li class="dropdown dropdown-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<img alt="" class="img-circle" src="/img/default_user_small.png" />
							<span class="username username-hide-on-mobile"> <?= $this->translate('Hello@frontend') . ' '.$this->user; ?> </span>
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-default pull-right">
							<!--<li>
								<a href="#">
									<i class="icon-user"></i> <?php //echo $this->translate('my_profile@frontend')?></a>
							</li>
							<li class="divider"> </li>-->
							<li>
								<a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'locked'), 'default', false)?>">
									<i class="icon-lock"></i> <?= $this->translate('lock_screen@frontend')?> </a>
							</li>
							<li>
								<a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'logout'), 'default', false)?>">
									<i class="icon-key"></i> <?= $this->translate('logout@frontend')?> </a>
							</li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END PAGE TOP -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN CONTAINER -->
<div class="page-container"">
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
	<!-- END SIDEBAR -->
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<li class="nav-item <?= $this->pageLayout == 'dashboard' ?'active open':''?>">
				<a href="/costumer/index/index/formId/<?= $this->form_actif?>" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title"><?= $this->translate('menu_dashbord@frontend')?></span>
					<span class="selected"></span>
					<span class="arrow <?= $this->pageLayout == 'dashboard'?' open':''?>"></span>
				</a>
			</li>
			<li class="nav-item <?= $this->pageLayout == 'kpi' ?'active open':''?>">
				<a href="/costumer/index/main/formId/<?= $this->form_actif?>" class="nav-link nav-toggle">
					<i class="icon-bar-chart"></i>
					<span class="title"><?= $this->translate('menu_kpi@frontend')?></span>
					<span class="selected"></span>
					<span class="arrow <?= $this->page == 'kpi'?' open':''?>"></span>
				</a>
			</li>
			<li class="nav-item <?= $this->pageLayout == 'respondent' ?'active open':''?> ">
				<a href="/costumer/list/index/formId/<?= $this->form_actif?>" class="nav-link nav-toggle">
					<i class="icon-bubble"></i>
					<span class="title"><?= $this->translate('menu_respondents@frontend')?></span>
					<span class="selected"></span>
					<span class="arrow <?= $this->pageLayout == 'respondent'?'open':''?>"></span>
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content" style="min-height: 1044px;">
        <?php if (isset($this->errors) && $this->errors) {
        echo $this->partial('common/error-alert.phtml', array(
            'msg' => $this->errors,
        )); } else { ?>
		<div class="row">
			<div class="col-md-12">
				<h3 class="page-title"> <?= $this->translate($this->pageLayout.'_title@frontend'); ?>
					<small><?= $this->translate($this->pageLayout.'_subtitle@backoffice'); ?></small>
				</h3>
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<i class="icon-home"></i>
							<a href="javascript:;">StatFlow</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<i class="icon-book-open"></i>
							<span><?= $this->feedback['name']?></span>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<i class="icon-bar-chart font-green-haze"></i>
							<span class="font-green-haze"><?= $this->translate($this->pageLayout.'_chemin@form_'.$this->feedback['id']); ?></span>
						</li>
					</ul>
				</div>
				<?php if ($this->pageLayout != 'dashboard' && $this->page != 'detail') : ?>
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption font-blue-ebonyclay">
								<i class="fa fa-filter font-blue-ebonyclay"></i>
								<span class="caption-subject bold uppercase"> <?= $this->translate('Filter_global_title@form_'.$this->feedback['id']); ?></span>
							</div>
							<div class="tools">
								<a href="" class="fullscreen"></a>
								<a href="" class="collapse"> </a>
							</div>
						</div>
						<div class="portlet-body row">
							<div class="col-md-12 margin-bottom-10">
								<?= $this->partial('common/filters.phtml', array(
									'kpi_filters' => $this->kpi_filters,
									'selectField' => $this->selectField,
									'filter_structure' => $this->filter_structure
								)); ?>
							</div>
						</div>
					</div>
				<?php endif;?>
			</div>
		</div>

        <?php echo $this->layout()->content; } ?>

	</div>
	<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
<div class="loading" style="display: none">
	<div class="spinner-gif"></div>
	<h4 style="margin: 0 auto; max-width: 180px; background-color: #0a001f;color: white;"><?= $this->translate('Please wait@frontend') ?>...</h4>
</div>
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		2017 &copy; StatFlow by <a href="http://www.it-prospect.com">IT-PROSPECT</a>.
	</div>
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>

<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="/assets/global/plugins/respond.min.js"></script>
<script src="/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-tree/bootstrap-tree.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/highcharts/js/highcharts.js" type="text/javascript"></script>
<script src="/assets/global/plugins/highcharts/js/highcharts-3d.js" type="text/javascript"></script>
<script src="/assets/global/plugins/highcharts/js/highcharts-more.js" type="text/javascript"></script>
<script src="/assets/global/plugins/highcharts/js/modules/solid-gauge.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/global/plugins/highcharts/js/modules/exporting.js"></script>
<script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<script src="/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/pace/pace.min.js" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/user.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/form-dropzone.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/components-color-pickers.min.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/ui-tree.min.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/datatables_extension_scroller.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/main.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/jquery.twbsPagination.js" type="text/javascript"></script>

<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
<script src="/assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
<script src="/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>