<!DOCTYPE html>
<html <?= !$this->language->direction ? '' : 'dir ="rtl"'; ?> lang="<?= $this->language->language?>">
<head>
    <meta charset="utf-8">
    <title>Statflow</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <?php echo $this->headLink() ?>
    <link href="<?php echo $this->baseUrl(); ?>/study/css/main.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
    <?php if ($this->language->direction): ?>
    <link href="<?php echo $this->baseUrl(); ?>/study/css/rtl.css" rel="stylesheet">
    <?php endif;?>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Statflow</a>
            <div class="nav-collapse collapse">
                <?php /*
                $navigation = $this->navigation()->getContainer();
                $navigation = $navigation->findOneByLabel('Frontoffice');
                $menu = $this->navigation()->menu()->setUseTranslator(false);
                if ($navigation !== null) :
                    echo $this->navigation()->menu()
                        ->setUlClass('nav')
                        ->renderMenu($navigation, array('maxDepth' =>  0));
                endif;*/
                if($this->user() && $this->user()->hasIdentity()):
                ?>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><?php echo $this->translate('navigation__statflow__layout__logged_as@backoffice'); ?> <?php echo $this->user()->getIdentity()->username; ?> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);"><?php echo $this->translate('navigation__statflow__layout__my_profile@backoffice'); ?></a></li>
                            <li><a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'logout'), null, true); ?>"><?php echo $this->translate('navigation__statflow__layout__logout@backoffice'); ?></a></li>
                        </ul>
                    </li>
                </ul>
                <?php endif;?>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <?php if (isset($this->flashMessageType)): ?>
        <div class="autohide alert alert-<?php echo $this->flashMessageType; ?>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4><?php echo ucfirst($this->flashMessageType); ?>!</h4>
            <?php echo $this->flashMessage; ?>
        </div>
    <?php endif; ?>

    <?php echo $this->layout()->content ?>

    <hr>
    <div id="page">

    </div>

    <div class="copyright">
        <p>&copy;<?= date('Y'); ?> StatFlow - <?= $this->translate('Be attentive to your customers')?></p>
        <?= $this->translate('Powered by')?><BR/>
        <a target="_blank" href="https://www.it-prospect.com/statflow"><div  class="it-prospect"></div></a><BR/>
    </div>


</div><!--/.fluid-container-->

<script>
    var Zend_Locale = '<?php echo Zend_Registry::get('Zend_Locale'); ?>';
</script>



<!-- QUESTIONNAIRE -->

<script src="/study/js/vendor/requirejs/require.js"></script>
<script src="/study/js/require-config.js"></script>
<script src="/study/js/main.js"></script>
</body>
</html>
