<?php
    $this->headLink()->appendStylesheet('/assets/global/plugins/font-awesome/css/font-awesome.min.css')
        ->appendStylesheet('/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')
        ->appendStylesheet('/assets/global/plugins/bootstrap/css/bootstrap.min.css')
        ->appendStylesheet('/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css');
?>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<?php
    $this->headLink()->appendStylesheet('/assets/global/plugins/select2/css/select2.min.css')
        ->appendStylesheet('/assets/global/plugins/select2/css/select2-bootstrap.min.css');
?>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<?php
    $this->headLink()->appendStylesheet('/assets/global/css/components-md.min.css')
        ->appendStylesheet('/assets/global/css/plugins-md.min.css');
?>
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<?php $this->headLink()->appendStylesheet('/assets/pages/css/login-5.css');?>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN CORE PLUGINS -->
<?php
    $this->headScript()->appendFile('/assets/global/plugins/jquery.min.js')
        ->appendFile('/assets/global/plugins/bootstrap/js/bootstrap.min.js')
        ->appendFile('/assets/global/plugins/js.cookie.min.js')
        ->appendFile('/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js')
        ->appendFile('/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
        ->appendFile('/assets/global/plugins/jquery.blockui.min.js')
        ->appendFile('/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')
?>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<?php
    $this->headScript()->appendFile('/assets/global/plugins/jquery-validation/js/jquery.validate.min.js')
        ->appendFile('/assets/global/plugins/jquery-validation/js/additional-methods.min.js')
        ->appendFile('/assets/global/plugins/select2/js/select2.full.min.js')
        ->appendFile('/assets/global/plugins/backstretch/jquery.backstretch.min.js');
?>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<?php $this->headScript()->appendFile('/assets/global/scripts/app.min.js');?>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<?php $this->headScript()->appendFile('/assets/pages/scripts/login-5.js');?>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<!-- END THEME LAYOUT SCRIPTS -->

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <![endif]-->
    <base href="<?= $this->baseUrl(); ?>/" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache" content="no store">
    <meta http-equiv="Expires" content="0">
    <meta charset="utf-8" />
    <title>StatFlow | Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/assets/global/css/fonts.css" rel="stylesheet" type="text/css" />
    <?= $this->headLink(); ?>
    <?= $this->headStyle();?>
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<!-- END HEAD -->

<body class=" login">
<!-- BEGIN : LOGIN PAGE 5-2 -->
<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset">
            <img class="login-logo login-6" src="/assets/pages/img/login/logo.png" />
            <div class="login-content">
            <?php if (isset($this->flashMessageType)): ?>
                <?php if (is_string($this->flashMessage)) $this->flashMessage = array($this->flashMessage);
                $css = '';
                if ($this->flashMessageType == $this->translate('statflow__message_success@backoffice')){
                    $css = 'success';
                }
                elseif ($this->flashMessageType == $this->translate('statflow__message_error@backoffice')){
                    $css = 'danger';
                }
                ?>
                <div class="autohide alert alert-<?php echo $css; ?> fade in">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4><?php echo ucfirst($this->flashMessageType); ?>!</h4>
                    <?php //Zend_Debug::dump($this->flashMessage); /*
                    foreach ($this->flashMessage as $flashMessage) :?>
                        <?php if (is_array($flashMessage)) : ?>
                            <?php foreach ($flashMessage as $line => $messages) : ?>
                                <?php echo '<strong>Line : ' . ($line + 2) . '</strong><br />'; ?>
                                <?php foreach ($messages as $message) : ?>
                                    <?php echo $message . ' <br />'; ?>
                                <?php endforeach; ?>
                            <?php endforeach; ?>
                        <?php else : ?>
                            <?php echo $flashMessage . ' <br /><br />'; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>

            <?php endif; ?>
                <?= $this->layout()->content ?>
            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; <a href="http://www.it-prospect.com">it-prospect</a> 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg"> </div>
        </div>
    </div>
</div>
<!--[if lt IE 9]>
<script src="/assets/global/plugins/respond.min.js"></script>
<script src="/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
    <?= $this->headScript(); ?>
</body>

</html>

