<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>StatFlow - admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="/assets/global/css/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/jquery-minicolors/jquery.minicolors.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="/favicon.ico" /> </head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-md">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="/statflow">
                <img src="/assets/pages/img/logo-white.png" alt="logo" class="logo-default" /> </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN PAGE ACTIONS -->
        <!-- DOC: Remove "hide" class to enable the page header actions -->
        <!-- END PAGE ACTIONS -->
        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="/img/default_user_small.png" />
                            <span class="username username-hide-on-mobile"> <?= $this->translate('Hello_Administrator@frontend')?> </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'edit', 'id' => $_SESSION['user_id']), 'default', false)?>">
                                    <i class="icon-user"></i> <?= $this->translate('my_profile@frontend')?> </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'locked'), 'default', false)?>">
                                    <i class="icon-lock"></i> <?= $this->translate('lock_screen@backoffice')?> </a>
                            </li>
                            <li>
                                <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'logout'), 'default', false)?>">
                                    <i class="icon-key"></i> <?= $this->translate('logout@backoffice')?> </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<!-- END HEADER & CONTENT DIVIDER -->
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- END SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item <?= $this->pageLayout == 'structure' ?'active open':''?>">
                    <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'structure', 'action' => 'index'), null, true)?>" class="nav-link nav-toggle">
                        <i class="icon-puzzle"></i>
                        <span class="title"><?= $this->translate('Structures@backoffice') ?></span>
                        <span class="selected"></span>
                        <span class="arrow <?= $this->pageLayout == 'structure'?' open':''?>"></span>
                    </a>
                </li>
                <li class="nav-item <?= $this->pageLayout == 'study' ?'active open':''?>">
                    <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index'), null, true)?>" class="nav-link nav-toggle">
                        <i class="icon-briefcase"></i>
                        <span class="title"><?= $this->translate('Studies@backoffice') ?></span>
                        <span class="selected"></span>
                        <span class="arrow <?= $this->pageLayout == 'study'?' open':''?>"></span>
                    </a>
                </li>
                <li class="nav-item <?= $this->pageLayout == 'feedback_form' ?'active open':''?>">
                    <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'index'), null, true)?>" class="nav-link nav-toggle">
                        <i class="icon-book-open"></i>
                        <span class="title"><?= $this->translate('FeedbackForm@backoffice') ?></span>
                        <span class="selected"></span>
                        <span class="arrow <?= $this->page == 'feedback_form'?' open':''?>"></span>
                    </a>
                </li>
                <li class="nav-item <?= $this->pageLayout == 'respondent' ?'active open':''?> ">
                    <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'respondent', 'action' => 'index'), null, true)?>" class="nav-link nav-toggle">
                        <i class="icon-bubble"></i>
                        <span class="title"><?= $this->translate('Respondents@backoffice') ?></span>
                        <span class="selected"></span>
                        <span class="arrow <?= $this->pageLayout == 'respondent'?'open':''?>"></span>
                    </a>
                </li>
                <li class="nav-item <?= $this->pageLayout == 'alert' ?'active open':''?>">
                    <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'list-alert'), null, true)?>" class="nav-link nav-toggle">
                        <i class="icon-bell"></i>
                        <span class="title"><?= $this->translate('Alrtes@backoffice') ?></span>
                        <span class="selected"></span>
                        <span class="arrow <?= $this->pageLayout == 'alert'?'open':''?>"></span>
                    </a>
                </li>
                <li class="nav-item <?= $this->pageLayout == 'kpi_management' ?'active open':''?>">
                    <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'index'), null, true)?>"
                       class="nav-link nav-toggle">
                        <i class="icon-equalizer"></i>
                        <span class="title"><?= $this->translate('Analysis@backoffice') ?></span>
                        <span class="selected"></span>
                        <span class="arrow <?= $this->pageLayout == 'kpi_management'?' open':''?>"></span>
                    </a>
                </li>
                <li class="nav-item <?= $this->pageLayout == 'user' ?'active open':''?>">
                    <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'user', 'action' => 'index'), null, true)?>"
                       class="nav-link nav-toggle">
                        <i class="icon-users"></i>
                        <span class="title"><?= $this->translate('Users@backoffice') ?></span>
                        <span class="selected"></span>
                        <span class="arrow <?= $this->pageLayout == 'user'?' open':''?>"></span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a target="_blank" href="<?= $this->url(array('module' => 'translation', 'controller' => 'admin-language', 'action' => 'index'), null, true); ?>" class="nav-link nav-toggle">
                        <i class="icon-globe"></i>
                        <span class="title"><?= $this->translate('languages_&_translations@backoffice') ?></span>
                        <span class="arrow"></span>
                    </a>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content" style="min-height: 1044px;">
            <?php if (isset($this->flashMessageType)): ?>
                <?php if (is_string($this->flashMessage)) $this->flashMessage = array($this->flashMessage);
                $css = '';
                if ($this->flashMessageType == $this->translate('statflow__message_success@backoffice')){
                    $css = 'success';
                }
                elseif ($this->flashMessageType == $this->translate('statflow__message_error@backoffice')){
                    $css = 'danger';
                }
                ?>
                <div class="autohide alert alert-<?php echo $css; ?> fade in">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4><?php echo ucfirst($this->flashMessageType); ?>!</h4>
                    <?php //Zend_Debug::dump($this->flashMessage); /*
                    foreach ($this->flashMessage as $flashMessage) :?>
                        <?php if (is_array($flashMessage)) : ?>
                            <?php foreach ($flashMessage as $line => $messages) : ?>
                                <?php echo '<strong>Line : ' . ($line + 2) . '</strong><br />'; ?>
                                <?php foreach ($messages as $message) : ?>
                                    <?php echo $message . ' <br />'; ?>
                                <?php endforeach; ?>
                            <?php endforeach; ?>
                        <?php else : ?>
                            <?php echo $flashMessage . ' <br /><br />'; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>

            <?php endif; ?>
            <?= $this->partial('common/_delete-confirmation.phtml'); ?>
            <?= $this->partial('common/_duplicate-confirmation.phtml'); ?>
            <?= $this->partial('common/_import-confirmation.phtml',array('page'=>$this->page)); ?>
            <?= $this->partial('common/_multi-select-confirmation.phtml'); ?>
            <?php echo $this->partial('common/_delete-rule-confirmation.phtml'); ?>
            <?php echo $this->layout()->content ?>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2017 &copy; Statflow by <a href="http://www.it-prospect.com">IT-PROSPECT</a>.
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="/assets/global/plugins/respond.min.js"></script>
<script src="/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-tree/bootstrap-tree.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-minicolors/jquery.minicolors.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/moment.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/clockface/js/clockface.js" type="text/javascript"></script>
<script src="/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
<script src="/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/pages/scripts/user.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/main.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/form-dropzone.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/components-ion-sliders.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
<script src="/assets/layouts/layout2/scripts/demo.min.js" type="text/javascript"></script>
<script src="/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>