<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.interface.club/limitless/layout_4/LTR/default/login_simple.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Apr 2016 00:15:58 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?= $this->headTitle($this->translate('Satisfaction')) ?>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="<?= $this->baseUrl()?>/assets-new//css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="<?= $this->baseUrl()?>/assets-new//css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="<?= $this->baseUrl()?>/assets-new//css/core.css" rel="stylesheet" type="text/css">
	<link href="<?= $this->baseUrl()?>/assets-new//css/components.css" rel="stylesheet" type="text/css">
	<link href="<?= $this->baseUrl()?>/assets-new//css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="<?= $this->baseUrl()?>/assets-new//js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="<?= $this->baseUrl()?>/assets-new//js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="<?= $this->baseUrl()?>/assets-new//js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="<?= $this->baseUrl()?>/assets-new//js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="<?= $this->baseUrl()?>/assets-new//js/plugins/ui/nicescroll.min.js"></script>
	<script type="text/javascript" src="<?= $this->baseUrl()?>/assets-new//js/plugins/ui/drilldown.js"></script>
	<!-- /core JS files -->


	<!-- Theme JS files -->
	<script type="text/javascript" src="<?= $this->baseUrl()?>/assets-new//js/core/app.js"></script>
	<!-- /theme JS files -->

</head>

<body class="login-container">

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="index.html"><img src="<?= $this->baseUrl()?>/assets-new/images/logo_light.png" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">
						<i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to website</span>
					</a>
				</li>

				<li>
					<a href="#">
						<i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
					</a>
				</li>

				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-cog3"></i>
						<span class="visible-xs-inline-block position-right"> Options</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container">
		<?php if (isset($this->flashMessageType)) {
                 if (is_string($this->flashMessage)) $this->flashMessage = array($this->flashMessage); 
                 $css = '';
                 if ($this->flashMessageType == $this->translate('statflow__message_success@backoffice')){
                  $css = 'success';
                 } elseif ($this->flashMessageType == $this->translate('statflow__message_error@backoffice')){
                  $css = 'danger';
                 }       
        ?>
        <div class="alert bg-<?= $css ?> alert-styled-left">
			<button class="close" data-dismiss="alert" type="button">
				<span>×</span>
				<span class="sr-only">Close</span>
			</button>
			<span class="text-semibold"><?= ucfirst($this->flashMessageType); ?>!</span>
			<?php foreach ($this->flashMessage as $flashMessage) {
                 if (is_array($flashMessage)) { 
                     foreach ($flashMessage as $line => $messages) {
                         if (is_array($messages)) { 
                            echo '<strong>Line : ' . ($line + 2) . '</strong><br />'; 
                            foreach ($messages as $message) { 
                                echo  $message . ' <br />'; 
                            } 
                         } else { 
                            echo $messages . ' <br />'; 
                         }
			         } 
                 } else { 
                     echo $flashMessage . ' <br /><br />'; 
			     } 
			 } 
             ?>
		</div>
		<?php }?>

		<?= $this->layout()->content ?>

	</div>
	<!-- /page container -->


    <!-- Footer -->
	<div class="footer text-muted text-center">
	    <hr>
		&copy; 2016. <a href="#">Satisfaction</a> by <a href="#" target="_blank">InfoStats</a>
	</div>
	<!-- /footer -->

</body>

<!-- Mirrored from demo.interface.club/limitless/layout_4/LTR/default/login_simple.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Apr 2016 00:15:58 GMT -->
</html>
     