<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Statflow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="<?php echo $this->baseUrl(); ?>/jqueryui/css/smoothness/jquery-ui-1.10.2.custom.min.css"
          rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 200px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
    <link href="<?php echo $this->baseUrl(); ?>/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/bootstrap/css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/bootstrap/css/bootstrap-tree.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/bootstrap/css/bootstrap-tagmanager.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/bootstrap/css/datepicker.css" rel="stylesheet">
    <link href="<?php echo $this->baseUrl(); ?>/css/statflow.css" rel="stylesheet">

</head>

<body style="height: 100%">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="statflow-header">
        <img src="<?php echo $this->serverUrl(); ?>/img/statflow_logo.png">
    </div>
    <div class="navbar-inner">
        <div class="container-fluid" >
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'index', 'action' => 'index'), null, true); ?>"><i class="icon-home icon-white"></i></a>

            <div class="nav-collapse collapse">
                <?php
                $navigation = $this->navigation()->getContainer();
                $navigation = $navigation->findOneByLabel('Frontoffice');
                $menu = $this->navigation()->menu()->setUseTranslator(false);
                if ($navigation !== null) :
                    echo $this->navigation()->menu()
                        ->setUlClass('nav main-menu')
                        ->renderMenu($navigation, array('maxDepth' =>  0));
                endif;
                ?>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle"
                           data-toggle="dropdown"><?php echo $this->translate('navigation__statflow__layout__logged_as@backoffice'); ?> <?php echo $this->user()->getIdentity()->username; ?>
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0);"><?php echo $this->translate('navigation__statflow__layout__my_profile@backoffice'); ?></a>
                            </li>
                            <li>
                                <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'logout'), null, true); ?>"><?php echo $this->translate('navigation__statflow__layout__logout@backoffice'); ?></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid" id="main-container">
    <?php if (isset($this->flashMessageType)): ?>
        <?php if (is_string($this->flashMessage)) $this->flashMessage = array($this->flashMessage); ?>
        <div class="autohide alert alert-<?php echo $this->flashMessageType; ?>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4><?php echo ucfirst($this->flashMessageType); ?>!</h4>
            <?php //Zend_Debug::dump($this->flashMessage); /*
            foreach ($this->flashMessage as $flashMessage) :?>
                <?php if (is_array($flashMessage)) : ?>
                    <?php foreach ($flashMessage as $line => $messages) : ?>
                        <?php echo '<strong>Line : ' . ($line + 2) . '</strong><br />'; ?>
                        <?php foreach ($messages as $message) : ?>
                            <?php echo $message . ' <br />'; ?>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                <?php else : ?>
                    <?php echo $flashMessage . ' <br /><br />'; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>

    <?php endif; ?>

    <?php echo $this->layout()->content ?>

</div>
<!--/.fluid-container-->

<?php echo $this->partial('common/_delete-confirmation.phtml'); ?>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="<?php echo $this->baseUrl(); ?>/jqueryui/js/jquery-1.9.1.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/jqueryui/js/jquery-ui-1.10.2.custom.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/jqueryui/js/jquery.ui.datepicker-fr.js"></script>

<script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-multiselect.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-tree.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-tagmanager.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/holder.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap-datepicker.js"></script>

<script>
    var Zend_Locale = '<?php echo Zend_Registry::get('Zend_Locale'); ?>';
</script>
<script src="<?php echo $this->baseUrl(); ?>/js/statflow.js"></script>

<!-- QUESTIONNAIRE -->
<script src="<?php echo $this->baseUrl(); ?>/bootstrap/js/bootstrap.wizard.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/statflow_questionnaire.js"></script>

</body>
</html>
