<?php $serverUrl = $this->serverUrl(); ?>
<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('respondent_table_title@backoffice'); ?>
            <small><?= $this->translate('respondent_table_subtitle@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-briefcase"></i>
                    <span><?= $this->translate('study_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-book-open"></i>
                    <span><?= $this->translate('list_feedback_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-bubble font-green-haze"></i>
                    <span class="font-green-haze"><?= $this->translate('respondent_table_chemin@backoffice'); ?></span>
                </li>
            </ul>
        </div>
        <?php if (!$this->formId) : ?>
            <div class="col-md-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-briefcase font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('Select_study@backoffice'); ?></span>
                        </div>
                        <select class="form-control" name="studies" id="studies">
                            <option value =""><?= $this->translate('Select_choose_study@backoffice'); ?></option>
                            <?php foreach ($this->studies as $study) :?>
                                <option value ="<?=$study->id?>"><?=$study->name?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-book-open font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('Select_feedbackForm@backoffice'); ?></span>
                        </div>
                        <select disabled class="form-control" name="forms" id="forms">
                            <option value =""><?= $this->translate('Select_choose_feedbackForm@backoffice'); ?></option>
                        </select>
                    </div>
                </div>
            </div>
        <?php else :?>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="fa fa-filter font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('respondent_table_Filter@backoffice'); ?></span>
                </div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body row">
                <div class="col-md-12 margin-bottom-40">
                    <div class="btn-group">
                        <div class="btn-group">
                            <a class="btn btn-outline green-sharp" href="#">
                                <i class="fa fa-users"></i> <?= $this->translate('Status@backoffice'); ?> : <?php
                                if($this->status !== false && $this->status !== null && $this->status !== '') {
                                    switch ($this->status) {
                                        case 0: echo '<i class="fa fa-download"></i>' .  $this->translate('Imported@backoffice');
                                            break;
                                        case 1: echo '<i class="fa fa-upload"></i> ' .  $this->translate('Exported@backoffice');
                                            break;
                                        case 10: echo '<i class="fa fa-clock-o"></i>' .  $this->translate('Pending@backoffice');
                                            break;
                                        case 20: echo '<i class="fa fa-check-square-o"></i>' .  $this->translate('Answered@backoffice');
                                            break;
                                        default: echo 'All';
                                            break;
                                    }
                                }
                                ?>
                            </a>
                            <a class="btn dropdown-toggle green-sharp" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu" style="text-align: left">
                                <li><a href="javascript:;" id="statusImported"><i class="fa fa-download"></i> <?=$this->translate('Imported@backoffice');?></a></li>
                                <li><a href="javascript:;" id="statusExported"><i class="fa fa-upload"></i> <?=$this->translate('Exported@backoffice');?></a></li>
                                <li><a href="javascript:;" id="statusPending"><i class="fa fa-clock-o"></i> <?=$this->translate('Pending@backoffice');?></a></li>
                                <li><a href="javascript:;" id="statusAnswered"><i class="fa fa-check-square-o"></i> <?=$this->translate('Answered@backoffice');?></a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:;" id="statusReset"><i class="fa fa-ban"></i> <?=$this->translate('Reset@backoffice');?></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-outline red-sunglo" href="#"><i class="fa fa-bell-o"></i><?=$this->translate('Alert@backoffice')?> : <?php
                            switch ($this->alert) {
                                case 0: echo '<i class="fa fa-close"></i>' . $this->translate('No@backoffice');
                                    break;
                                case 1: echo '<i class="fa fa-check"></i>' . $this->translate('Yes@backoffice');
                                    break;
                                default: echo $this->translate('All@backoffice');
                                    break;
                            }

                            ?></a>
                        <a class="btn dropdown-toggle red-sunglo" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                        <ul class="dropdown-menu" style="text-align: left">
                            <li><a href="javascript:;" id="yes-alert"><i class="fa fa-check"></i> <?=$this->translate('Yes@backoffice')?></a></li>
                            <li><a href="javascript:;" id="no-alert"><i class="fa fa-close"></i> <?=$this->translate('No@backoffice')?></a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:;" id="all-alert"> <?=$this->translate('All@backoffice')?></a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <div>
                            <div class="input-group input-large date-picker input-daterange" data-date-format="yyyy-mm-dd">
                                <input type="text" id="answered_at_from" class="form-control" name="from"
                                       placeholder="<?=$this->translate('Answered_at_from@backoffice')?>" value="<?= $this->answered_at_from?>" />
                                <span class="input-group-addon font-white bg-blue-ebonyclay"> <?=$this->translate('to@backoffice')?> </span>
                                <input type="text" id="answered_at_to" class="form-control" name="to"
                                       placeholder="<?=$this->translate('Answered_at_to@backoffice')?>" value="<?= $this->answered_at_to?>" />
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <input type="text" class="input-small form-control" id="respondent_id" placeholder="<?=$this->translate('respondent_id@backoffice')?>" value="<?= $this->respondent_id ?>"/>
                    </div>
                    <div class="btn-group">
                        <input type="text" name="structures" class="input-small form-control" id="structure_belonging" placeholder="<?=$this->translate('structure@backoffice')?>" value=""/>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button class="btn green-haze" id="filter"><i class="fa fa-filter"></i></button>
                        <button class="btn red-sunglo" id="filter-trash"><i class="fa fa-ban"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-settings font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('respondent_table_title@backoffice'); ?></span>
                </div>
                <div class="tools">
                    <a href="" class="fullscreen"></a>
                    <a href="" class="collapse"> </a>
                </div>
                <div class="actions">
                    <a id="exportHandle" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-cloud-upload"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 margin-bottom-20">
                            <label class="font-green-haze">
                                <i class="icon-bubbles"> </i>
                                <?= $this->paginator->getTotalItemCount()?>  <?= $this->translate('respondents@backoffice'); ?>
                            </label>
                        </div>
                    </div>
                </div>
                <?php if (count($this->paginator)) :?>
                <div class="table-scrollable">
                    <table class="table table-striped table-hover table-header-fixed dataTable">
                        <thead class="font-blue-ebonyclay">
                        <tr>
                            <?php foreach ($this->headers as $header) :?>
                                <th><?= $header; ?></th>
                            <?php endforeach; ?>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->paginator as $line) :?>
                            <tr>
                                <?php foreach ($line as $code => $entry) :?>
                                    <td><?php
                                        if($code == 'status') {
                                            switch ($entry) {
                                                case 0: echo '<span class="label label-sm bg-blue-dark"><i class="fa fa-download"></i> '. $this->translate('Imported@backoffice').'</span>';
                                                    break;
                                                case 1: echo '<span class="label label-sm bg-grey-gallery"><i class="fa fa-upload"></i> '. $this->translate('Exported@backoffice').'</span>';
                                                    break;
                                                case 10: echo '<span class="label label-sm bg-yellow-gold"> <i class="fa fa-clock-o"></i> '. $this->translate('Pending@backoffice').'</span>';
                                                    break;
                                                case 20: echo '<span class="label label-sm bg-green-haze"><i class="fa fa-check-square-o"></i>  '. $this->translate('Answered@backoffice').'</span>';
                                                    break;
                                            }
                                        }
                                        else if($code == 'token') {
                                            echo sprintf(
                                                '<a target="_blank" href="' . $serverUrl . '/statflow/form/%s'
                                                . '/token/' . $entry . '"><icon class="icon-file"></i></a>'
                                                , $this->feedback_form_id);
                                        }
                                        else if($code == 'completion_time' && $entry != null && $entry != 0) {
                                            echo Sayyes_Tools_Time::secs_to_h($entry);
                                        }
                                        else {
                                            echo $this->displayValue(
                                                (isset($this->modalityQuestionsCodes[$code])) ? $this->modalityQuestionsCodes[$code] : null,
                                                $entry,
                                                $this->modalityQuestions,
                                                $this->openQuestions
                                            );
                                        }
                                        ?></td>
                                <?php endforeach;?>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
                <?= $this->paginationControl($this->paginator, 'Sliding', 'common/pagination-respondent.phtml'); ?>
                <?php else :?>
                <div class="note note-warning">
                    <h4 class="block"><?=$this->translate('respondent_no_data@backoffice')?></h4>
                <?php endif;?>
            </div>
        </div>
    </div>
        <?php endif;?>
</div>

<script>
    var url = '/statflow/respondent/index';
    var urlBase = url;
    var feedback_form_id = <?= $this->formId ? $this->formId: 0; ?>;
    var status = '<?= $this->status; ?>';
    var page = <?= $this->page?$this->page:0; ?>;
    var alert= <?= $this->alert?$this->alert:0; ?>;

    function buildQuery()
    {
        url += '/feedback_form_id/' + feedback_form_id;
        if ($('#answered_at_from').val()) {
            url += '/answered_at_from/' + $('#answered_at_from').val();
        }
        if ($('#answered_at_to').val()) {
            url += '/answered_at_to/' + $('#answered_at_to').val();
        }
        if ($('#respondent_id').val()) {
            url += '/respondent_id/' + $('#respondent_id').val();
        }
        if ($('[name="hidden-structures"]').val()) {
            url += '/structures/' + $('[name="hidden-structures"]').val();
        }
        if (status) {
            url += '/status/' + status;
        }

        url += '/page/' + page;
        url += '/alert/' + alert;

        window.location = url;
    }

    function gotoPage(pageNumber) {
        page = pageNumber;
        buildQuery();
    }

    function external()
    {
        $('#studies').on('change',function () {
            $('#forms').html($('<option>', {
                value: '',
                text : '<?= $this->translate('Select_choose_study@backoffice'); ?>'
            }));
            if ($(this).val()) {
                $.ajax({
                    type: "POST",
                    url: '/statflow/respondent/get-forms-by-study/study_id/' + $(this).val(),
                    success: function (data) {
                        $('#forms').removeAttr('disabled');
                        $.each(JSON.parse(data), function (i, item) {
                            $('#forms').append($('<option>', {
                                value: item.id,
                                text : item.name
                            }));
                        });
                    }
                });
            }
        });

        $('#forms').on('change',function () {
            window.location = "/statflow/respondent/index/feedback_form_id/" + $(this).val();
        });

        $('#filter').click(function(){
            page = 1;
            buildQuery();
        });
        $('#yes-alert').click(function(){
            alert = 1;
            page = 1;
            buildQuery();
        });
        
        $('#no-alert').click(function(){
            alert = 0;
            page = 1;
            buildQuery();
        });

        $('#all-alert').click(function(){
            alert = 2;
            page = 1;
            buildQuery();
        });

        $('#filter-trash').click(function() {
            $('#answered_at_from').val('');
            $('#answered_at_to').val('');
            $('#respondent_id').val('');
            page = 1;
            buildQuery();
        });
        $('#exportHandle').click(function(){
            url += '/export/1';
            buildQuery();
            url = urlBase;
        });
        $('#statusImported').click(function(){
            status = 0;
            page = 1;
            buildQuery();
        });
        $('#statusExported').click(function(){
            status = 1;
            page = 1;
            buildQuery();
        });
        $('#statusPending').click(function(){
            status = 10;
            page = 1;
            buildQuery();
        });
        $('#statusAnswered').click(function(){
            status = 20;
            page = 1;
            buildQuery();
        });
        $('#statusReset').click(function(){
            status = '';
            page = 1;
            buildQuery();
        });
    }
</script>
