<?php $t = \Zend_Registry::get( "Zend_Translate" ); ?>
<div class="filters">
    <?php if ( $this->colonnes ) { ?>
        <form id="form-ecran1" action="#" method="POST" >
            <label><?php echo $t->_( 'Gender' ); ?> : </label>
            <select name="gender" id="gender">
                <option value="">All</option>
                <option value="Female" <?php echo isset($this->params['gender']) && $this->params['gender'] == "Female" ? 'selected="selected"' : "" ?>>Female</option>
                <option value="Male" <?php echo isset($this->params['gender']) && $this->params['gender'] == "Male" ? 'selected="selected"' : "" ?>>Male</option>
                <option value="Other" <?php echo isset($this->params['gender']) && $this->params['gender'] == "Other" ? 'selected="selected"' : "" ?>>Other</option>
            </select>

            <div class="sep"></div>
            <div id="display">
                <label><?php echo $t->_( 'Segment' ); ?> : </label>
                <select name="segment" id="segment">
                    <option value="">All</option>
                    <?php
                    $alreadyIn = array( );
                    foreach ( $this->segments as $value ) {
                        if ( !in_array( $value[ 'value' ], $alreadyIn ) && $value[ 'value' ] != "" ) {
                            $selected = isset($this->params['segment']) && $this->params['segment'] == $value[ 'value' ] ? 'selected="selected"' : "";
                            echo <<<HTML
                    <option value="{$value[ 'value' ]}" {$selected}>{$value[ 'value' ]}</option>
    
HTML;
                            $alreadyIn[ ] = $value[ 'value' ];
                        }
                    }
                    if( in_array('VIC', $alreadyIn) || in_array('THE FAMILY', $alreadyIn) ){
                        echo '
                    <option value="groupe1">VIC + THE FAMILY</option>';
                    }
                    if( in_array('CORE CLIENTS', $alreadyIn) || in_array('ADVENTURERS', $alreadyIn) ){
                        echo '
                    <option value="groupe2">CORE CLIENTS + ADVENTURERS</option>';
                    }
                    if( in_array('EXPLORERS', $alreadyIn) || in_array('NOVICES', $alreadyIn) || in_array('SLEEPERS', $alreadyIn) ){
                        echo '
                    <option value="groupe3">EXPLORERS + NOVICES + SLEEPERS</option>';
                    }
                    ?>
                </select>
            </div>


            <div class="sep"></div>

            <label><?php echo $t->_( 'Debut' ); ?>  : </label>
            <input type="text" name="dateDebut" id="dateDebut" class="hasDp" value="<?php echo date( 'd/m/Y', $this->moisDebut ) ?>"/>

            <label><?php echo $t->_( 'Fin' ); ?> : </label>
            <input type="text" name="dateFin" id="dateFin" class="hasDp" value="<?php echo date( 'd/m/Y', $this->moisFin ) ?>"/>

            <input type="hidden" name="que_id" id="que_id" value="<?php echo $this->que_id ?>" />
        </form>
        <div class="clear"></div>
    <?php } ?>
</div>