<?php foreach ($this->errors as $error) : ?>
<div class="alert alert-block alert-error">
    <h4><?php echo $this->translate('preview__statflow__study__preview__error__'.$error.'@study') ?></h4>
</div>
<?php endforeach; ?>