<!-- Page content -->
<div class="page-content">
	<!-- Main content -->
	<div class="content-wrapper">
		<!-- Password recovery -->
		<form action="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'do-reset', 'token' => $this->user->token)); ?>" method="post">
			<div class="panel panel-body login-form">
				<div class="text-center">
					<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
					<h5 class="content-group"><?= $this->translate('Please_enter_your_new_password@backoffice'); ?></h5>
				</div>

				<div class="form-group has-feedback">
					<input required name="password1" type="password" class="form-control" placeholder="<?= $this->translate('Password@backoffice')?>">
					<div class="form-control-feedback">
						<i class="icon-lock2 text-muted"></i>
					</div>
				</div>
				<div class="form-group has-feedback">
					<input required name="password2" type="password" class="form-control" placeholder="<?= $this->translate('Confirm_password@backoffice')?>">
					<div class="form-control-feedback">
						<i class="icon-lock2 text-muted"></i>
					</div>
				</div>
				<button type="submit" class="btn bg-green-haze btn-block"><?= $this->translate('Reset_password@backoffice')?> <i class="icon-arrow-right14 position-right"></i></button>
			</div>
		</form>
		<!-- /password recovery -->
	</div>
	<!-- /main content -->
</div>
<!-- /page content -->