<h1><?= $this->translate('login_title@backoffice') ?></h1>
<p> <?= $this->translate('login_description@backoffice') ?>. </p>

<form action="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'index'))?>" class="login-form" method="post">
	<div class="alert alert-danger display-hide">
		<button class="close" data-close="alert"></button>
		<span><?= $this->translate('Enter_your_credentials_below@backoffice') ?></span>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<input class="form-control form-control-solid placeholder-no-fix form-group" type="text"  placeholder="<?= $this->translate('Username@backoffice') ?>" name="login" required/> </div>
		<div class="col-xs-6">
			<input class="form-control form-control-solid placeholder-no-fix form-group" type="password"  placeholder="<?= $this->translate('Password@backoffice') ?>" name="password" required/> </div>
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-8 text-right">
			<div class="forgot-password">
				<a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'reset'))?>" id="forget-password" class="forget-password"><?= $this->translate('Forgot_password@backoffice') ?> ?</a>
			</div>
			<button name= "submit-login" class="btn green-haze" type="submit"><?= $this->translate('Sign_in@backoffice') ?></button>
		</div>
	</div>
</form>
