<img class="page-lock-img" src="/img/default_user_small.png" alt="">
<div class="page-lock-info">
    <h1><?= $this->fullName?></h1>
    <span class="email"> <?= $this->email?> </span>
    <span class="locked"> <?= $this->translate('Locked@backoffice')?> </span>
    <form method="post" class="form-inline" action="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'index'))?>">
        <div class="input-group input-medium">
            <input type="password" required class="form-control" name="password" placeholder="Password@backoffice">
            <input type="hidden" name="login" value="<?=$this->login?>">
            <span class="input-group-btn">
                <button type="submit" class="btn green icn-only">
                    <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
        <div class="relogin">
            <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'logout'))?>">
                <?= $this->translate('Not@backoffice')?> <?= $this->fullName?> ?
            </a>
        </div>
    </form>
</div>