<h1><?= $this->translate('Forgot_Password@backoffice')?> ?</h1>
<p> <?= $this->translate('Enter_your_e-mail_address_below_to_reset_your_password.@backoffice')?> </p>
<form class="forget-form" style="margin-top: 80px;" action="<?= $this->url(array('module' => 'statflow', 'controller' => 'auth', 'action' => 'reset')); ?>" method="post">
	<div class="alert alert-danger display-hide">
		<button class="close" data-close="alert"></button>
		<span><?= $this->translate('Enter_a_valid_email@backoffice') ?></span>
	</div>
	<div class="form-group">
		<input class="form-control form-control-solid placeholder-no-fix form-group" type="email" autocomplete="off" placeholder="<?= $this->translate('Your_email@backoffice')?>" name="email" required />
	</div>
	<div class="form-actions">
		<button type="button" onclick="window.location = '/'" id="back-btn" class="btn green-haze btn-outline"><?= $this->translate('Back')?></button>
		<button type="submit" class="btn green-haze uppercase pull-right"><?= $this->translate('Reset password@backoffice')?></button>
	</div>
</form>

