<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_feedbackform_title@backoffice'); ?>
            <small><?= $this->translate('add_question_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-puzzle"></i>
                    <span><?= $this->page->feedback_form->name ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-plus font-green"></i>
                    <span class="font-green"><?= $this->translate('add_question@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-energy font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('add_question_title@backoffice'); ?></span>
                </div>
            </div>
            <div class="form-actions row margin-top-30">
                <form class="form-horizontal" method="post" role="form" id="addfeedbackform"
                      action="<?= $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'add'), null, true); ?>">
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('question_field_code@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <input class="form-control" required type="text" id="code" name="code" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('question_field_type@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <select required class="form-control" id="question_type_id" name="question_type_id">
                                <?php foreach($this->question_types as $value => $label): ?>
                                    <option value="<?= $value; ?>"><?= $this->translate($label.'@backoffice'); ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-6">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="hidden" name="required" value="0">
                                <input type="checkbox"  name="required" id="required" value="1">
                                <?= $this->translate('question__field_required@backoffice'); ?>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('question_field_content@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <textarea required class="form-control" rows="8" name="content" id="content" disabled><?= $this->translate('feedbackform_question_name-pending@backoffice'); ?></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('question_field_help@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <textarea required class="form-control" rows="8" name="help" id="help" disabled><?= $this->translate('feedbackform_field_introduction_help_pending@backoffice'); ?></textarea>
                        </div>
                    </div>
                    <div class="col-md-offset-6 col-md-9">
                        <input type="hidden" name="feedback_form_page_id" id="feedback_form_page_id" value="<?= $this->page->id; ?>">
                        <button id="Enregistrer" type="submit" class="btn btn-large green-haze" >
                            <i class="icon-plus"></i>
                            <?= $this->translate('submit@backoffice'); ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var errors = <?= json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>