<div class="row-fluid">

    <h3>
        <?php echo $this->translate('navigation__statflow__question__index__manage_question_title@backoffice'); ?>
        <a  class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'add'), null, true); ?>">
            <i class="icon-plus icon-white"></i>
            <?php echo $this->translate('navigation__statflow__question__index__manage_question_add@backoffice'); ?>
        </a>
    </h3>
    <hr class="clearfix">

    <div class="container-fluid gradient-background">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><?= $this->translate('navigation__statflow__question_field_code@backoffice'); ?></th>
                <th><?= $this->translate('navigation__statflow__question_field_section@backoffice'); ?></th>
                <th><?= $this->translate('navigation__statflow__question_field_feedback_form@backoffice'); ?></th>
                <th><?= $this->translate('navigation__statflow__question_field_feedback_form_page@backoffice'); ?></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->questions as $question): ?>
                <tr>
                    <td><?= $question->code; ?></td>
                    <td><?= $question->section->name; ?></td>
                    <td><?= $question->feedback_form_page->feedback_form->name; ?></td>
                    <td><?= $question->feedback_form_page->name; ?></td>
                    <td>
                        <a
                            href="#delete-confirmation" role="button" data-toggle="modal"
                            class="btn btn-small pull-right btn-table-action btn-delete"
                            data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'delete', 'id' => $question->id), null, true); ?>">
                            <i class="icon-trash"></i>
                            <?= $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
                        </a>
                        <a class="btn btn-small pull-right btn-table-action" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'question', 'action' => 'edit', 'id' => $question->id), null, true); ?>">
                            <i class="icon-pencil"></i>
                            <?= $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
                        </a>
                    </td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>

</div>