<?php $admin = 0;
    if (isset($_SESSION['Zend_Auth']['storage'])) {
        $admin = $_SESSION['Zend_Auth']['storage']->is_super_admin;
    }
?>
<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number font-red"> <?= $this->code ?> </div>
        <div class=" details">
            <h3>Oops! You're lost.</h3>
            <p>
                We can not find the page you're looking for.<br>
                Return home or contact us <a href="mailto:support@it-prospect.com">support@it-prospect.com</a>.
                <br/> </p>
            <p>
                <a href="<?= $admin ? '/statflow' : '/'?>" class="btn red btn-outline"> Return home </a>
                <br> </p>
        </div>
    </div>
</div>