<div class="row-fluid">
  <h3>
     <?php echo $this->translate('navigation__statflow__parameter_management__title@backoffice'); ?>
     &nbsp;
  </h3>
  <hr class="clearfix">

  <form action="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'parameter', 'action' => 'save-email'), null, true); ?>" method="post">
        <div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?php echo $this->translate('navigation__statflow__param_index_manage_param_email_connex@backoffice'); ?>  :</legend>
            
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_from@backoffice'); ?> :</div>
                <div class="span10">
                    <input class="input-block-level" required type="text" name="sender_name_connex" id="sender_name_connex" value="<?= $this->sender_name_connex; ?>">
                </div>
             </div>
              <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_from_email@backoffice'); ?> :</div>
                <div class="span10">  
                    <input class="input-block-level" type="email" name="sender_email_connex" id="sender_email_connex" value="<?= $this->sender_email_connex; ?>">
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_bcc@backoffice'); ?> :</div>
                <div class="span10">
                    <input class="input-block-level" required type="email" value="<?= $this->bcc_email_connex ?>" name="bcc_email_connex">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_subject@backoffice'); ?> :</div>
                <div class="span10">
                    <pre><?=$this->translate('param_email_connexion_subject');
                    ?></pre>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_body_html@backoffice'); ?> :</div>
                <div class="span10">
                    <pre><?=    
                        $this->translate('param_email_connexion_body_html');
                    ?></pre>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_body_text@backoffice'); ?>  :</div>
                <div class="span10">
                    <pre><?=    
                        $this->translate('param_email_connexion_body_text'); ?></pre>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                
                <input type="hidden" required name="id" id="id" value="">
                    <button type="submit" class="btn btn-primary" name="btnEmailSave" id="btnEmailConnexSave"  value="emailconnex">
                        <i class="icon-ok icon-white"></i>
                        <?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
                    </button>
                    
                    <input type="hidden" required name="btnDesactif" id="btnDesactif" value="emailconnex">
                    
                </div>
            </div>
            
            <hr class="clearfix">
            </fieldset>
        </div>
    </form>
    
    <br>
    
    <form action="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'parameter', 'action' => 'save-email'), null, true); ?>" method="post">
            
    <div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?php echo $this->translate('navigation__statflow__param_index_manage_param_email_renew@backoffice'); ?>  :</legend>
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_from@backoffice'); ?> :</div>
                <div class="span10">
                    <input class="input-block-level" required type="text" name="sender_name_renew" id="sender_name_renew" value="<?= $this->sender_name_renew; ?>">
                </div>
             </div>
              <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_from_email@backoffice'); ?> :</div>
                <div class="span10">  
                    <input class="input-block-level" type="email" name="sender_email_renew" id="sender_email_renew" value="<?= $this->sender_email_renew; ?>">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_bcc@backoffice'); ?> :</div>
                <div class="span10">
                    <input class="input-block-level" required type="email" value="<?= $this->bcc_email_renew ?>" name="bcc_email_renew">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_subject@backoffice'); ?> :</div>
                <div class="span10">
                    <pre><?=    
                    $this->translate('param_email_renewal_subject');
                    ?></pre>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_body_html@backoffice'); ?> :</div>
                <div class="span10">
                    <pre><?=    
                        $this->translate('param_email_renewal_body_html');
                    ?></pre>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2"><?php echo $this->translate('navigation__statflow__param_field_body_text@backoffice'); ?> :</div>
                <div class="span10">
                    <pre><?=    
                        $this->translate('param_email_renewal_body_text');
                    ?></pre>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                <input type="hidden" required name="id" id="id" value="">
                    <button type="submit" class="btn btn-primary" name="btnEmailSave" id="btnEmailRenewSave" value="emailrenew">
                        <i class="icon-ok icon-white"></i>
                        <?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
                    </button>
                <input type="hidden" name="btnDesactif" id="btnDesactifConnex" value="renew">
                
                    
                </div>
            </div>
            
            <hr class="clearfix">
            </fieldset>
        </div>
        
        </form>
  
  </div>     
   
<div class="row-fluid">
	<h3>
        <?php echo $this->translate('navigation__statflow__feedbackform__manage_direction_language_title@backoffice'); ?>
	</h3>
	<hr class="clearfix">
	<form action="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'parameter', 'action' => 'direction-language'), null, true); ?>" method="post">
		<div class="container-fluid gradient-background">
			<fieldset>
				<fieldset>
					<legend style="margin-bottom:10px;"><?php echo $this->translate('navigation__statflow__manage_direction_language_choose_language@backoffice'); ?> : </legend>
					<div class="row-fluid">
						<div class="span9">
                            <select name="sel_languages[]" id="sel_languages" data-placeholder="<?php echo $this->translate('navigation__statflow__feedbackform__manage_direction_language_choose_language@backoffice'); ?>" class="chosen-select" multiple style="width:800px;">
                                <?php foreach($this->languages as $language):?>
                                <option <?php echo (in_array($language['id'], $this->hiddenFields)) ? 'selected' : ''; ?> value="<?php echo $language['id']; ?>"><?php echo $language['name']; ?></option>
                                <?php endforeach; ?>
                            </select>
						</div>
					</div>
				</fieldset>						
    			<br>
        		<div class="row-fluid">
        			<div class="span12">
        				<input type="hidden" required name="form" id="form" value="<?php //echo $this->form->id ?>">
        				<button type="submit" class="btn btn-primary" name="btnDirectionSave" id="btnDirectionSave">
        			        <i class="icon-ok icon-white"></i><?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
                        </button>
        			</div>
        		</div>
    		    <hr class="clearfix">
			</fieldset>
        </div>       
	</form>
</div>  
<link href="<?=$this->baseUrl(); ?>/css/chosen.css" rel="stylesheet" type="text/css" />

<script type='text/javascript' src='<?=$this->baseUrl();?>/js/jquery.js'></script>
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/chosen.jquery.js'></script>
  
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/prism.js'></script>

<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>  

        