<?php $nom_lieu_contact = "" ;
$respondent_details = $this->respondent_details;
$respondent_external = $this->respondent_external;

$actions = array('0'=> $this->translate('label__'.$this->study.'_action-none@'.$this->study),
    '1'=> $this->translate('label__'.$this->study.'_action-progress@'.$this->study),
    '2'=> $this->translate('label__'.$this->study.'_action-close@'.$this->study)
); ?>
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-notebook font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('detail_respondent_CRM@form_'.$this->form); ?></span>
                </div>
            </div>
            <div class="portlet-body row form-horizontal">
                <?php $i=0;
                $isAlert = false;
                foreach ($respondent_details as $name => $value) {
                    if ($name === 'alert' && $value) {
                        $isAlert = true;
                    }

                    if (in_array($name,  $this->respondent_infos)) {
                        $i++;
                        if ($this->external_label != str_replace(' ', '_', $name) ) {
                            if (str_replace(' ', '_', $name) == "action") {
                                if($value != $this->translate('label__'.$this->study.'__nominative_substitute_text__'.$this->form.'@'.$this->study)) {
                                    $value = $actions[$value];
                                }
                            }

                            $name = $this->translate('label_'.$this->study.'_display_'.str_replace(' ', '_', $name).'@'.$this->study);
                        }

                        echo "<div class='form-group'>";
                        echo "<div class='col-md-6'><b>".$name." : </b></div>";
                        echo "<div class='col-md-6'>".$value."</div>";
                        echo "</div>";
                    }
                }
                ?>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-notebook font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('detail_respondent_responses@form_'.$this->form); ?></span>
                </div>
            </div>
            <div class="portlet-body row form-horizontal">
                <?php $feedback_form_id = $this->form;
                foreach($this->detailQuestionnaire as $code => $answer):
                    $question = str_replace("[FILE:Nom_lieu_contact]", $nom_lieu_contact, strip_tags($this->translate('form__'.$feedback_form_id.'__question_title-'.$code.'@Form_'.$feedback_form_id)));?>
                    <div class='form-group'>
                        <div class='col-md-6'><b><?= $question; ?></b></div>
                        <div class='col-md-6'><?= $answer;?></div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
    <?php if ($isAlert) :?>
        <div class="col-md-6">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-blue-ebonyclay">
                        <i class="icon-note font-blue-ebonyclay"></i>
                        <span class="caption-subject bold uppercase"> <?= $this->translate('suivi_action@form_'.$this->form); ?></span>
                    </div>
                </div>
                <div class="portlet-body row ">
                    <form id="actionForm" class="form-horizontal" name="actionForm">
                        <div class="form-group">
                            <label class="control-label col-md-5"><?= $this->translate('label_'.$this->study.'_display_alert@'.$this->study); ?> :</strong></label>
                            <div class="col-md-7">
                                <input class="form-control" value="<?= isset($this->alert)? $this->alert : "Pas d'alertes";?>" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5"><?= $this->translate('label_'.$this->study.'_display_status@'.$this->study); ?> :</strong></label>
                            <div class="col-md-7">
                                <select class="form-control sel_action" id="sel_action" name="sel_action">
                                    <?php foreach($actions as $key=>$value):?>
                                        <option <?php if($this->current_action==$key) echo 'selected'; ?> value="<?= $key;?>"><?= $value;?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5"><?= $this->translate('label_'.$this->study.'_display_comment@'.$this->study); ?> :</strong></label>
                            <div class="col-md-7">
                                <textarea id="txa_comment" name="txa_comment" class="form-control txa_comment" rows="4" cols="40"></textarea>
                            </div>
                        </div>
                        <a href='javascript:;' class="btn btn-outline green-haze pull-right" id="btn_enregistrer_action">
                            <i class="icon-check"></i>
                            <?= $this->translate('label_'.$this->study.'_display_action-save@'.$this->study); ?>
                        </a>
                    </form>
                    <div class="clearfix margin-bottom-20"></div>
                    <div class="mt-comments">
                        <div class="caption font-blue-ebonyclay">
                            <i class="fa fa-history font-blue-ebonyclay"></i>
                            <span class="caption-subject bold uppercase"><?= $this->translate('history_actions@frontend'); ?></span>
                        </div>
                        <hr>
                        <?php
                        if(!empty($this->respondent_actions)):
                            foreach($this->respondent_actions as $action):
                                $date = date_create($action->created_at);
                                $date_comment =  date_format($date, "d/m/Y H:i:s");
                                $action_id = $action->action;
                                foreach ($actions as $key=>$value) {
                                    if ($key == $action_id) {
                                        $status = $value;
                                    }
                                } ?>
                            <div style="border:2px solid" class="mt-comment border-<?= $action_id==1 ?'yellow-gold':'green-haze'?>">
                                <div class="mt-comment-body">
                                    <div class="mt-comment-info">
                                        <span class="mt-comment-author"><?=$status?></span>
                                        <span class="mt-comment-date"><?= $date_comment?></span>
                                    </div>
                                    <div class="mt-comment-text"> <?php
                                        empty($action->comment) ? $commentaire="-" : $commentaire = $action->comment;
                                        echo $commentaire."<br>"; ?>
                                    </div>
                                </div>
                            </div>
                            <?php endforeach;?>
                        <?php endif;?>
                    </div>
                </div>
            </div>
        </div>
    <?php endif;?>
</div>
<script type="text/javascript" >
    function external() {
        var current_action = <?=$this->current_action?>;
        var respondent_id = <?=$this->respondentId?>;
        var feedback_form_id = <?=$this->form?>;
        var url = '/costumer/list/comment/respondent_id/' + respondent_id + '/formId/' + feedback_form_id;
        var comment = '';

        var date_comment = "<?=date('d/m/Y H:i:s');?>";

        //action is new/none
        if (current_action == 0) {
            $('select[name="sel_action"]').find('option[value="1"]').attr("selected",true);//select option in_progress
            $("#sel_action option[value='0']").remove();
            comment = '<div style="border:2px solid" class="mt-comment border-red-haze">' +
                '<div class="mt-comment-body"> <div class="mt-comment-info">' +
                '<span class="mt-comment-author"><?=$this->translate('label_'.$this->study.'_action-open@'.$this->study);?></span>' +
                '<span class="mt-comment-date">'+date_comment+'</span>' +
                '</div></div></div>';

            $('#txa_comment').val('<?=$this->translate('label_'.$this->study.'_action-open-comment@'.$this->study);?>');
            $.ajax({
                type: 'POST',
                url: url,
                dataType:'json',
                data : $('#actionForm').serialize(),
                success: function(data) {
                    $('.mt-comments').append(comment);
                }
            });

        }

        if (current_action == 1 || current_action == 2) {
            $("#sel_action option[value='0']").remove();
        }

        $('#btn_enregistrer_action').click(function () {
            $.ajax({
                type: 'POST',
                url: url,
                dataType:'json',
                data : $('#actionForm').serialize(),
                success: function(data) {
                    var colorBorder = data.sel_action == 1 ? 'yellow-gold' : 'green-haze';
                    var actionType = data.sel_action == 1 ? '<?=$this->translate('label__'.$this->study.'_action-progress@'.$this->study);?>' : '<?=$this->translate('label__'.$this->study.'_action-close@'.$this->study);?>';
                    comment = '<div style="border:2px solid" class="mt-comment border-'+colorBorder+'">' +
                        '<div class="mt-comment-body"> <div class="mt-comment-info">' +
                        '<span class="mt-comment-author">'+actionType+'</span>' +
                        '<span class="mt-comment-date">'+date_comment+'</span>' +
                        '</div></div>' +
                        '<div class="mt-comment-text">'+data.txa_comment + '</div>' +
                        '</div>';
                    $('.mt-comments').append(comment);
                    $('#txa_comment').val('');
                }
            });
        });
    }
</script>