<!-- Main panel -->
<div class="portlet light divRespondent">
    <div class="portlet-title">
        <div class="caption font-blue-ebonyclay">
            <i class="fa fa-filter font-blue-ebonyclay"></i>
            <span class="caption-subject bold uppercase"> <?= $this->translate('respondent_table@study_'.$this->study); ?></span>
        </div>
        <div class="actions">
            <a href="javascript:;" id="btnExport" class="btn btn-outline dark">
                <i class="fa fa-download"></i> <?= $this->translate('Export_button@'.$this->study); ?> </a>
            <a class="btn btn-sm btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="<?= $this->translate('fullscreen@'.$this->study); ?>" title=""> </a>
        </div>
    </div>
    <div class="portlet-body row portlet-expanded">
        <div class="margin-bottom-20">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat dashboard-stat-v2 green">
                    <div class="visual">
                        <i class="fa fa-group fa-icon-medium"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b><span id="totalRespondent">0</span></b>
                        </div>
                        <div class="desc"><?= $this->translate('Respondents@'.$this->study); ?></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat dashboard-stat-v2 red">
                    <div class="visual">
                        <i class="fa fa-bell fa-icon-medium"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b><span id="totalAlert">0</span></b>
                        </div>
                        <div class="desc"><?= $this->translate('Respondents_onAlert@'.$this->study); ?></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="dashboard-stat dashboard-stat-v2 blue margin-bottom-40">
                    <div class="visual">
                        <i class="fa fa-hand-peace-o fa-icon-medium"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <b><span id="totalTreated">0</span></b>
                        </div>
                        <div class="desc"><?= $this->translate('Respondents_treated@'.$this->study); ?></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row table-scrollable">
            <table class="table table-striped table-bordered table-hover dt-responsive dataTable no-footer dtr-column">
                <thead class="bg-blue-ebonyclay font-default">
                <tr>
                    <th><?= $this->translate('Details@frontend') ?></th>
                    <?php
                    foreach ($this->header as $header) {
                        if (!in_array(str_replace(' ', '_', explode('@', $header)[2]), $this->header_ignore)
                            && !in_array('Value', explode('-', explode('@', $header)[2]))) {
                            if(explode('@', $header)[0] == 'question') { ?>
                                <th>
                                <span  title='<?=htmlspecialchars(strip_tags($this->translate('form__'.$this->form.'__question_title-'.explode('@', $header)[2].'@form_' . $this->form)),ENT_QUOTES, 'UTF-8');?>' >
                                    <?=$this->simpleTextCrop(htmlspecialchars(strip_tags($this->translate('form__'.$this->form.'__question_title-'.explode('@', $header)[2].'@form_' . $this->form)),ENT_QUOTES, 'UTF-8'),15); ?>
                                </span>
                                </th>
                            <?php } else {?>
                                <th>
                                    <?php
                                    $name = explode('@', $header)[2];
                                    echo "<span title='".htmlspecialchars(strip_tags($this->translate('label_'.$this->study.'_display_'.$name, null, $study)),ENT_QUOTES, 'UTF-8')."'>" . $this->simpleTextCrop($this->translate('label_'.$this->study.'_display_'.$name, null, $study), 15)."</span>";?>
                                </th>
                            <?php }
                        }
                    }?>
                </tr>
                </thead>
                <tbody id="respondentData"></tbody>
            </table>
        </div>
        <div class="col-md-12 margin-top-20">
            <?= $this->partial('common/pagination.phtml'); ?>
        </div>
    </div>
</div>

<script type="text/javascript">                   
function external()
{
    initializeFilter();
    loadDataRespondent();

	//xhrGetTdData(url);
    $('#btnDisplay').click(function () {
        updateFilter();
        location.reload();
    });

    // Reset Global filter
    $('#reset').click(function() {
        sessionStorage.clear();
        $('#tree_2')
            .jstree("deselect_all")
            .jstree("close_all");
        location.reload();
    });

    //Export data in xlsx
    $('#btnExport').click(function () {
        updateFilter();
    	var formId = "<?= $this->form; ?>";
	    $.ajax({
	        url : '/costumer/list/export/formId/' + formId,
	        dataType : 'json',
            data : JSON.parse(sessionStorage.getItem('paramsFilter')),
            success : function(data) {
	    	    window.location.href = data.url;
	    	    return false;
            }
	    });
    });           
}

function loadDataRespondent(page)
{
    if (page === undefined) {
        page = 1;
    }

    $.ajax({
        type: "POST",
        url: '/costumer/list/load/formId/<?= $this->form;?>/page/' + page,
        data: JSON.parse(sessionStorage.getItem('paramsFilter')),
        success: function (result) {
            var tbody =  '';
            $.each(result.data, function (key, vals) {
                tbody +=  '<tr>';
                $.each(vals, function (k, val) {
                    tbody +=  '<td>' + val + '</td>';
                });
                tbody +=  '</tr>';
            });

            $('#respondentData').html(tbody);
            $('#totalRespondent').html(result.total);
            $('#totalAlert').html(result.totalAlert);
            $('#totalTreated').html(result.totalTreated);
            $('html, body').animate({
                scrollTop: $('.divRespondent').offset().top
            }, 1000);

            $('#pagination-respondents').twbsPagination({
                totalPages: result.total % 10 ? (result.total / 10) + 1 : result.total / 10,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    loadDataRespondent(page);
                }
            });
        }
    });
}
</script>   