<ul><li class="question-bullet"><strong  class="question-title">{{{dataCallback content}}}</strong>{{#if meta.required}}<em class="required">*</em>{{/if}}</li></ul>
{{#each helps}}
<p class="help">{{{dataCallback content}}}</p>
{{/each}}
<div class="alert alert-block alert-error">
    {{invalidQuestionText}}
</div>
<table class="modalities table table-striped ordered">
    <thead>
        <tr>
            <th></th>
            {{arrayQuestionHeader meta}}
        </tr>
    </thead>
    <tbody></tbody>
</table>