<label class="checkbox complementary {{#if inline}}inline{{/if}}">
    <input type="checkbox" name="{{{question_id}}}[value]" value="{{id}}"><span class="content">{{{dataCallback content}}}</span>
    &nbsp;&nbsp;&nbsp;<input type="text" name="{{{question_id}}}[content]">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</label>
