<label class="radio complementary  {{#if inline}}inline{{/if}}">
   <input type="radio" name="{{{question_id}}}[value]" value="{{id}}"><span class="content">{{{dataCallback content}}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;<input type="text" name="{{{question_id}}}[content]">
</label>

