.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: 10px;
}

.checkbox input[type="checkbox"] {
    float: none !important;
}

.previous a {
    background: transparent url("/study/img/arrow-right.png") no-repeat scroll right 1px;
}
.next a {
    background: transparent url("/study/img/arrow-left.png") no-repeat scroll left 1px;
}

td:first-child {
    text-align: right !important;
}

.progress .bar {
    float: right !important;
}

.form-horizontal .questions {
    text-align: right !important;
}