<div class="row-fluid">

    <?php
    $this->form->setAction($this->url());
    echo $this->form;
    ?>
</div>

<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;
    function external()
    {
        $.each(errors, function(input, messages){
            $('#' + input).addClass('input-error');
            var errorMessage = '';
            $.each(messages, function(key, message){
                errorMessage += message + '<br>';
            });
            $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
        });
    }
</script>