<style>
    .email-adresses li span {
        display:inline-block;
        width:230px;
    }
</style>

<div class="row-fluid">
    <div class="container-fluid">
    <h3>
        <?php echo $this->translate('navigation__statflow__feedbackform__alerts@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index', 'study_id' => $this->study->id), null, true); ?>">
            <i class="icon-share-alt icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
    </h3>
    </div>
    <hr class="clearfix">
    <div class="container-fluid alert-rules">
        <form action="<?= $this->url()?>" method="post">
        <?php foreach($this->alerts as $key => $alert):?>
        <div style="border-radius: 25px;border: 2px solid #868686;padding: 20px; ">
            <h4>Alert Rules (<?= $key?>) :</h4>
            <div class="row-fluid alert-rule">
                <div class="span4">
                    <input type="hidden" name="alert[<?= $key?>][enabled]" value="0">
                    <label class="checkbox">
                        <input type="checkbox" name="alert[<?= $key?>][enabled]" value="1" <?= $alert['enabled'] ? "checked":''?>>
                        Enable
                    </label>
                    <label>
                        Libellé 
                        <input type="text"  name="alert[<?= $key ?>][libelle]" value="<?= $alert['libelle']?>"> 
                    </label>
                    <input type="hidden" name="alert[<?= $key?>][send_email]" value="0">
                    <label>
                        <input type="checkbox" name="alert[<?= $key?>][send_email]" value="1" <?= $alert['send_email'] ? "checked":''?>>
                        Send email
                    </label>
                    <span style="padding: 5px;">
                        <label><b>Format du fichier pièce jointe:</b></label>                       
                        <input class="radio" id="rad_excel<?= $key?>" type="radio" <?php echo ($alert['format_pj'] == 1) ? 'checked' : ''; ?>  name="alert[<?= $key?>][format_pj]" value="1"  style="vertical-align: middle;margin: 0px;">&nbsp;Excel
                        &nbsp;&nbsp;
                        <input class="radio" id="rad_xml<?= $key?>" type="radio" <?php echo ($alert['format_pj'] == 0) ? 'checked' : ''; ?>  name="alert[<?= $key?>][format_pj]" value="0" style="vertical-align: middle;margin: 0px;">&nbsp;XML
                    </span>
                    <label><input id="txt_atrribut_xml<?= $key?>" type="text"  name="alert[<?= $key ?>][attribut_xml]" value="<?= $alert['attribut_xml']?>" style="width: 275px; margin-top:5px;" placeholder="Attribut(XML) Ex. http://statflow.answers"></label>
                </div>
                <div class="span6">
                    <label>Alert rule</label>
                    <textarea name="alert[<?= $key?>][rule]"><?= $alert['rule']?></textarea>
                </div>
                <div class="span2">
                    <!--  a href="<?php //$this->url(array('action' => 'remove-alert', 'key' => $key))?>" class="btn btn-danger">Remove rule</a -->
               
                <a 
                    href="#delete-rule-confirmation" role="button" data-toggle="modal" 
                    class="btn btn-danger btn-delete_rule"
                    data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'remove-alert', 'key' => $key))?>">
                    Remove Rule
                </a>
                
                </div>
                                                         
            </div>
            
            <br/>
            
            <h4>Alert email recipient :</h4>
            <div class="span12" style="margin-bottom: 15px">
                <ul class="email-adresses">
                <?php 
                foreach($alert['alertRecipients'] as $recipient):?>
                    <li>
                        <input type="hidden" value="<?= $recipient ?>" name="alert[<?= $key?>][recipients][]">
                        <span><?= $recipient ?></span>
                        <a href="javascript:void(0)" onclick="removeRecipient(this)">remove</a>
                    </li>
                <?php endforeach;?>
                    <li>
                        <input type="email" name="recipient" placeholder="email.address@domain.com">
                        <a href="javascript:void(0)" onclick="addRecipient(this,<?= $key?>)">add</a>
                    </li>
                </ul>
            </div>
                            
            <h4>Alert email contents :</h4>
            <div class="row-fluid">
                <div class="span2">From :</div>
                <div class="span10">
                    <input type="text" value="<?= $alert['senderName']?>" placeholder="Sender Name" name="alert[<?= $key ?>][senderName]">
                    <input type="text" value="<?= $alert['senderEmail']?>" placeholder="Sender Email" name="alert[<?= $key ?>][senderEmail]">
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">Subject :</div>
                <div class="span10">
                    <pre><?=    //create alert email translations in database
                    $this->translate("alert_".$key."_email_subject_form_".($this->form->id)."@Form_".$this->form->id);
                    ?></pre>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">Body HTML :</div>
                <div class="span10">
                    <pre><?=    //create alert email translations in database
                        $this->translate("alert_".$key."_email_body_form_".($this->form->id)."@Form_".$this->form->id);
                    ?></pre>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">Body Text :</div>
                <div class="span10">
                    <pre><?=    //create alert email translations in database
                        $this->translate("alert_".$key."_email_body-text_form_".($this->form->id)."@Form_".$this->form->id);
                    ?></pre>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    Attachment file name :
                </div>
                <div class="span10">
                    <input type="text" value="<?= $alert['attachementName']?>" name="alert[<?= $key ?>][attachementName]">-{respondent_id}.xls
                </div>
            </div>
        </div>
        <hr>          
        <?php endforeach ?>
        <div class="row-fluid">
            <div class="span12">
                <a href="<?= $this->url(array('action' => 'add-alert'))?>" class="btn btn-primary">Add Alert Rule</a>&nbsp;
                <button style="display:<?=(count($this->alerts)==0)?'none':'';?>;" type="submit" class="btn btn-primary" >
                    <i class="icon-ok icon-white"></i>
                    <?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
                </button>
            </div>

        </div>
        </form>
    </div>
</div>
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/jquery.js'></script>
<script>
    function addRecipient(btn, key){
        var $li = $(btn).closest('li');
        var $input = $(btn).siblings('input');
        var email;
        var name = "alert["+key+"][recipients][]";
        if($input.val().match(/\w+@\w+/)){
            email = $input.val();
            $('<li><input type="hidden" name="'+name+'" value="'+email+'"><span>'+email+'</span><a href="javascript:void(0)" onclick="removeRecipient(this)">remove</a></li>').insertBefore($li);
            $input.val('')
        }
    }
    function removeRecipient(btn){
        $(btn).closest('li').remove();
    }
    

</script> 
