<div class="row-fluid">
	<h3>
        <?php echo $this->translate('navigation__statflow__feedbackform__manage_anonymous_question_title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index', 'study_id' => $this->feedbackform->study_id, 'feedback_form_id' => $this->feedbackform->id), null, true); ?>">
            <i class="icon-share-alt icon-white"></i><?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
	</h3>
	<hr class="clearfix">
	<form id="frmAnonymous" action="<?= $this->url()?>" method="post">
		<div class="container-fluid gradient-background">
			<fieldset>
    			<fieldset>
    				<legend style="margin-bottom:10px;"><?php echo $this->translate('navigation__statflow__manage_anonymous_question_questions@backoffice'); ?> : </legend>
                    <select name="sel_questions" id="sel_questions" data-placeholder="<?php echo $this->translate('navigation__statflow__feedbackform__manage_anonymous_question_choose_questions@backoffice'); ?>" class="chosen-select" multiple style="width:250px;">
                        <?php foreach($this->questions as $question): ?>
                        <option <?php echo ($question === $this->questionSaved) ? 'selected' : ''; ?> value="<?php echo $question; ?>"><?php echo $question; ?></option>
                        <?php endforeach; ?>
                    </select>
    			</fieldset>
    		    <br>
    			<fieldset>
    				<legend style="margin-bottom:10px;"><?php echo $this->translate('navigation__statflow__manage_anonymous_question_modalities@backoffice'); ?><em class='required'>*</em>: </legend>
                    <select name="sel_modalities" id="sel_modalities"  disabled data-placeholder="<?php echo $this->translate('navigation__statflow__feedbackform__manage_anonymous_question_choose_modalities@backoffice'); ?>"  style="width:250px;">
                        <option value=""><?php echo $this->translate('navigation__statflow__feedbackform__manage_anonymous_question_no_modalities@backoffice'); ?></option>
                    </select>
    			</fieldset>
			</fieldset>
			<br>
		</div>
		<br>
		<div class="row-fluid">
				<button type="submit" class="btn btn-primary" name="btnAnonymousQuestionSave" id="btnAnonymousQuestionSave">
			        <i class="icon-ok icon-white"></i><?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
                </button>
                <a id="btnResetAnonymous" class="btn btn-danger" href=""><?php echo $this->translate('navigation__statflow__feedbackform__manage_anonymous_question_reset@backoffice'); ?></a>
		</div>
	</form>
</div>

<link href="<?=$this->baseUrl(); ?>/css/chosen.css" rel="stylesheet" type="text/css" />

<script type='text/javascript' src='<?=$this->baseUrl();?>/js/jquery.js'></script>
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/chosen.jquery.js'></script>
  
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/prism.js'></script>

<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }

    $(".chosen-select").chosen({
        max_selected_options: 1
    });
    
    $( "#btnResetAnonymous" ).click(function() {
        if ($('#sel_questions').val()){
            $.ajax({
                type:'GET',
                url:'/statflow/feedback-form/reset/form/'+<?=$this->feedbackform->id?>,
                dataType:'json',
                success: function(data){
                    	$('#sel_modalities').attr('disabled','disabled');
                    	$('#sel_modalities').removeAttr('multiple');
                    	$('#sel_modalities').html("");
                    	$('#sel_modalities').append( "<option value=''><?=$this->translate('navigation__statflow__feedbackform__manage_anonymous_question_no_modalities@backoffice');?></option>");
                },
                error: function(data){
                    //alert('request KO !');
                }   
           });
        }
  	});
    
    $('#sel_questions').change(function(){
        var question_code = $(this).val();

        $.ajax({
            type:'GET',
            url:'/statflow/feedback-form/change/form/'+<?=$this->feedbackform->id?>+'/question_code/'+question_code,
            dataType:'json',
            success: function(data){
                if (question_code){
                 	$('#sel_modalities').removeAttr('multiple');
                	$('#sel_modalities').removeAttr('disabled');
                	$('#sel_modalities').removeClass('chosen-select');
                	$('#sel_modalities').html("");
                	if(data.length === 0){
                		$('#sel_modalities').attr('disabled','disabled');
                    	$('#sel_modalities').removeAttr('multiple');
                    	$('#sel_modalities').html("");
                    	$('#sel_modalities').append( "<option value=''><?=$this->translate('navigation__statflow__feedbackform__manage_anonymous_question_no_modalities@backoffice');?></option>");
                	}
                	else{
                       	$.each(data, function( key, value ){
                            $('#sel_modalities').append("<option value='"+value+"'>"+value+"</option>");
                        });
                	}
 
                }
                else{
                	$('#sel_modalities').attr('disabled','disabled');
                	$('#sel_modalities').removeAttr('multiple');
                	$('#sel_modalities').html("");
                	$('#sel_modalities').append( "<option value=''><?=$this->translate('navigation__statflow__feedbackform__manage_anonymous_question_no_modalities@backoffice');?></option>");
                }
            },
            error: function(data){
                //alert('request KO !');
            }   
       });         
    });

    var question_code = $('#sel_questions').val();
    var modality_saved = "<?=$this->modalitySaved?>";
    
    if (question_code){
        $.ajax({
            type:'GET',
            url:'/statflow/feedback-form/change/form/'+<?=$this->feedbackform->id?>+'/question_code/'+question_code,
            dataType:'json',
            success: function(data){
                if (question_code){
                 	$('#sel_modalities').removeAttr('multiple');
                	$('#sel_modalities').removeAttr('disabled');
                	$('#sel_modalities').removeClass('chosen-select');
                	$('#sel_modalities').html("");
                   	$.each(data, function( key, value ){
                        if (value == modality_saved){
                            $('#sel_modalities').append("<option selected value='"+value+"'>"+value+"</option>");
                        }
                        else {
                        	$('#sel_modalities').append("<option value='"+value+"'>"+value+"</option>");
                   	    }
                     }); 
                }
                else{
                	$('#sel_modalities').attr('disabled','disabled');
                	$('#sel_modalities').removeAttr('multiple');
                	$('#sel_modalities').html("");
                	$('#sel_modalities').append( "<option value=''><?=$this->translate('navigation__statflow__feedbackform__manage_anonymous_question_no_modalities@backoffice');?></option>");
                }
            },
            error: function(data){
                //alert('request KO !');
            }   
       });
    }
    

</script>
