<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_feedbackform_title@backoffice'); ?>
            <small><?= $this->translate('edit_feedbackform_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-puzzle"></i>
                    <span><?= $this->translate('feedback-form@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-plus font-green"></i>
                    <span class="font-green"><?= $this->translate('edit_feedback-form@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-energy font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('edit_feedbackform@backoffice'); ?></span>
                </div>
            </div>
            <div class="form-actions row margin-top-30">
                <form class="form-horizontal" method="post" role="form" id="addfeedbackform" enctype="multipart/form-data"
                      action="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'edit'), null, true); ?>">
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackform_field_name@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <input class="form-control" required type="text" id="name" name="name" value="<?= $this->feedbackform->name; ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackform_field_external_id@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <input class="form-control" required type="text" id="external" name="external" value="<?= $this->feedbackform->external; ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackform_field_process_time@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <input class="form-control" style="width:20%" pattern="\d+" required type="number" id="process_time" name="process_time" value="<?= $this->feedbackform->process_time; ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackform_field_image@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <?php if ($this->feedbackform->image) { ?>
                                <input class="form-control" type="file" id="image" name="image" value="<?=$this->feedbackform->image; ?>">
                                <input type='hidden' name='image-value' id='image-value' value='<?=$this->feedbackform->image; ?>' />
                                <img src="/uploads/forms/<?= $this->feedbackform->image;?>" style="max-width: 100%">
                            <?php } else { ?>
                            <input class="form-control" required type="file" id="image" name="image" value="">
                            <input type='hidden' name='image-value' id='image-value' value='' />
                            <?php }?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-6">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox"  <?= $this->feedbackform->is_published == 1 ? 'checked' : ''; ?> name="is_published" value="1">
                                <?= $this->translate('feedbackform_field_is_published@backoffice'); ?>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-6">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" <?= $this->feedbackform->is_open == 1 ? 'checked' : ''; ?> name="is_open" value="1">
                                <?= $this->translate('feedbackform_field_is_open@backoffice'); ?>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackform_field_publication_start@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="publication_start" name="publication_start" value="<?= $this->displayDateInLocale($this->feedbackform->publication_start, 'fr'); ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackform_field_publication_end@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="publication_end" name="publication_end" value="<?= $this->displayDateInLocale($this->feedbackform->publication_end, 'fr'); ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackform_field_introduction_text@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <textarea rows="8" class="form-control" type="text" id="introduction_text" name="introduction_text" disabled><?= $this->translate('form__'.$this->feedbackform->id.'__introduction-text@form_'.$this->feedbackform->id); ?>
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-6">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" <?= $this->feedbackform->introduction_is_visible == 1 ? 'checked' : ''; ?> name="introduction_is_visible" value="1">
                                <?= $this->translate('feedbackform_field_introduction_is_visible@backoffice'); ?>
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4"><?= $this->translate('feedbackform_field_style@backoffice'); ?><em class="font-red">*</em></label>
                        <div class="col-md-6">
                            <textarea rows="8" class="form-control" type="text" id="style" name="style"><?php
                                if($this->feedbackform->meta){
                                    $meta = Zend_Json::decode($this->feedbackform->meta);
                                    echo $meta['style'];
                                }?></textarea>
                        </div>
                    </div>
                    <div class="col-md-offset-6 col-md-9">
                        <input type="hidden" required name="study_id" id="study_id" value="<?= $this->feedbackform->study_id; ?>">
                        <input type="hidden" required name="id" id="id" value="<?= $this->feedbackform->id; ?>">
                        <button id="btn_enregistrer_questionnaire" type="submit" class="btn btn-large green-haze" >
                            <i class="icon-pencil"></i>
                            <?= $this->translate('submit@backoffice'); ?>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var errors = <?= json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }
</script>