<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_alert_title@backoffice'); ?>
            <small><?= $this->translate('add_alert_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-briefcase"></i>
                    <span><?= $this->translate('study_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-book-open"></i>
                    <span><?= $this->translate('list_feedback_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-bell font-green-haze"></i>
                    <span class="font-green-haze"><?= $this->translate('add_alert@backoffice'); ?></span>
                </li>
            </ul>
        </div>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-settings font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('Manage_Alert_title@backoffice'); ?></span>
                </div>
            </div>
            <div class="portlet-body">
                <form action="<?= $this->url()?>" method="post" class="form-horizontal" role="form">
                    <?php
                        $key = $this->key;
                        $alert = $this->alert;
                    ?>
                    <h4><?= $this->translate('Alert_rules@backoffice'); ?> (<?= $key?>) :</h4>
                    <div class="form-body row">
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('alert_label@backoffice'); ?></label>
                            <div class="col-md-3">
                                <input type="text" placeholder="Label" class="form-control" name="alert[<?= $key ?>][libelle]" value="<?= $alert['libelle']?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="alert[<?= $key?>][enabled]" value="0">
                            <label class="col-md-3 control-label"> <?= $this->translate('alert_enable@backoffice'); ?></label>
                            <div class="col-md-3">
                                <input type="checkbox" <?= $alert['enabled'] ? 'checked' : '';?> class="make-switch" name="alert[<?= $key?>][enabled]"
                                       value="1" data-size="small" data-on-color="success" data-off-color="danger">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="alert[<?= $key?>][send_email]" value="0">
                            <label class="col-md-3 control-label"> <?= $this->translate('alert_Send_email@backoffice'); ?></label>
                            <div class="col-md-3">
                                <input type="checkbox" <?= $alert['send_email'] ? 'checked' : '';?> class="make-switch" name="alert[<?= $key?>][send_email]"
                                       value="1" data-size="small" data-on-color="success" data-off-color="danger">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('alert_format_attached_file@backoffice'); ?></label>
                            <div class="col-md-8">
                                <div class="mt-radio-list">
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" name="alert[<?= $key?>][format_pj]" id="rad_excel<?= $key?>" value="1" <?= $alert['format_pj'] ? 'checked' : ''; ?>> Excel
                                        <span></span>
                                    </label>
                                    <label class="mt-radio mt-radio-outline">
                                        <input type="radio" name="alert[<?= $key?>][format_pj]" id="rad_xml<?= $key?>" value="0" <?= !$alert['format_pj'] ? 'checked' : ''; ?>> XML
                                        <span></span>
                                    </label>
                                    <span id="atrribut_xml<?= $key?>">
                                        <input class='form-control' id="txt_atrribut_xml<?= $key?>" autocomplete="off" type="text"  name="alert[<?= $key ?>][attribut_xml]" value="<?= $alert['attribut_xml']?>" placeholder="Ex: xmlns=http://statflow.answers">
                                        <span><?= $this->error_msg?></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('alert_rule@backoffice'); ?></label>
                            <div class="col-md-8">
                                <textarea placeholder="ex: {Q1} == 1 AND ( {Q2} != 2 OR {Q3} IN([10,11,12]) )" class="form-control" name="alert[<?= $key?>][rule]"><?= $alert['rule']?></textarea>
                            </div>
                        </div>
                    </div>
                    <h4><?= $this->translate('Alert_email_recipient@backoffice'); ?> (<?= $key?>) :</h4>
                    <hr>
                    <div class="form-body row">
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('adress_email@backoffice'); ?></label>
                            <div class="col-md-9">
                                <ul class="email-adresses">
                                    <?php
                                    foreach($alert['alertRecipients'] as $recipient):?>
                                        <li class="margin-bottom-10">
                                            <input type="hidden" value="<?= $recipient ?>" name="alert[<?= $key?>][recipients][]">
                                            <span class="label md-skip label-sm bg-blue-chambray"><i class="fa fa-envelope"></i> <?= $recipient ?></span>
                                            <a class="font-red" href="javascript:void(0)" onclick="removeRecipient(this)"><i class="icon-trash"></i> </a>
                                        </li>
                                    <?php endforeach;?>
                                    <li>
                                        <input type="email" name="recipient" placeholder="email.address@domain.com">
                                        <a class="font-green-haze" href="javascript:;" onclick="addRecipient(this,<?= $key?>)"><i class="icon-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h4><?= $this->translate('Alert_email_contents@backoffice'); ?> (<?= $key?>) :</h4>
                    <hr>
                    <div class="form-body row">
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('from@backoffice'); ?></label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" value="<?= $alert['senderName']?>" placeholder="Sender Name" name="alert[<?= $key ?>][senderName]">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" value="<?= $alert['senderEmail']?>" placeholder="Sender_Email@statflow.com" name="alert[<?= $key ?>][senderEmail]">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('Subject@backoffice'); ?></label>
                            <div class="col-md-8">
                                <input disabled type="text" class="form-control" value="<?= $this->translate("alert_".$key."_email_subject_form_".($this->form->id)."@Form_".$this->form->id); ?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('Body_HTML@backoffice'); ?></label>
                            <div class="col-md-8">
                                <input disabled type="text" class="form-control" value="<?= $this->translate("alert_".$key."_email_body_form_".($this->form->id)."@Form_".$this->form->id); ?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('Body_Text@backoffice'); ?></label>
                            <div class="col-md-8">
                                <input disabled type="text" class="form-control" value="<?= $this->translate("alert_".$key."_email_body-text_form_".($this->form->id)."@Form_".$this->form->id);?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> <?= $this->translate('alert_attachment_file_name@backoffice'); ?></label>
                            <div class="col-md-4">
                                <input type="text" value="<?= $alert['attachementName']?>" name="alert[<?= $key ?>][attachementName]">-{respondent_id}.xls
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-11">
                                <button type="submit" class="btn green pull-right"><i class="icon-check"></i><?= $this->translate('navigation__submit@backoffice')?></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#rad_excel<?=$key?>").click(function () {
        $("#atrribut_xml<?=$key?>").hide();
    });
    $("#rad_xml<?=$key?>").click(function () {
        $("#atrribut_xml<?=$key?>").show();
    });

    if($("#rad_excel<?=$key?>").is(":checked")){
        $("#txt_atrribut_xml<?=$key?>").val("");
        $("#atrribut_xml<?=$key?>").hide();
    }
    else{
        $("#atrribut_xml<?=$key?>").show();
    }
    
    function addRecipient(btn, key){
        var $li = $(btn).closest('li');
        var $input = $(btn).siblings('input');
        var email;
        var name = "alert["+key+"][recipients][]";
        if($input.val().match(/\w+@\w+/)){
            email = $input.val();
            $('<li class="margin-bottom-10"><input type="hidden" name="'+name+'" value="'+email+'"> <span class="label md-skip label-sm bg-blue-chambray"><i class="fa fa-envelope"></i> '+email+'</span><a class="font-red" href="javascript:void(0)" onclick="removeRecipient(this)"><i class="icon-trash"></i> </a></li>').insertBefore($li);
            $input.val('')
        }
    }
    function removeRecipient(btn){
        $(btn).closest('li').remove();
    }
</script>
<style>
     ul.email-adresses {
        padding:0;
        margin-right:5px;
        list-style-type:none;
    }
     .email-adresses li {
        margin-left:2px;
        float:left; /*pour IE*/
    }
</style>
