<div class="row-fluid">
    <div class="container-fluid">
    <h3>
        <?php echo $this->translate('navigation__statflow__feedbackform__save_external_field_title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'list-external', 'id' => $this->feedbackform->id), null, true); ?>">
            <i class="icon-share-alt icon-white"></i>
            <?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
    </h3>
    </div>
    <hr class="clearfix">
    <div class="container-fluid">
        <form action="<?= $this->url()?>" method="post">
    		<div class="container-fluid gradient-background">
    			<fieldset>
    			    <br>
        			<fieldset>
                        <div class="row-fluid">
                            <div class="span3"><?php echo $this->translate('navigation__statflow__feedbackform__save_external_field_external_id@backoffice'); ?> :</div>
                            <div class="span9">
                                <input class="input-block-level"  type="text" name="import_field_external_id" id="import_field_external_id" value="<?php echo $this->external_id; ?>" maxlength="45">
                            </div>
                        </div>
        			</fieldset>
        		    <br>
        			<fieldset>
                        <div class="row-fluid">
                            <div class="span3"><?php echo $this->translate('navigation__statflow__feedbackform__save_external_field_label@backoffice'); ?> :</div>
                            <div class="span9">
                                <input class="input-block-level" type="text" name="import_field_label" id="import_field_label" value="<?php echo $this->label; ?>" maxlength="45">
                            </div>
                        </div>
        			</fieldset>
    			</fieldset>
    			<br>
    		</div>
        <hr>          
        <div class="row-fluid">
            <div class="span12">
                <button type="submit" class="btn btn-primary" >
                    <i class="icon-ok icon-white"></i>
                    <?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
                </button>
            </div>

        </div>
        </form>
    </div>
</div>