<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_feedbackform_title@backoffice'); ?>
            <small><?= $this->translate('filter_manage_feedbackform_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-puzzle"></i>
                    <span><?= $this->translate('feedbackform_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-filer font-green"></i>
                    <span class="font-green"><?= $this->translate('filter_manage_feedbackform@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-energy font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('filter_feedbackform@backoffice'); ?></span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal" action="<?= $this->url() ?>" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><?= $this->translate('feedbackform_filter@backoffice'); ?></label>
                            <div class="col-md-9">
                                <select multiple="multiple" class="multi-select" id="sel_filters_kpi" name="sel_filters_kpi[]" data-placeholder="<?= $this->translate('feedbackform__choose_filter@backoffice'); ?>">
                                    <?php foreach($this->external_fields as $external_field): ?>
                                        <option <?= in_array($external_field->id, $this->filters) ? 'selected' : ''; ?> value="<?= $external_field->id; ?>"><?= $external_field->label; ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-large green-haze pull-right" >
                                    <i class="icon-plus"></i>
                                    <?= $this->translate('submit@backoffice'); ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function external() {
        $('#sel_filters_kpi').multiSelect();
    }
</script>
<style>
    .ms-container {
        width: 100% !important;
    }
</style>