<div class="row">
	<div class="col-md-12">
		<h3 class="page-title"> <?= $this->translate('manage_feedbackform_title@backoffice'); ?>
			<small><?= $this->translate('hide_column_feedbackform_title@backoffice'); ?></small>
		</h3>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="javascript:;">StatFlow</a>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<i class="icon-puzzle"></i>
					<span><?= $this->translate('feedbackform_chemin@backoffice'); ?></span>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<i class="fa fa-filer font-green"></i>
					<span class="font-green"><?= $this->translate('hide_column_feedbackform@backoffice'); ?></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12">
		<div class="portlet light ">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-energy font-red-sunglo"></i>
					<span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('manage_column_respondents@backoffice'); ?></span>
				</div>
			</div>
			<div class="portlet-body form">
				<form role="form" class="form-horizontal" action="<?= $this->url() ?>" method="post">
					<div class="form-body">
						<div class="form-group">
							<label class="col-md-3 control-label"><?= $this->translate('manage_display_respondent_infos@backoffice'); ?></label>
							<div class="col-md-9">
								<select multiple="multiple" class="multi-select" name="sel_respondent_infos[]" id="sel_respondent_infos">
									<?php foreach($this->respondent_infos as $respondent_info): ?>
										<option <?= in_array($respondent_info, $this->hiddenFields) ? 'selected' : ''; ?> value="<?= $respondent_info; ?>"><?= $respondent_info; ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label"><?= $this->translate('manage_display_respondent_external_fields@backoffice'); ?></label>
							<div class="col-md-9">
								<select multiple="multiple" class="multi-select" name="sel_external_fields[]" id="sel_external_fields">
									<?php foreach($this->external_fields as $external_field): ?>
										<option <?= in_array($external_field, $this->hiddenFields) ? 'selected' : ''; ?> value="<?= $external_field; ?>"><?= $external_field; ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 control-label"><?= $this->translate('manage_display_respondent_questions@backoffice'); ?></label>
							<div class="col-md-9">
								<select multiple="multiple" class="multi-select" name="sel_questions[]" id="sel_questions">
									<?php foreach($this->questions as $question): ?>
										<option <?= in_array($question, $this->hiddenFields) ? 'selected' : ''; ?> value="<?= $question; ?>"><?= $question; ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn btn-large green-haze pull-right" >
									<i class="icon-plus"></i>
									<?= $this->translate('submit@backoffice'); ?>
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
    var errors = <?= json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }

		$('#sel_respondent_infos').multiSelect();
		$('#sel_external_fields').multiSelect();
		$('#sel_questions').multiSelect();
    }
</script>

<style>
	.ms-container {
		width: 100% !important;
	}
</style>
