<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_feedback_title@backoffice'); ?>
            <small><?= $this->translate('list_feedback_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-users"></i>
                    <span><?= $this->translate('study_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-file font-green-haze"></i>
                    <span class="font-green-haze"><?= $this->translate('list_feedback_chemin@backoffice'); ?></span>
                </li>
            </ul>
        </div>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-briefcase font-red-sunglo"></i>
                        <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('Select_study@backoffice'); ?></span>
                    </div>
                    <select class="form-control" name="studies" id="studies">
                        <option value =""><?= $this->translate('all_study@backoffice'); ?></option>
                        <?php foreach ($this->studies as $study) :?>
                            <option <?= $study->id == $this->study ?'selected':''?> value ="<?=$study->id?>"><?=$study->name?></option>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>
        </div>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-settings font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('Manage_feedback_title@backoffice'); ?></span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <a class="btn sbold green-haze"
                           href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'add'), null, true); ?>">
                            <?= $this->translate('feedback_add@backoffice'); ?><i class="icon-plus icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped">
                    <thead class="font-blue-ebonyclay">
                    <tr>
                        <th><?= $this->translate('nom_feedback@backoffice')?></th>
                        <th><?= $this->translate('study@backoffice')?></th>
                        <th><?= $this->translate('publication_feedback@backoffice')?></th>
                        <th><?= $this->translate('parametres@backoffice')?></th>
                        <th><?= $this->translate('isVisible_feedback@backoffice')?></th>
                        <th><?= $this->translate('isPublish_feedback@backoffice')?></th>
                        <th><?= $this->translate('actions@backoffice')?></th>

                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($this->feedbackforms as $form): ?>
                        <tr calss="odd gradeX">
                            <td><div class="margin-bottom-10"><b><?= $form->name?></b></div>
                                <a class="btn btn-sm default" href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form-page', 'action' => 'index', 'feedback_form_id' => $form->id), null, true); ?>">
                                    <i class="icon-settings"></i><?= $this->translate('manage_feedback@backoffice'); ?>
                                </a>
                            </td>
                            <td>#<?= $form->study->id?> | <?= $form->study->name?></td>
                            <td class="center"><?= $this->displayMysqlDate($form->publication_start);?> - <?= $this->displayMysqlDate($form->publication_end);?></td>
                            <td class="center">
                                <div class="btn-group">
                                    <button class="btn btn-xs green-soft dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="icon-wrench"></i>
                                        <?= $this->translate('parametres@backoffice'); ?>
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'list-alert', 'form' => $form->id), null, true)?>">
                                                <i class="icon-bell"></i> <?= $this->translate('feedback_manage_alert@backoffice'); ?>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'validity', 'form' => $form->id), null, true); ?>">
                                                <i class="icon-check"></i> <?= $this->translate('feedback_validety@backoffice'); ?>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'kpi-management', 'action' => 'index', 'form' => $form->id), null, true)?>">
                                                <i class="icon-equalizer"></i> <?= $this->translate('kpi_management@backoffice')?>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'filter', 'id' => $form->id), null, true); ?>">
                                                <i class="icon-umbrella"></i> <?= $this->translate('feedbackform_filter_kpi@backoffice')?>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'manage-import', 'form' => $form->id), null, true); ?>">
                                                <i class="icon-wrench"></i> <?= $this->translate('feedbackform_manage_import@backoffice')?>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'hide', 'id' => $form->id), null, true); ?>">
                                                <i class="icon-eyeglasses"></i> <?= $this->translate('feedbackform_reglage_display_respondent@backoffice')?>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'anonymous', 'id' => $form->id), null, true); ?>">
                                                <i class="icon-ghost"></i> <?= $this->translate('feedbackform_anonymous_question@backoffice'); ?>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'nominative', 'id' => $form->id), null, true); ?>">
                                                <i class="icon-tag"></i> <?= $this->translate('feedbackform_nominative_question@backoffice')?>
                                            </a>
                                        </li>
                                        <li>
                                            <a  href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'order', 'id' => $form->id), null, true); ?>">
                                                <i class="icon-cursor-move"></i> <?= $this->translate('feedbackform_order_column@backoffice')?>
                                            </a>
                                        </li>
                                        <?php if ($this->form->is_open) :?>
                                            <li>
                                                <a href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'list-external', 'id' => $form->id), null, true); ?>">
                                                    <i class="icon-list"></i> <?= $this->translate('feedbackform_save_external_field@backoffice')?>
                                                </a>
                                            </li>
                                        <?php endif;?>
                                    </ul>
                                </div>
                            </td>
                            <td class="center">
                                <input type="checkbox" <?= ($form->is_visible == 1) ? 'checked' : '';?> class="make-switch"
                                       onChange="isVisible(<?=$form->id?>, 'feedback-form')" id="isVisible" data-size="small" data-on-color="success" data-off-color="danger">
                            </td>
                            <td class="center">
                                <input type="checkbox" <?= ($form->is_published == 1) ? 'checked' : '';?> class="make-switch"
                                       onChange="isPublish(<?=$form->id?>, 'feedback-form')" id="isPublish" data-size="small" data-on-color="success" data-off-color="danger">
                            </td>
                            <td>
                                <a class="font-blue-sharp" title="<?= $this->translate('feedback_preview@backoffice'); ?>"
                                   href="<?= $this->url(array('module' => 'statflow', 'controller' => 'preview', 'action' => 'index', 'form' => $form->id), null, true)?>">
                                    <i class="icon-eye"></i>
                                </a>
                                <a class="font-yellow-soft" title="<?= $this->translate('feedback_show_respondents@backoffice'); ?>"
                                   href="<?= $this->url(array('module' => 'statflow', 'controller' => 'respondent', 'action' => 'index', 'feedback_form_id' => $form->id), null, true)?>">
                                    <i class="icon-users"></i>
                                </a>
                                <a class="font-purple-plum btn-duplicate" href="#duplicate-confirmation" data-toggle="modal" title="<?= $this->translate('duplicate_feedbackform@backoffice'); ?>"
                                   data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'duplicate', 'form' => $form->id), null, true); ?>">
                                    <i class="icon-docs"></i>
                                </a>
                                <hr>
                                <a class="font-yellow-gold" href="#import-confirmation" data-toggle="modal" title="<?= $this->translate('feedbackform_translations_import@backoffice')?>">
                                    <i class="icon-cloud-upload"></i>
                                </a>
                                <a class="font-green-haze" id="exportHandle" href="javascript:exportHandle('<?= $form->id?>');"  title="<?= $this->translate('feedbackform_translations_export@backoffice')?>">
                                    <i class="icon-cloud-download"></i>
                                </a>
                                <hr>
                                <a class="font-green-dark" title="<?= $this->translate('feedbackform_edit@backoffice'); ?>"
                                   href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'edit', 'id' => $form->id), null, true)?>">
                                    <i class="icon-pencil"></i>
                                </a>
                                <a  id='btn_delete<?=$form->id; ?>'  href="#delete-confirmation" role="button" data-toggle="modal"
                                    class="font-red-soft btn-delete" title="<?= $this->translate('feedbackform_delete@backoffice')?>"
                                    data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'delete', 'id' => $form->id), null, true)?>">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<script>
    function external()
    {
        $('#studies').on('change',function () {
            if ($(this).val()) {
                window.location = "/statflow/feedback-form/index/study_id/" + $(this).val();
            } else {
                window.location = "/statflow/feedback-form";
            }

        });
    }
</script>