<div class="row-fluid">
    <div class="container-fluid">
	<h3>
        <?php echo $this->translate('navigation__statflow__feedbackform__list_external_field_title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index', 'study_id' => $this->feedbackform->study_id, 'feedback_form_id' => $this->feedbackform->id), null, true); ?>">
            <i class="icon-share-alt icon-white"></i><?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
	</h3>
    </div>
    <hr class="clearfix">
    <h3>
        <a href="<?= $this->url(array('action' => 'add-external'))?>" class="btn btn-primary">
            <i class="icon-plus icon-white"></i>
            <?php echo $this->translate('navigation__statflow__feedbackform__save_external_field_add@backoffice'); ?>
        </a>
    </h3>
    <div class="container-fluid gradient-background">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th><?php echo $this->translate('navigation__statflow__feedbackform__save_external_field_header_external_id@backoffice'); ?></th>
                <th><?php echo $this->translate('navigation__statflow__feedbackform__save_external_field_header_label@backoffice'); ?></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($this->externals as $external):?>
            <tr>                   
                <td><?php echo $external['external_id'];?></td>
                <td><?php echo $external['label']; ?></td>
                <td>                    
                    <a href="#delete-confirmation" data-toggle="modal"
                       class="btn btn-small pull-right btn-table-action btn-delete"
                       data-value="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'remove-external', 'id' => $this->feedbackform->id, 'id_external' => $external['id']), null, true); ?>">
                       <i class="icon-trash"></i>
                       <?php echo $this->translate('navigation__statflow__layout_delete@backoffice'); ?>
                    </a>                
                    <a class="btn btn-small pull-right btn-table-action" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'edit-external', 'id' => $this->feedbackform->id, 'id_external' => $external['id']), null, true); ?>">
                       <i class="icon-pencil"></i>
                       <?php echo $this->translate('navigation__statflow__layout_edit@backoffice'); ?>
                    </a>                    
                </td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
