<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_alert_title@backoffice'); ?>
            <small><?= $this->translate('list_alert_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-briefcase"></i>
                    <span><?= $this->translate('study_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-book-open"></i>
                    <span><?= $this->translate('list_feedback_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-bell font-green-haze"></i>
                    <span class="font-green-haze"><?= $this->translate('list_alert@backoffice'); ?></span>
                </li>
            </ul>
        </div>
        <?php if (!$this->form) : ?>
            <div class="col-md-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-briefcase font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('Select_study@backoffice'); ?></span>
                        </div>
                        <select class="form-control" name="studies" id="studies">
                            <option value =""><?= $this->translate('Select_choose_study@backoffice'); ?></option>
                            <?php foreach ($this->studies as $study) :?>
                                <option value ="<?=$study->id?>"><?=$study->name?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-book-open font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('Select_feedbackForm@backoffice'); ?></span>
                        </div>
                        <select disabled class="form-control" name="forms" id="forms">
                            <option value =""><?= $this->translate('Select_choose_feedbackForm@backoffice'); ?></option>
                        </select>
                    </div>
                </div>
            </div>
        <?php else :?>
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-blue-ebonyclay">
                    <i class="icon-settings font-blue-ebonyclay"></i>
                    <span class="caption-subject bold uppercase"> <?= $this->translate('Manage_Alert_title@backoffice'); ?></span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided">
                        <a class="btn sbold green-haze"
                           href="<?= $this->url(array('action' => 'add-alert'))?>">
                            <?= $this->translate('alert_add@backoffice'); ?><i class="icon-plus icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped">
                    <thead class="font-blue-ebonyclay">
                        <tr>
                            <th><?= $this->translate('alert_header__libelle@backoffice'); ?></th>
                            <th><?= $this->translate('alert_header__enable@backoffice'); ?></th>
                            <th><?= $this->translate('alert_header__send_mail@backoffice'); ?></th>
                            <th><?= $this->translate('alert_header__format_pj@backoffice'); ?></th>
                            <th><?= $this->translate('actions@backoffice'); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($this->alerts as $key => $alert):?>
                        <tr>
                            <td><?= $alert['libelle']?></td>
                            <td><?= $alert['enabled'] == 1 ? '<span class="label label-sm label-info"> '. $this->translate('Yes@backoffice').'</span>' : '<span class="label label-sm label-danger"> '. $this->translate('No@backoffice').'</span>';?></td>
                            <td><?= $alert['send_email'] == 1 ? '<span class="label label-sm label-info"> '. $this->translate('Yes@backoffice').'</span>' : '<span class="label label-sm label-danger"> '. $this->translate('No@backoffice').'</span>';?></td>
                            <td><?= $alert['format_pj'] == true ? '<span class="label label-sm bg-yellow-soft"><i class="fa fa-file-excel-o"></i> Excel</span>' : '<span class="label label-sm bg-purple-plum"><i class="fa fa-file-code-o"></i> XML</span>';?></td>
                            <td>
                                <a href="#delete-confirmation" role="button" data-toggle="modal"
                                   class="btn btn-outline btn-xs red btn-delete"
                                   data-value="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'remove-alert', 'form' => $this->form,'key' => $key), null, true); ?>">
                                   <i class="icon-trash"></i>
                                   <?= $this->translate('delete@backoffice'); ?>
                                </a>
                                <a class="btn btn-outline btn-xs green-haze" href="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'edit-alert', 'form' => $this->form, 'key' => $key,), null, true); ?>">
                                   <i class="icon-pencil"></i>
                                   <?= $this->translate('edit@backoffice'); ?>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
        <?php endif;?>
    </div>
</div>
<script>
    function external() {
        $('#studies').on('change', function () {
            $('#forms').html($('<option>', {
                value: '',
                text: '<?= $this->translate('Select_choose_study@backoffice'); ?>'
            }));
            if ($(this).val()) {
                $.ajax({
                    type: "POST",
                    url: '/statflow/respondent/get-forms-by-study/study_id/' + $(this).val(),
                    success: function (data) {
                        $('#forms').removeAttr('disabled');
                        $.each(JSON.parse(data), function (i, item) {
                            $('#forms').append($('<option>', {
                                value: item.id,
                                text: item.name
                            }));
                        });
                    }
                });
            }
        });
        $('#forms').on('change',function () {
            window.location = "/statflow/feedback-form/list-alert/form/" + $(this).val();
        });
    }
</script>