<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_feedbackform_title@backoffice'); ?>
            <small><?= $this->translate('import_manage_feedbackform_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-puzzle"></i>
                    <span><?= $this->translate('feedbackform_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="fa fa-filer font-green"></i>
                    <span class="font-green"><?= $this->translate('import_manage_feedbackform@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-energy font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('import_feedbackform@backoffice'); ?></span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal" method="post"
                      action="<?= $this->url(array('module' => 'statflow', 'controller' => 'feedback-form', 'action' => 'manage-import', 'form' => $this->form->id), null, true);?>">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label"><b><?= $this->translate('manage__import_field_column_separator @backoffice'); ?></b></label>
                            <div class="col-md-6">
                                <input class="form-control input-small" type="text" name="column_separator" id="column_separator" value="<?= $this->form->column_separator; ?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"><b><?= $this->translate('manage__import_field_regle_pression@backoffice'); ?></b></label>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"><?= $this->translate('manage__import_field_column_info_date@backoffice'); ?></label>
                            <div class="col-md-6">
                                <input class="form-control input-medium"  type="text" name="label_info" id="label_info" value="<?= $this->form->label_info; ?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"><?= $this->translate('manage__import_field_rule_numdays@backoffice'); ?></label>
                            <div class="col-md-6">
                                <input class="form-control input-small" type="text" name="rule_numdays" id="rule_numdays" value="<?= $this->form->rule_numdays; ?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"><b><?= $this->translate('manage__import_field_date_format@backoffice'); ?></b></label>
                            <div class="col-md-6"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-5 control-label"><?= $this->translate('manage__import_field_column@backoffice'); ?></label>
                            <div class="col-md-6">
                                <input class="form-control input-medium"  type="text" name="fieldLabel" id="fieldLabel" value="<?=$this->form->field_label; ?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label"><?= $this->translate('manage__import_field_format@backoffice'); ?></label>
                            <div class="col-md-6">
                                <input class="form-control input-small" type="text" name="fieldFormat" id="fieldFormat" placeholder="Y-m-d OR d-m-Y" value="<?= $this->form->field_format; ?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-9">
                                <input type="hidden" required name="form" id="form" value="<?= $this->form->id ?>">
                                <button type="submit" class="btn btn-large green-haze" >
                                    <i class="icon-plus"></i>
                                    <?= $this->translate('submit@backoffice'); ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
var errors = <?= json_encode($this->validationErrors); ?>;
function external() {
    if (errors != null) {
        $.each(errors, function(input, messages){
            $('#' + input).addClass('input-error');
            var errorMessage = '';
            $.each(messages, function(key, message){
                errorMessage += message + '<br>';
            });
            $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
        });
    }
}
    
</script>
    