<div class="row-fluid">
	<h3>
        <?php echo $this->translate('navigation__statflow__feedbackform__manage_nominative_data@backoffice'); ?>
        
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index', 'study_id' => $this->feedbackform->study_id, 'feedback_form_id' => $this->feedbackform->id), null, true); ?>">
            <i class="icon-share-alt icon-white"></i><?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
	</h3>
	<hr class="clearfix">
	<form id="frmNominative" action="<?= $this->url()?>" method="post">
	   <div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?php echo $this->translate('navigation__statflow__feedbackform__manage_nominative_question_title@backoffice'); ?>  :</legend>
            
            <div class="row-fluid">
                <div class="span6"><?php echo $this->translate('navigation__statflow__feedbackform__manage_nominative_question_questions@backoffice'); ?> :</div>
            </div>
            <div class="row-fluid">    
                <div class="span9">
                    <select name="sel_questions" id="sel_questions" data-placeholder="<?php echo $this->translate('navigation__statflow__feedbackform__manage_nominative_question_choose_questions@backoffice'); ?>" class="chosen-select" multiple style="width:250px;">
                        <?php foreach($this->questions as $question): ?>
                        <option <?php echo ($question === $this->questionSaved) ? 'selected' : ''; ?> value="<?php echo $question; ?>"><?php echo $question; ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
             </div>
             <br>
             <div class="row-fluid">
                <div class="span6"><?php echo $this->translate('navigation__statflow__feedbackform__manage_nominative_question_modalities@backoffice'); ?><em class='required'>*</em>: </div>
             </div>
             <div class="row-fluid"> 
                <div class="span9">  
                    <select name="sel_modalities" id="sel_modalities"  disabled data-placeholder="<?php echo $this->translate('navigation__statflow__feedbackform__manage_anonymous_question_choose_modalities@backoffice'); ?>"  style="width:250px;">
                        <option value=""><?php echo $this->translate('navigation__statflow__feedbackform__manage_anonymous_question_no_modalities@backoffice'); ?></option>
                    </select>
                </div>
            </div>
            
    		<br>
            </fieldset>
        </div>
            
	
	
	<br>
	
	<div  class="container-fluid gradient-background">
            <fieldset>
                <legend><?php echo $this->translate('navigation__statflow__feedbackform__manage_display_nominative_title@backoffice'); ?>  :</legend>
            
                <div class="row-fluid">
                <div class="span6"><?php echo $this->translate('navigation__statflow__feedbackform__manage_display_nominative_infos@backoffice'); ?> :</div>
                </div>
                <div class="row-fluid">
                <div class="span9">
                    <select name="sel_respondent_infos[]" id="sel_respondent_infos" data-placeholder="<?php echo $this->translate('navigation__statflow__feedbackform__manage_display_respondent_choose_infos@backoffice'); ?>" class="chosen-select" multiple style="width:800px;">
                                <?php foreach($this->respondent_infos as $respondent_info): ?>
                                <option <?php echo (in_array($respondent_info, $this->hiddenFields)) ? 'selected' : ''; ?> value="<?php echo $respondent_info; ?>"><?php echo $respondent_info; ?></option>
                                <?php endforeach; ?>
                     </select>
                </div>
                </div>
                
                <br>
                <div class="row-fluid">
                <div class="span9"><?php echo $this->translate('navigation__statflow__feedbackform__manage_display_nominative_external_fields@backoffice'); ?> :</div>
                </div>
               
                <div class="row-fluid">
                <div class="span9">
                    <select name="sel_external_fields[]" id="sel_external_fields" data-placeholder="<?php echo $this->translate('navigation__statflow__feedbackform__manage_display_nominative_choose_externals@backoffice'); ?>" class="chosen-select" multiple style="width:800px;">
                                <?php foreach($this->external_fields as $external_field): ?>
                                <option <?php echo (in_array($external_field, $this->hiddenFields)) ? 'selected' : ''; ?> value="<?php echo $external_field; ?>"><?php echo $external_field; ?></option>
                                <?php endforeach; ?>
                            </select>
                </div>
                </div>
               
               <br>
               <div class="row-fluid">
                <div class="span6"><?php echo $this->translate('navigation__statflow__feedbackform__manage_display_nominative_questions@backoffice'); ?> :</div>
                </div>
               
                <div class="row-fluid">
                <div class="span9">
                    <select name="sel_respondentquestions[]" id="sel_respondentquestions" data-placeholder="<?php echo $this->translate('navigation__statflow__feedbackform__manage_display_nominative_choose_questions@backoffice'); ?>" class="chosen-select" multiple style="width:800px;">
                                <?php foreach($this->respondentquestions as $respondentquestion): ?>
                                <option <?php echo (in_array($respondentquestion, $this->hiddenFields)) ? 'selected' : ''; ?> value="<?php echo $respondentquestion; ?>"><?php echo $respondentquestion; ?></option>
                                <?php endforeach; ?>
                            </select>
                </div>
                </div>
               <br>
               
               
            </fieldset>
      </div>
      
      
      <br>
    		<div class="row-fluid">
    				<button type="submit" class="btn btn-primary" name="btnNominativeQuestionSave" id="btnNominativeQuestionSave">
    			        <i class="icon-ok icon-white"></i><?php echo $this->translate('navigation__statflow__layout_submit@backoffice'); ?>
                    </button>
                    
    		</div>
    
	</form>
	
</div>

<link href="<?=$this->baseUrl(); ?>/css/chosen.css" rel="stylesheet" type="text/css" />

<script type='text/javascript' src='<?=$this->baseUrl();?>/js/jquery.js'></script>
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/chosen.jquery.js'></script>
  
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/prism.js'></script>

<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }

    $("#sel_questions").chosen({
        max_selected_options: 1
    });

    $(".chosen-select").chosen({
        //max_selected_options: 1
    });
    
    $( "#btnResetNominative" ).click(function() {
        if ($('#sel_questions').val()){
            $.ajax({
                type:'GET',
                url:'/statflow/feedback-form/reset/form/'+<?=$this->feedbackform->id?>,
                dataType:'json',
                success: function(data){
                    	$('#sel_modalities').attr('disabled','disabled');
                    	$('#sel_modalities').removeAttr('multiple');
                    	$('#sel_modalities').html("");
                    	$('#sel_modalities').append( "<option value=''><?=$this->translate('navigation__statflow__feedbackform__manage_nominative_question_no_modalities@backoffice');?></option>");
                },
                error: function(data){
                    //alert('request KO !');
                }   
           });
        }
  	});
    
    $('#sel_questions').change(function(){
        var question_code = $(this).val();

        $.ajax({
            type:'GET',
            url:'/statflow/feedback-form/change/form/'+<?=$this->feedbackform->id?>+'/question_code/'+question_code,
            dataType:'json',
            success: function(data){
                if (question_code){
                 	$('#sel_modalities').removeAttr('multiple');
                	$('#sel_modalities').removeAttr('disabled');
                	$('#sel_modalities').removeClass('chosen-select');
                	$('#sel_modalities').html("");
                	if(data.length === 0){
                		$('#sel_modalities').attr('disabled','disabled');
                    	$('#sel_modalities').removeAttr('multiple');
                    	$('#sel_modalities').html("");
                    	$('#sel_modalities').append( "<option value=''><?=$this->translate('navigation__statflow__feedbackform__manage_nominative_question_no_modalities@backoffice');?></option>");
                	}
                	else{
                       	$.each(data, function( key, value ){
                            $('#sel_modalities').append("<option value='"+value+"'>"+value+"</option>");
                        });
                	}
 
                }
                else{
                	$('#sel_modalities').attr('disabled','disabled');
                	$('#sel_modalities').removeAttr('multiple');
                	$('#sel_modalities').html("");
                	$('#sel_modalities').append( "<option value=''><?=$this->translate('navigation__statflow__feedbackform__manage_nominative_question_no_modalities@backoffice');?></option>");
                }
            },
            error: function(data){
                //alert('request KO !');
            }   
       });         
    });

    var question_code = $('#sel_questions').val();
    var modality_saved = "<?=$this->modalitySaved?>";
    
    if (question_code){
        $.ajax({
            type:'GET',
            url:'/statflow/feedback-form/change/form/'+<?=$this->feedbackform->id?>+'/question_code/'+question_code,
            dataType:'json',
            success: function(data){
                if (question_code){
                 	$('#sel_modalities').removeAttr('multiple');
                	$('#sel_modalities').removeAttr('disabled');
                	$('#sel_modalities').removeClass('chosen-select');
                	$('#sel_modalities').html("");
                   	$.each(data, function( key, value ){
                        if (value == modality_saved){
                            $('#sel_modalities').append("<option selected value='"+value+"'>"+value+"</option>");
                        }
                        else {
                        	$('#sel_modalities').append("<option value='"+value+"'>"+value+"</option>");
                   	    }
                     }); 
                }
                else{
                	$('#sel_modalities').attr('disabled','disabled');
                	$('#sel_modalities').removeAttr('multiple');
                	$('#sel_modalities').html("");
                	$('#sel_modalities').append( "<option value=''><?=$this->translate('navigation__statflow__feedbackform__manage_nominative_question_no_modalities@backoffice');?></option>");
                }
            },
            error: function(data){
                //alert('request KO !');
            }   
       });
    }
    

</script>
