<div class="row-fluid">
	<h3>
        <?php echo $this->translate('navigation__statflow__feedbackform__manage_order_column_title@backoffice'); ?>
        <a class="pull-right btn btn-inverse btn-small" href="<?php echo $this->url(array('module' => 'statflow', 'controller' => 'study', 'action' => 'index', 'study_id' => $this->feedbackform->study_id, 'feedback_form_id' => $this->feedbackform->id), null, true); ?>">
            <i class="icon-share-alt icon-white"></i><?php echo $this->translate('navigation__statflow__layout__back_to_list@backoffice'); ?>
        </a>
	</h3>
	<hr class="clearfix">
	<form action="<?= $this->url()?>" method="post">
		<div class="container-fluid gradient-background">
			<fieldset>
				<fieldset>
					<legend style="margin-bottom:10px;"><?php echo $this->translate('navigation__statflow__manage_order_respondent_infos_external_fields@backoffice'); ?> : </legend>
					<div class="row-fluid">
						<div>
                            <ul id="RespondentInfoSortable">
                              <?php foreach($this->respondent_infos as $respondent_info): ?>
                              <li class="ui-state-default" title="<?php echo $respondent_info; ?>" data-value="<?php echo $respondent_info; ?>"><?php echo $respondent_info; ?></li>
                              <?php endforeach; ?>
                            </ul>
						</div>
					</div>
				</fieldset>					
			</fieldset>
			<br>
		</div>
		<br>
		<div class="row-fluid">
            <a id="btnResetOrder" class="btn btn-danger" href=""><?php echo $this->translate('navigation__statflow__feedbackform__manage_order_reset@backoffice'); ?></a>
		</div>		
	</form>	
</div>

<link href="<?=$this->baseUrl(); ?>/css/chosen.css" rel="stylesheet" type="text/css" />
<style>
  #RespondentInfoSortable { list-style-type: none; margin: 0; padding: 0; }
  #RespondentInfoSortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 200px; height: 20px; font-size: 0.9em; text-align: center; vertical-align: middle; white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;}
</style>
  
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/jquery.js'></script>
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/chosen.jquery.js'></script>
  
<script type='text/javascript' src='<?=$this->baseUrl();?>/js/prism.js'></script>

<script>
    var errors = <?php echo json_encode($this->validationErrors); ?>;
    function external()
    {
        if (errors != null) {
            $.each(errors, function(input, messages){
                $('#' + input).addClass('input-error');
                var errorMessage = '';
                $.each(messages, function(key, message){
                    errorMessage += message + '<br>';
                });
                $('<span class="input-block-level help-inline message-error">' + errorMessage + '</span>').insertAfter('#' + input);
            });
        }
    }

  $(function() {
    $( "#RespondentInfoSortable" ).sortable({
        update: function(e, ui) {
        	var data = 'sortInfos=' + $(this).sortable('toArray', { key : 'sortInfos', attribute : 'data-value'});
            $.ajax({
                url: '<?php echo $this->url(array('module', 'statflow', 'controller' => 'feedback-form', 'action' => 'order')); ?>',
                data: data,
                type: 'post',
                dataType: 'json',
                success: function(data){
                    console.log(data);
                }
            });
        }
    });

  });
  

  $( "#btnResetOrder" ).click(function() {
	    $.ajax({
	        url: '<?php echo $this->url(array('module', 'statflow', 'controller' => 'feedback-form', 'action' => 'reset-order')); ?>',
	        data: '',
	        type: 'post',
	        dataType: 'json',
	        success: function(data){
	            console.log(data);
	        }
	    });
	});
	
  </script>
