<div class="row">
    <div class="col-md-12">
        <h3 class="page-title"> <?= $this->translate('manage_feedbackform_title@backoffice'); ?>
            <small><?= $this->translate('validity_feedbackform_title@backoffice'); ?></small>
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="javascript:;">StatFlow</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-puzzle"></i>
                    <span><?= $this->translate('feedbackform_chemin@backoffice'); ?></span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <i class="icon-pencil font-green"></i>
                    <span class="font-green"><?= $this->translate('validity_feedbackform@backoffice'); ?></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-energy font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo sbold uppercase"><?= $this->translate('validity_feedbackform@backoffice'); ?></span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal" action="<?= $this->url(array('action' => 'validity')) ?>" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label"><?= $this->translate('feedbackform__validity-label-select_duration_days@backoffice'); ?></label>
                            <div class="col-md-9">
                                <input id="duration" name="duration" type="text" value="<?= $this->validityDuration; ?>"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><?= $this->translate('feedbackform__validity-label-next-validity-date@backoffice'); ?></label>
                            <div class="col-md-9"><b><span id="validityDate"></span></b></div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-large green-haze" >
                                    <i class="icon-plus"></i>
                                    <?= $this->translate('submit@backoffice'); ?>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function writeValidityDate(days){
        var validity = moment().add('days', days).format('ll');
        $('#validityDate').html(validity);
    }

    function external() {
        $("#duration").ionRangeSlider({
            min: 1,
            max: 1000
        });
        writeValidityDate(<?= $this->validityDuration; ?>);
    }
</script>



